#ph-feedback {
  height: 140px;
  width: 140px;
  position: fixed;
  top: 40%;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#ph-feedback a {
  display: block;
  background: @ph-base-color;
  height: 25px;
  width: 130px;
  padding: 0px 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #333;
}

#ph-feedback a:hover {
  background: @ph-highlight-color;
}

.ph-icon-margin {
  margin-right: 10px;
}
