.ph-intro {
  background-image: url(./static/img/fiber.jpg);
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ph-intro .container .jumbotron {
  background-color: @ph-intro-bg-color;
  color: @ph-intro-color;
  padding: 120px 60px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
