{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "jasmine": true,
    "node": true,
    "protractor": true
  },
  "rules": {
    "func-names": 0,
    "no-unused-expressions": 0
  }
}
