<div ng-controller="DocumentCtrl">
  <div class="ph-header ph-header-large ph-lg-margin-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10">
          <h2 class="ph-lg-margin-top" id="introjs-title">{{revisions[latestOAIdx].title}}</h2>
          <h4 class="ph-lg-margin-bottom">
            <span ng-repeat="author in revisions[latestOAIdx].authors">
              {{author.name}}{{$last ? '' :', '}}
            </span>
          </h4>
        </div>
        <div class="col-sm-2 text-right">
          <h2 class="ph-lg-margin-top">
            <hive-button
              id="introjs-hive"
              document-id="revisions[0].id"
              user="auth.user">
            </hive-button>
          </h2>
        </div>
      </div>
    </div>
    <div class="ph-affix-container"
        element-position="subnavPosition"
        ng-style="{'min-height': subnavSize.height + 'px'}">
      <div class="ph-header-submenu-affix"
          ng-class="{'ph-header-submenu-affixed': subnavPosition.top <= $root.navbarSize.height}"
          ng-style="{top: $root.navbarSize.height  + 'px'}"
          >
        <div class="ph-header-submenu-container" element-size="subnavSize">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <subnav>
                  <ul class="nav nav-tabs ph-header-submenu">
                    <li subnav-target="documents.text">
                      <a><i class="fa fa-fw fa-file-pdf-o"></i> Document</a>
                    </li>
                    <li subnav-target="documents.discussions">
                      <a><i class="fa fa-fw fa-comments"></i> Discussions
                        <span class="badge" ng-if="discussions.stored.length > 0">
                          {{discussions.stored.length}}
                        </span></a>
                    </li>
                  </ul>
                </subnav>
              </div>
            </div>
          </div>
        </div>
        <div class="ph-header-submenu-shadow"></div>
      </div>
    </div>
  </div> <!-- ph-header -->
  <div class="container-fluid">
    <div app-view-segment="1"></div>
  </div>
</div>
