<div ng-controller="DocumentTextCtrl">
  <div ng-if="pdfSource">
    <div class="row ph-md-margin-bottom" >
      <div class="col-md-2">
        <span style="color:gray;">Version:</span>
        <span class="dropdown" is-open="dropdown_open" uib-dropdown style="z-index: 1010;">
          <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
            {{getShortDescription(revisions[activeRevisionIdx])}} <i class="fa fa-fw fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="revision in revisions.slice().reverse()"
                ng-class="{'disabled': !revision.isOpenAccess}">
              <a ng-if="revision.isOpenAccess"
                 href="./documents/{{revision.id}}/revisions/{{revision.revision}}">
                <strong ng-if="revision.revision ===
                revisions[activeRevisionIdx].revision">{{getShortDescription(revision)}}</strong>
                <span ng-if="revision.revision !==
                revisions[activeRevisionIdx].revision">{{getShortDescription(revision)}}</span>
                <i class="fa fa-fw"></i>
              </a>
              <a ng-if="!revision.isOpenAccess" title="This document is not open-access and cannot be displayed yet.">
                {{getShortDescription(revision)}}
                <i class="fa fa-fw fa-lock"></i>
              </a>
            </li>
          </ul>
        </span>
      </div>

      <div class="col-md-5">
        <div ng-if="pdf.status.downloading">
          <div ng-if="pdf.status.bytesLoaded === undefined ||
              pdf.status.bytesTotal === undefined">
            <uib-progressbar class="progress-striped active" value="1" max="1">
              Loading PDF
            </uib-progressbar>
          </div>
          <div ng-if="pdf.status.bytesLoaded !== undefined ||
              pdf.status.bytesTotal !== undefined">
            <uib-progressbar class="progress-striped active"
              value="pdf.status.bytesLoaded / pdf.status.bytesTotal"
              max="1">
              Loading PDF
              ({{pdf.status.bytesLoaded / 1024 | number:0}} KB /
              {{pdf.status.bytesTotal / 1024 | number:0}} KB)
            </uib-progressbar>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <span class="pull-right">
          <a class="btn btn-default" ng-href="{{origPdfSource}}" download>
            Download PDF
          </a>
        </span>
      </div>
    </div>
    {{newSelectors}}
    <div class="row">
      <div class="col-md-9">
        <pdf url="pdfSource" on-update="pdf.status = status"></pdf>
        <pdf-full
          pdf="pdf.status.pdf"
          highlights="[{
            id: '67KJNds4-z',
            selectors: {
              pdfRectangles: [
                {page: 1, top: 0.3, left: 0.35, bottom: 0.4, right: 0.5},
                {page: 1, top: 0.45, left: 0.45, bottom: 0.5, right: 0.3},
                {page: 2, top: 0.3, left: 0.35, bottom: 0.4, right: 0.5},
              ],
              pdfTextPositions: [
                {page: 1, start: 15, end: 22},
                {page: 2, start: 30, end: 35},
              ],
              pdfTextQuotes: [
                {page: 1, exact: 'jürgen', prefix: 'hans-', suffix: ' wurst'},
                {page: 2, exact: 'müller', prefix: 'herr', suffix: ' lüdenscheid'},
              ],
            },
          }]"
          on-highlight-mouseenter=""
          on-highlight-mouseleave=""
          on-select="newSelectors = selectors"

          popover-placement="top"
          popover-is-open="tour.stages[tour.index] === 'highlight'"
          uib-popover-template="'html/shared/tour-highlight.html'"
          popover-trigger="none"
        ></pdf-full>
      </div>
      <!--column for margin notes-->
      <div class="col-md-3">
        <margin-link
          position="top"
          discussion-offsets="text.marginOffsets"
          discussion-sizes="text.marginDiscussionSizes"
          viewport-offset-top="$root.navbarSize.height + subnavSize.height"
          viewport-offset-bottom="0"
          ng-if="subnavPosition.top <= $root.navbarSize.height"
        ></margin-link>
        <margin-link
          position="bottom"
          discussion-offsets="text.marginOffsets"
          discussion-sizes="text.marginDiscussionSizes"
          viewport-offset-top="$root.navbarSize.height + subnavSize.height"
          viewport-offset-bottom="0"
        ></margin-link>
        <margin-discussion
           ng-repeat="discussion in discussions.stored"
           id="d:{{discussion.id}}"
           ng-if="text.highlightInfos[discussion.id].top !== undefined"
           ng-show="text.marginOffsets[discussion.id] !== undefined"
           ng-style="{'top': text.marginOffsets[discussion.id] + 'px'}"
           discussion="discussion"
           on-original-update="originalUpdate(discussion, $comment)"
           on-discussion-delete="discussionDelete(discussion)"
           on-reply-submit="replyAdd(discussion, $reply)"
           on-reply-update="replyUpdate(discussion, $replyOld, $replyNew)"
           on-reply-delete="replyDelete(discussion, $reply)"
           ng-mouseenter="text.highlightBorder[discussion.id] = true"
           ng-mouseleave="text.highlightBorder[discussion.id] = false"
           element-size="text.marginDiscussionSizes[discussion.id]"
           popover-placement="top"
           popover-is-open="discussion.id === 'cDmUY04FkYx9' && tour.stages[tour.index] === 'margin-discussion'"
           uib-popover-template="'html/shared/tour-margin-discussion.html'"
           popover-trigger="none"
           on-rendered="discussionTour.rendered = true"
           >
        </margin-discussion>
        <margin-discussion-draft
         ng-if="originalComment.draft.target && text.highlightInfos.draft.top !== undefined"
         ng-style="{'top': text.highlightInfos.draft.top + 'px'}"
         on-outside-mousedown="!originalComment.draft.title &&
         !originalComment.draft.body && purgeDraft()"
         on-submit="originalComment.draft.title = $title;
         originalComment.draft.body = $body;
         addDiscussion(originalComment.draft);"
         on-title-change="originalComment.draft.title = $title"
         on-body-change="originalComment.draft.body = $body"
         element-size="text.marginDiscussionSizes.draft"
         >
        </margin-discussion-draft>
      </div>
    </div>
  </div>
</div>
