<!doctype html>

<html lang="en" ng-strict-di>
  <head ng-controller="MetaCtrl">
    <!-- base href is the entry point of the deployed app -->
    <base href="<%= config.baseHref %>">
    <title data-ng-bind="metaService.data.title"></title>

    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="language" content="en">
    <meta name="application-name" content="PaperHive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta ng-repeat="meta in metaService.data.meta" attributes="meta">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="./static/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./static/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./static/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./static/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./static/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./static/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./static/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./static/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./static/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./static/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./static/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./static/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./static/favicons/manifest.json">
    <link rel="shortcut icon" href="./static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00addc">
    <meta name="msapplication-TileImage" content="./static/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="./static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#00addc">

    <!-- JSON-LD -->
    <script
      ng-repeat="jsonld in metaService.data.jsonld"
      ng-bind="jsonld | json"
      type="application/ld+json">
    </script>

    <!-- TODO: bundle mathjax in index.js -->
    <script src="<%= mathjaxDir %>/MathJax.js?config=TeX-AMS_HTML-full,Safe">
    </script>

    <link href="index.css" rel="stylesheet">
  </head>
  <body ng-style="{'padding-bottom': footerSize.height}">
    <header>
      <ng-include src="'templates/shared/navbar.html'"></ng-include>
    </header>
    <main app-view-segment="0"></main>
    <footer element-size="footerSize">
      <ng-include src="'templates/shared/footer.html'"></ng-include>
    </footer>
    <ng-include src="'templates/shared/notifications.html'"></ng-include>

    <script src="jspm_packages/system.js"></script>
    <script src="jspm.browser.js"></script>
    <script src="jspm.config.js"></script>
    <script>
      System.import('app/index.ts').then(undefined, console.error.bind(console));
    </script>
  </body>
</html>