<div ng-controller="UserCtrl">
  <div class="ph-header ph-xl-margin-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- title -->
          <div class="ph-lg-padding-top ph-lg-padding-bottom
              ph-md-padding-left ph-md-padding-right">
            <img class="img-thumbnail pull-left ph-md-margin-right"
              ng-src="https://secure.gravatar.com/avatar/{{user.gravatarMd5}}?s=100"
              width="100px"
              >
            <h2 class="ph-no-margin-top">{{user.displayName}}</h2>
            <h4>{{user.userName}}</h4>
            <p class="text-muted">
              <i class="fa fa-fw fa-clock-o"></i> Joined on Jan 3, 1987
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ph-header-submenu-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-tabs ph-header-submenu pull-left">
              <li ng-class="{active:$routeSegment.chain[1].name === 'profile'}">
                <a href="#{{'user.profile' | routeSegmentUrl}}">
                  <i class="fa fa-fw fa-user"></i> Profile
                </a>
              </li>
              <li ng-class="{active:$routeSegment.chain[1].name ===
                'articles'}">
                <a href="#{{'user.articles' | routeSegmentUrl}}">
                  <i class="fa fa-fw fa-leanpub"></i> Articles
                </a>
              </li>
              <li ng-class="{active:$routeSegment.chain[1].name ===
                'comments'}">
                <a href="#{{'user.comments' | routeSegmentUrl}}">
                  <i class="fa fa-fw fa-comments"></i> Comments
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div app-view-segment="1"></div>
  </div>
</div>
