<div ng-controller="UserCtrl">
  <div class="ph-header ph-header-large ph-xl-margin-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- title -->
          <div class="media">
            <div class="media-left">
              <!--picture-->
              <img class="media-object"
                ng-src="https://secure.gravatar.com/avatar/{{user.gravatarMd5}}?s=120">
            </div>
            <div class="media-body">
              <!--heading-->
              <h2 class="media-heading">{{user.displayName}}</h2>
              <h4>{{user.userName}}</h4>
              <p class="text-muted">
                <i class="fa fa-fw fa-clock-o"></i> Joined on Jan 3, 1987
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ph-header-submenu-container" ng-controller="SubNavCtrl">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <subnav>
              <ul class="nav nav-tabs ph-header-submenu pull-left">
                <li subnav-target="user.profile">
                  <a><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li subnav-target="user.articles">
                  <a><i class="fa fa-fw fa-user"></i> Articles</a>
                </li>
                <li subnav-target="user.comments">
                  <a><i class="fa fa-fw fa-comments"></i> Comments</a>
                </li>
              </ul>
            </subnav>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div app-view-segment="1"></div>
  </div>
</div>
