<!-- Header Start -->
<div class="ph-header ph-xl-margin-bottom">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <div class="media">

          <div class="media-left">
            <!--icon-->
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-warning fa-stack-1x"></i>
            </span>
          </div>

          <div class="media-body ph-vertical-middle">
            <!--heading-->
            <h2 class="media-heading">Alpha version</h2>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- Header End -->

<!-- Content Start -->
<div class="container">
  <div class="row">

    <div class="col-md-12 ph-xl-margin-bottom">
      <h3 class="ph-sm-margin-bottom">Warning</h3>
      <p>
      PaperHive is still in heavy development, in front end and back end. The
      version you see here is made for allowing everyone to experiment and
      provide some feedback. While we
      try our best to keep the data structure intact, all annotations may be
      deleted at one point or another.

      </p>

    </div>
  </div>
</div>
<!-- Content End -->
