<form name="annotationForm"
  ng-submit="annotationForm.$valid && updateAnnotation()" novalidate>
  <span id="helpBlock" class="help-block pull-right"
    style="font-size:smaller">
    You can use <a
      href="http://kramdown.gettalong.org/syntax.html">Markdown</a>,
    $$<a
      href="http://www.mathjax.org/demos/tex-samples/">LaTeX</a>$$,
    ```<a href="https://highlightjs.org/">code blocks</a>```,
    @-mentions
  </span>
  <textarea
    id="textbody"
    class="form-control ph-annotation-body"
    ng-model="tmpBody"
    mentio
    mentio-macros="macros"
    mentio-search="searchPeople(term)"
    mentio-items="localItems"
    mentio-select="getPeopleText(item)"
    mentio-template-url="/user-mentions.tpl"
    mentio-require-leading-space="true"
    rows="6"
    placeholder="Leave a comment..."
    required
    >
  </textarea>

  <script type="text/ng-template" id="/user-mentions.tpl">
  <ul class="list-group user-search">
    <li
     mentio-menu-item="user"
     ng-repeat="user in items"
     class="list-group-item"
     >
     <img
     ng-src="https://secure.gravatar.com/avatar/{{user.gravatarMd5}}?s=30"
     class="user-photo"
     >
     {{user.userName}}
     <em style="color:#888;">{{user.displayName}}</span>
     <!--span class="text-primary"
      ng-bind-html="user.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"
      ></span-->
     <!--em class="text-muted" ng-bind="user.bio | words:5"></em-->
    </li>
    </ul>
  </script>

  <hr>
  <label for="preview">Preview</label>
  <div class="well well-lg" id=preview>
    <kramjax body="{{tmpBody}}"></kramjax>
  </div>
  <span class="pull-right">
    <button type="submit" class="btn btn-danger" ng-click="setEditOff()">
      Cancel
    </button>
    &nbsp;
    <button
      type="submit"
      class="btn btn-primary"
      ng-click="updateAnnotation(tmpBody)"
      ng-disabled="annotationForm.$invalid"
      >
      Update annotation
    </button>
  </span-->
</form>
