<div class="row">
  <a href="#{{'article.text' | routeSegmentUrl}}">
    Test link
  </a>
  <form action="#{{'article.annotations.new' | routeSegmentUrl}}">
    <input type="submit" class="btn btn-primary pull-right" value="New annotation">
  </form>
</div>
<ul class="row list-group">
  <li class="list-group-item">
  <span class="badge">14</span>
  Annotation #1
  </li>
  <li class="list-group-item">
  Annotation #2233
  </li>
  <li class="list-group-item">
  <span class="badge">1</span>
  Annotation #pi
  </li>
</ul>
