<a class="media-left" href="#">
  <img
  src="https://secure.gravatar.com/avatar/?s=80"
  alt="thumbnail"
  class="img-rounded"
  width="80px"
  >
</a>
<div class="media-body" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a
        href="/#/users/{{annotation.author.userName}}"
        >
        {{annotation.author.displayName}}
      </a> commented <span am-time-ago="{{annotation.time}}"></span>
      <div class="pull-right">
        <span ng-if="isArticleAuthor" class="ph-comment-tag">Author</span>
        <span ng-if="annotation.permissions.edit"><i class="fa fa-pencil"></i></span>
        <a
          href
          ng-if="canDelete && annotation.permissions.delete"
          confirmed-click="deleteFunction(annotation._id)"
          ng-confirm-click="Really delete reply?"
          >
          <i class="fa fa-remove"></i>
        </a>
      </div>
    </div>
    <div class="panel-body">
      <kramjax body="{{annotation.body}}"></kramjax>
    </div>
  </div>
</div>
