<a class="media-left" href="#">
  <img
  src="https://secure.gravatar.com/avatar/?s=80"
  alt="thumbnail"
  class="img-rounded"
  width="80px"
  >
</a>
<div class="media-body" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a
        href="/#/users/{{annotation.author.userName}}"
        >
        {{annotation.author.displayName}}
      </a> commented <span am-time-ago="{{annotation.time}}"></span>
      <span class="pull-right">
        <span ng-if="isArticleAuthor" class="ph-comment-tag">Author</span>
        <!-- Can't use ng-if here; it seems to create another scope. -->
        <!--  ng-if="annotation.permissions.edit" -->
        <button
          class="btn btn-link"
          ng-click="setEditOn()"
          >
          <i class="fa fa-pencil"></i>
        </button>
        <button
          ng-if="deleteFunction && annotation.permissions.delete"
          class="btn btn-link"
          confirmed-click="deleteFunction(annotation._id)"
          ng-confirm-click="Really delete reply?"
          >
          <i class="fa fa-remove"></i>
        </button>
      </span>
    </div>
    <div class="panel-body">
      <ng-include
      ng-if="isEditMode"
      src="'templates/annotation-inline-edit.html'"
      >
      </ng-include>
      <kramjax ng-if="!isEditMode" body="{{annotation.body}}"></kramjax>
    </div>
  </div>
</div>
