<form name="issueForm" ng-controller="IssueCtrl"
  ng-submit="issueForm.$valid && IssueCtrl.addAnnotation(pdf)" novalidate>
  <div class="row">
    <div class="col-md-10" style="border: 1px #e4e4e4 solid; border-radius: 5px; padding: 10px">
      <input placeholder="Title" class="form-control"/>
      <br/>
      <textarea class="form-control" ng-model='body' rows="6"
        style='resize:vertical;' placeholder="Leave an annotation..." required></textarea>
      <hr>
      <label for="preview">Preview</label>
      <div class="well well-lg" id=preview>
        <kramjax ng-model="body" ></kramjax>
      </div>
    </div>
    <div class="col-md-2">
      <!-- Open annotation motivations -->
      <h4>Labels</h4>
      <ul class="ph-labelset">
        <li>
        <input type="checkbox" id="button0"/>
        <label for="button0" class="comment" onclick>comment</label>
        </li>
        <li>
        <input type="checkbox" id="button1"/>
        <label for="button1" class="edit" onclick>edit</label>
        </li>
        <li>
        <input type="checkbox" id="button2"/>
        <label for="button2" class="question" onclick>question</label>
        </li>
        <li>
        <input type="checkbox" id="button3"/>
        <label for="button3" class="link" onclick>link</label>
        </li>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-default pull-right"
        ng-disabled="issueForm.$invalid">
        Submit
      </button>
    </div>
  </form>
