<h4>Title of the annotation <span>#22</span></h4>
<a href="#">Erwin Lottomann</a> created this annotation 2 days ago &middot; 5 comments
<hr>
<div class="col-md-10">
  <div class="row">
    <div class="col-md-2">
      <img
      src="http://win.ua.ac.be/~nschloe/other/jimmy-thumbnail.png"
      alt="thumbnail" class="img-thumbnail"/>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#">Jimmy</a> commented 2 days ago
          <span class="pull-right"><i class="fa fa-pencil"></i></span>
        </div>
        <div class="panel-body">
          <kramjax>
          Simple equations, like $$x^y$$ or $$x_n = \sqrt{a + b}$$ can be typeset
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
          ```python
          def mysin(x):
          y = sin(x)
          return y
          ```
          </kramjax>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <img
      src="http://win.ua.ac.be/~nschloe/other/hoppenstedt.png"
      alt="thumbnail" class="img-thumbnail"/>
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <a href="#">Opa Hoppenstedt</a> commented 2 days ago
          <span class="pull-right">
            <i class="fa fa-pencil"></i>
            &nbsp;
            <i class="fa fa-times"></i>
          </span>
        </div>
        <div class="panel-body">
          <kramjax>
          Simple equations, like $$x^y$$ or $$x_n = \sqrt{a + b}$$ can be typeset
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
          ```python
          def mysin(x):
          y = sin(x)
          return y
          ```
          </kramjax>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-2">
      <img
      src="http://win.ua.ac.be/~nschloe/other/jimmy-thumbnail.png"
      alt="thumbnail" class="img-thumbnail"/>
    </div>
    <div class="col-md-10">
      <form name="annotationForm" ng-controller="AnnotationCtrl"
        ng-submit="annotationForm.$valid && AnnotationCtrl.addAnnotation(pdf)" novalidate>
        <div class="panel panel-default">
          <div class="panel-body">
            <textarea class="form-control ph-annotation-body" ng-model='annotation.body'
              rows="6" placeholder="Leave an annotation..."></textarea>
            <hr>
            <label for="preview">Preview</label>
            <div class="well well-lg" id=preview>
              <kramjax ng-model="annotation.body"></kramjax>
            </div>
            <span class="pull-right">
              <button type="submit" class="btn btn-default"
                ng-disabled="annotationForm.$invalid">
                Close annotation
              </button>
              &nbsp;
              <button type="submit" class="btn btn-primary"
                ng-disabled="annotationForm.$invalid">
                Submit
              </button>
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="col-md-2">
  <h5>Labels <span class="pull-right"><i class="fa fa-gear"></i></span></h5>
  <ul class="ph-labelset">
    <li>
    <input type="checkbox" id="button0"/>
    <label for="button0" class="comment" onclick>comment</label>
    </li>
    <li>
    <input type="checkbox" id="button3"/>
    <label for="button3" class="link" onclick>link</label>
    </li>
  </ul>
  <hr>
  <h5>Notifications</h5>
  subscribe button
  <hr>
  <h5>Participants</h5>
  List of participants
  <hr>
  <a href=""><i class="fa fa-lock"></i> Lock annotation</a>
</div>
