<div class="media">
  <div class="media-left">
    <h3 class="media-heading"><i class="fa fa-file-text-o fa-fw"></i></h3>
  </div>
  <div class="media-body">
    <h3 class="media-heading">
      <!-- TODO use route segment here -->
      <a href="#/articles/{{articles[0]._id}}">
        {{articles[0].title}}
      </a><br>
      <small>
        <span ng-repeat="author in articles[0].authors">
          <!-- TODO use route segment here -->
          <a href="#/users/{{author.userName}}">{{author.displayName}}</a>{{$last ? '' :', '}}
        </span>
      </small>
    </h3>
    from <a href="#/users/{{articles[0].owner.accountName}}">{{articles[0].owner.displayName}}</a>
  </div>
</div>
