<a class="media-left" href="#">
  <img
  src="https://secure.gravatar.com/avatar/?s=80"
  alt="thumbnail"
  width="80px"
  >
</a>
<div class="media-body" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a
        href="/#/users/{{annotation.author.userName}}"
        >
        {{annotation.author.displayName}}
      </a> commented 2 days ago
      <span class="pull-right"><i class="fa fa-pencil"></i></span>
    </div>
    <div class="panel-body">
      <kramjax body="{{annotation.body}}"></kramjax>
    </div>
  </div>
</div>
