<a class="media-left" href="#">
  <img
  src="https://secure.gravatar.com/avatar/?s=80"
  alt="thumbnail"
  width="80px"
  >
</a>
<div class="media-body" ng-controller="AnnotationCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a
        href="/#/users/{{userLookup2[annoLookup[discussion.originalAnnotationId].authorId].userName}}"
        >
        YY
        {{getOne()}}
        XX
        {{AnnotationCtrl.getAnnotation(discussion.originalAnnotationId)}}
        XX
        {{userLookup2[AnnotationCtrl.getAnnotation(discussion.originalAnnotationId).authorId].displayName}}a
      </a> commented 2 days ago
      <span class="pull-right"><i class="fa fa-pencil"></i></span>
    </div>
    <div class="panel-body">
      {{annoLookup[discussion.originalAnnotationId].body}}
    </div>
  </div>
</div>
