<div ng-controller="AnnotationCtrl">
<ul class="nav nav-pills nav-stacked" role="tablist">
  <li
  data-toggle="tooltip"
  data-placement="left"
  title="Tooltip on left"
  role="presentation"
  ng-class="{active: ('article.text' | routeSegmentStartsWith)}"
  >
  <a href="#{{'article.text' | routeSegmentUrl}}">
    <i class="fa fa-file-pdf-o fa-fw"></i> Text
  </a>
  </li>
  <!--li role="presentation" ng-class="{active: ('article.annotations' |
      routeSegmentStartsWith)}"-->
  <li role="presentation" ng-class="{active:
  ('article.annotations' | routeSegmentStartsWith)
  || ('article.annotations-new' | routeSegmentStartsWith)
  || ('article.annotations-single' | routeSegmentStartsWith)
  }">
  <a href="#{{'article.annotations' | routeSegmentUrl}}">
    <i class="fa fa-pencil fa-fw"></i> Annotations <span
      class="badge">{{articles[0].discussions.length}}</span>
  </a>
  </li>
  <li role="presentation" ng-class="{active: ('article.settings' | routeSegmentStartsWith)}">
  <a href="#{{'article.settings' | routeSegmentUrl}}">
    <i class="fa fa-wrench fa-fw"></i> Settings
  </a>
  </li>
</ul>
</div>
