<div ng-controller="AnnotationCtrl">
<h4>Title of the annotation <span>#22</span></h4>
<a href="#">Erwin Lottomann</a> created this annotation 2 days ago &middot; 5 comments
<hr>
<div class="col-md-10">
  <ul class="media-list">
    <li class="media">
    <annotation content="discussion.originalAnnotation"></annotation>
    </li>

    <li class="media" ng-repeat="reply in discussion.replies">
    <annotation content="reply"></annotation>
    </li>

    <li class="media">
    <a class="media-left" href="#">
      <img
      src="https://secure.gravatar.com/avatar/?s=80"
      alt="thumbnail"
      width="80px"
      >
    </a>
    <div class="media-body" style="width:100%">
      <div class="panel panel-default">
        <div class="panel-body">
          <form name="annotationForm" ng-controller="AnnotationCtrl"
            ng-submit="annotationForm.$valid && AnnotationCtrl.addAnnotation(pdf)" novalidate>
            <span id="helpBlock" class="help-block pull-right"
              style="font-size:smaller">
              You can use <a
                href="http://kramdown.gettalong.org/syntax.html">Markdown</a>,
              $$<a
                href="http://www.mathjax.org/demos/tex-samples/">LaTeX</a>$$,
              ```<a href="https://highlightjs.org/">code blocks</a>```
            </span>
            <textarea id="textbody" class="form-control ph-annotation-body" ng-model='annotation.body'
              rows="6" placeholder="Leave a comment..." required></textarea>
            <hr>
            <label for="preview">Preview</label>
            <div class="well well-lg" id=preview>
              <kramjax ng-model="annotation.body"></kramjax>
            </div>
            <span class="pull-right">
              <button type="submit" class="btn btn-default">
                Close discussion
              </button>
              &nbsp;
              <button type="submit" class="btn btn-primary"
                ng-disabled="annotationForm.$invalid">
                Submit
              </button>
            </span>
          </form>
        </div>
      </div>
    </div>
    </li>
  </ul>
</div>

<div class="col-md-2">
  <a href="#"><h5>Labels <span class="pull-right"><i class="fa
          fa-gear"></i></span></h5></a>
  <ul class="ph-tags">
    <li>
    <a href="#" class="btn btn-default comment">comment</a>
    </li>
    <li>
    <li>
    <a href="#" class="btn btn-default link">link</a>
    </li>
    </li>
  </ul>
  <hr>
  <h5>Notifications</h5>
    <button type="button" class="btn btn-default" style="width:100%"
      ng-disabled="!auth.user"
      ng-click="toggleSubscribe()"
      >
      <span ng-show="isSubscribed">
        <i class="fa fa-bell-slash"></i> Unsubscribe
      </span>
      <span ng-show="!isSubscribed">
        <i class="fa fa-bell"></i> Subscribe
      </span>
    </button>
    <span ng-show="isSubscribed" style="font-size:x-small;">You're receiving
      notifications because you're subscribed to this thread.</span>
    <span ng-show="!isSubscribed" style="font-size:x-small;">You're ignoring this thread.</span>
  <hr>
  <h5>Participants</h5>
  List of participants
  <hr>
  <a href=""><i class="fa fa-lock"></i> Lock discussion</a>
</div>
</div>
