<h3>
  <span class="pull-right">
    <!--input type="text" class="form-control" placeholder="Filter
              annotations"-->
    <a href="#{{'article.annotations-new' | routeSegmentUrl}}"
      class="btn btn-primary"
      ng-disabled="!auth.user"
      >
      New discussion
    </a>
  </span>
  {{articles[0].discussions[0].title}}
  <span style="color:#999;">
    #{{articles[0].discussions[0].number}}
  </span>
</h3>
<a href="#/users/{{articles[0].discussions[0].originalAnnotation.author.userName}}">
  {{articles[0].discussions[0].originalAnnotation.author.displayName}}
</a>
created this annotation
<span am-time-ago="{{articles[0].discussions[0].originalAnnotation.time}}"></span>
&middot; {{articles[0].discussions[0].replies.length}} replies

<hr>
<div class="col-md-10">
  <ul class="media-list">
    <li class="media">
    <annotation
    ng-if="articles[0].discussions[0].originalAnnotation.permissions.read"
    content="articles[0].discussions[0].originalAnnotation"
    is-article-author="isAuthor(articles[0].discussions[0].originalAnnotation.author._id)"
    can-delete="false"
    ></annotation>
    </li>

    <li class="media" ng-repeat="reply in articles[0].discussions[0].replies">
    <annotation
    ng-if="reply.permissions.read"
    content="reply"
    is-article-author="isAuthor(reply.author._id)"
    can-delete="true"
    ></annotation>
    </li>

    <li class="media">
    <ng-include src="'templates/annotation-new-block.html'" ng-if="auth.user"></ng-include>
    <div ng-if="!auth.user" class="media-body ph-login-info-block">
      <div class="panel panel-default">
        <div class="panel-body bg-info">
          <a href="{{auth.orcidUrl}}" class="btn btn-primary">
            Sign in with ORCID
          </a>
          to join this discussion on PaperHub.
        </div>
      </div>
    </div>
    </li>
  </ul>
</div>

<div class="col-md-2">
  <ng-include src="'templates/discussion-sidebar.html'"></ng-include>
</div>
