<div ng-controller="AnnotationCtrl">
  <h4>{{discussion.title}} <span>#{{discussion.number}}</span></h4>
  <a href="#">{{discussion.originalAnnotation.author.displayName}}</a> created
  this annotation <span am-time-ago="{{discussion.originalAnnotation.time}}"></span> &middot; {{discussion.replies.length}} replies
  <hr>
  <div class="col-md-10">
    <ul class="media-list">
      <li class="media">
      <annotation content="discussion.originalAnnotation"></annotation>
      </li>

      <li class="media" ng-repeat="reply in discussion.replies">
      <annotation content="reply"></annotation>
      </li>

      <li class="media">
      <ng-include src="'templates/annotation-new-block.html'"></ng-include>
      </li>
    </ul>
  </div>

  <div class="col-md-2">
    <ng-include src="'templates/discussion-sidebar.html'"></ng-include>
  </div>
</div>
