<div
  class="panel panel-default"
  ng-style="
  {
  'top': offsetPx,
  'position': 'relative',
  'border': '1px solid LightGray',
  'width': '100%+60px',
  'margin-left': '-60px',
  'background': 'white'
  }
  "
  >
  <div class="panel-heading">
    <img
    src="https://secure.gravatar.com/avatar/{{auth.user.gravatarMd5}}?s=30"
    class="ph-avatar"
    alt="{{auth.user.displayName}} avatar"
    >
    {{auth.user.displayName}}
  </div>
  <div class="panel-body">
    <form
      name="annotationForm"
      ng-submit="annotationForm.$valid && addAnnotation()"
      novalidate
      >
      <textarea
        id="textbody"
        class="form-group form-control ph-annotation-body"
        placeholder=""
        mentio
        mentio-macros="macros"
        mentio-search="searchPeople(term)"
        mentio-items="localItems"
        mentio-select="getPeopleText(item)"
        mentio-template-url="/user-mentions.tpl"
        mentio-require-leading-space="true"
        rows="2"
        >
      </textarea>
      <span class="pull-right">
        <button
          class="btn btn-sm btn-primary"
          >
          Comment
        </button>
      </span>
    </form>
  </div>
</div>
