<!-- Header Start -->
<div class="ph-header ph-xl-margin-bottom">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <div class="media">

          <div class="media-left">
            <!--icon-->
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-legal fa-stack-1x"></i>
            </span>
          </div>

          <div class="media-body ph-vertical-middle">
            <!--heading-->
            <h2 class="media-heading">Legal notice</h2>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- Header End -->

<!-- Content Start -->
<div class="container">
  <div class="row">

    <div class="col-md-12 ph-xl-margin-bottom">
      <h3 class="ph-sm-margin-bottom">Website operators</h3>
      <p>
        In compliance with the German law
        <a href="http://www.gesetze-im-internet.de/tmg/__5.html">TMG § 5</a>,
        this page (<em>Impressum</em>) gives information about the operators of
        this website.
      </p>
      <p>
        This website is operated by:
      </p>
      <p>
        <strong>André Gaul</strong>, 
        <a href="mailto:andre@gaul.io"><i class="fa fa-envelope fa-fw"></i>
          andre@gaul.io</a>,
        Kreuzbergstr. 36, 10965 Berlin
        <br>
        <strong>Nico Schlömer</strong>,
        <a href="mailto:nico.schloemer@gmail.com"><i class="fa fa-envelope fa-fw"></i>
          nico.schloemer@gmail.com</a>,
        Revaler Str. 10, 10245 Berlin
      </p>

    </div>
  </div>
</div>
<!-- Content End -->
