<div class="ph-bg-full ph-bg-full-endeavour ph-bg-full-dark ph-attribution-container ph-undo-navbar-padding" id="subscribe">
  <video autoplay loop poster="static/img/rocket.jpg" class="ph-bg-rocket">
    <source src="static/vid/rocket.webm" type="video/webm">
    <source src="static/vid/rocket.mp4" type="video/mp4">
  </video>
  <div class="ph-intro-content ph-bg-overlay" viewport-height>
    <div class="container text-center">
      <h2 class="ph-lg-margin-bottom">
        You successfully subscribed to PaperHive launch notifications!
      </h2>
      <p>
        <a href="https://twitter.com/paperhive">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>
        </a>
      </p>
    </div>
  </div>
  <attribution
    work-name="Atlantis Launches to the International Space Station"
    attribution-name="NASA"
    attribution-url="http://www.nasa.gov/multimedia/hd/HDGalleryCollection_archive_2.html"
    license-name="NASA Media Usage Guidelines"
    license-url="http://www.nasa-usa.de/multimedia/guidelines/index.html"
    >
  </attribution>
</div>

