<tabset>
<tab heading="Paper">
<!-- Page content -->
<div class="container" ng-controller="DisplayCtrl as displayCtrl" >
  <div class="row">
    <h4>View PDF</h4>
    <form name="pdfForm" role="form" ng-submit="displayCtrl.fetchPdf()">
      <div class="form-group">
        <div class="col-xs-4">
          <input type="url" ng-model="displayCtrl.url"
          placeholder="Enter PDF URL"
          class="form-control"/>
        </div>
        <input class="btn btn-default" type="submit" value="Fetch" />
      </div>
    </form>
  </div>

  <div class="row">
    <div id="the-canvas-wrapper" class="col-md-8">
      <!--canvas id="the-canvas" style="border:1px solid black;"/-->
    </div>
    <div class="col-md-4">
      Annotations column
    </div>
  </div>
</div>
</tab>
<tab heading="Issues" ng-controller="IssueCtrl">
  <div class="container">
    <h4>New issue</h4>
    <textarea class="form-control" ng-model='body'></textarea>
    <hr>
    <label for="preview">Preview</label>
    <div style='border: 2px dotted #ccc; padding: 3px;' id=preview>
      <kramjax ng-model="body"></kramjax>
    </div>
    <hr>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</tab>
</tabset>
