<tabset>
<tab heading="&#xf0f6; Paper">
<!-- Page content -->
<div class="container" ng-controller="DisplayCtrl as displayCtrl" >
  <div class="row">
    <h4>View PDF G{{displayCtrl.fetchUrl}}G</h4>
    <form name="pdfForm" role="form" ng-submit="displayCtrl.setFetchUrl()">
      <div class="form-group">
        <div class="col-xs-4">
          <input type="url" ng-model="displayCtrl.url"
          placeholder="Enter PDF URL"
          class="form-control"/>
        </div>
        <input class="btn btn-default" type="submit" value="Fetch" />
      </div>
    </form>
  </div>

  <div class="row">
    <show-pdf url='{{displayCtrl.fetchUrl}}'></show-pdf>
    <!--div id="the-canvas-wrapper" class="col-md-8">
    </div-->
    <div class="col-md-4">
      Annotations column
    </div>
  </div>
</div>
</tab>
<tab heading="&#xf12a; Issues">
<div class="container col-md-8 col-md-offset-1">
  <h4>New issue</h4>
  <form name="issueForm" ng-controller="IssueCtrl"
    ng-submit="issueForm.$valid && IssueCtrl.addAnnotation(pdf)" novalidate>
    <textarea class="form-control" ng-model='body' rows="6"
      style='resize:vertical;' required></textarea>
    <hr>
    <label for="preview">Preview</label>
    <div style='border: 2px dotted #ccc; padding: 3px;' id=preview>
      <kramjax ng-model="body"></kramjax>
    </div>
    <hr>
    <!-- Open annotation motivations -->
    <label>Motivation</label>
    <label class="radio-inline">
      <input type="radio" name="radioOptions" id="inlineCheckbox1" value="option1">Comment
    </label>
    <label class="radio-inline">
      <input type="radio" name="radioOptions" id="inlineCheckbox2" value="option2">Edit
    </label>
    <label class="radio-inline">
      <input type="radio" name="radioOptions" id="inlineCheckbox3" value="option3">Question
    </label>
    <label class="radio-inline">
      <input type="radio" name="radioOptions" id="inlineCheckbox4" value="option4">Link
    </label>
    <hr>
    <button type="submit" class="btn btn-default"
      ng-disabled="issueForm.$invalid">Submit</button>
  </form>
</div>
</tab>
</tabset>
