<div class="container">
  <div class="col-md-3">
    <a href="#">
      <img class="img-thumbnail"
      src="http://win.ua.ac.be/~nschloe/other/hoppenstedt.png"
      width="100%"
      >
    </a>
    <h3>Opa Hoppenstedt</h3>
    <h4>hoppi</h4>
    <hr>
    <i class="fa fa-envelope-o"></i> <a href="mailto:#">hoppi@loriot.fr</a>
    <br>
    <i class="fa fa-clock-o"></i> Joined on Jan 3, 1987
  </div>
  <div class="col-md-9">
    <tabset>
    <tab heading="Comments">
    List of comments
    </tab>
    <tab heading="Articles">
    List of articles
    </tab>
    </tabset>
  </div>
</div>
