<div class="ph-header ph-header-large ph-xl-margin-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="media">
          <div class="media-left">
            <!--icon-->
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-heart fa-stack-1x"></i>
            </span>
          </div>
          <div class="media-body ph-vertical-middle">
            <!--heading-->
            <h1 class="media-heading" ng-show="auth.user">
              Welcome<span ng-show="!auth.user.firstSignin">&nbsp;back</span>,
              {{auth.user.givenNames}}!
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div ng-show="auth.user.firstSignin" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Please update your settings!</h3>
        </div>
        <div class="panel-body">
          Head over to your
          <a href="/settings">settings page</a>
          in order to pick a PaperHive username!
        </div>
      </div>
      <div ng-show="!auth.user.firstSignin && !auth.user.username" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa fa-fw fa-warning"></i>
            You don't have a username – please update your settings!
          </h3>
        </div>
        <div class="panel-body">
          Head over to your
          <a href="/settings">settings page</a>
          in order to pick a PaperHive username!
        </div>
      </div>
    </div>
  </div>
</div>
