<!-- Content Start -->
<div class="container ph-lg-margin-bottom">
  <h2 id="about">About PaperHive</h2>

  <h3 class="ph-heading-light">The coworking hub for researchers</h3>

  <div class="row">
    <div class="col-md-4">
      <p>
        PaperHive introduces seamless discussion of research papers directly in
        the browser, embedded in the regular workflow. This enables
        researchers to attach questions, corrections, formulas, figures,
        further literature, code, or data directly to the original text where
        everyone can benefit from it.
      </p>
      <p>
        Public contributions on PaperHive enrich the global knowledge and are
        <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>-licensed,
        thus allowing reuse while requiring proper attribution of the
        author.
      </p>
    </div>

    <div class="col-md-offset-2 col-md-6">
      <div class="row">
        <div class="col-xs-8">
          <p>
            Since June 2015, we are part of the startup incubator of the
            <a href="http://www.entrepreneurship.tu-berlin.de/">Centre for
              Entrepreneurship</a> at
            <a href="http://www.tu-berlin.de">TU Berlin</a>.
          </p>
          <p>
            <a href="#core-team">Our founding team</a> is
            <a href="./contact">based in Berlin</a> and
            <a href="#supporter">several other people</a> support us with
            optimization algorithms, web design, and server management.
          </p>
        </div>
        <div class="col-xs-4">
          <a href="http://www.entrepreneurship.tu-berlin.de/">
            <img src="../../static/img/tub_cfe_logo.svg"
              alt="Centre for Entrepreneurship" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>

  <h3 class="ph-lg-margin-top ph-md-margin-bottom" id="core-team">Core team</h3>

  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/andre.jpg" alt="André Gaul" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Dr. André Gaul
            <small class="ph-newline">Co-founder, full-stack developer</small>
          </h3>
          <p>
            Mathematician, computer scientist, pizza and
            <a href="https://en.wikipedia.org/wiki/Baozi">baozi</a> baker.
            Finished his
            <a href="http://andre.gaul.io/2014/10/08/phdthesis-krypy/">
              math PhD
            </a> in 2014 after studying in Bonn, Erlangen, and Berlin.
            Loves free software, cycling, foosball.
            <a href="http://berlin.freifunk.net/">Freifunk</a> activist.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/andrenarchy" title="André on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:andre@paperhive.org" title="Write a mail to André">
              <i class="fa fa-envelope"></i>
            </a>
            <a class="btn btn-primary" href="https://github.com/andrenarchy" title="André on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-primary" href="http://andre.gaul.io/" title="André's blog">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/jenny.jpg" alt="Jennifer Gebske" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Jennifer Gebske
            <small class="ph-newline">Full-stack developer</small>
          </h3>
          <p>
            Studied theatre and media studies, economics, and computer science.
            Loves food, travelling, and volleyball.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/jengeb_" title="Jennifer on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:jennifer@paperhive.org" title="Write a mail to Jennifer">
              <i class="fa fa-envelope"></i>
            </a>
            <a class="btn btn-primary" href="https://github.com/jengeb" title="Jennifer on Github">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>
  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/alex.jpg" alt="Alexander Naydenov" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Alexander Naydenov
            <small class="ph-newline">Co-founder, business development</small>
          </h3>
          <p>
            Bachelor's degree in economics, master's degree in business
            and computer science. Passionate about edtech and cooperation systems.
            Co-founder of the social entrepreneurship incubator <em>Where Ideas Find Their Home</em>.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/vremigrant" title="Alexander Naydenov on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:alex@paperhive.org" title="Write a mail to Alexander">
              <i class="fa fa-envelope"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/bastian.jpg" alt="Bastian Gruber" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Bastian Gruber
            <small class="ph-newline">Full-stack developer</small>
          </h3>
          <p>
            Recently focussing on JavaScript and Go. Does improvisation theater
            and organizes MeetUps. Likes bringing artists together to collaborate.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/bastiangruber" title="Bastian on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:bastian@paperhive.org" title="Write a mail to Bastian">
              <i class="fa fa-envelope"></i>
            </a>
            <a class="btn btn-primary" href="https://github.com/gruberb" title="Bastian on Github">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->
  </div>
  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/elitza.jpg" alt="Elitza Hristova" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Elitza Hristova
            <small class="ph-newline">Marketing intern</small>
          </h3>
          <p>
            Currently studies international business. Interested in entrepreneurship, marketing, and
            meaningful startups. Passionate about travelling, art, theater, and cinema. Loves swimming.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/elitzabetweetin" title="Elitza on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/marcel.jpg" alt="Marcel Knöchelmann" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Marcel Knöchelmann
            <small class="ph-newline">Marketing manager</small>
          </h3>
          <p>
            Entrepreneurial publishing expert and literature-loving
            bookseller-turned-consultant, just finished an MA at UCL.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/lepublikateur" title="Marcel on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:marcel@paperhive.org" title="Write a mail to Marcel">
              <i class="fa fa-envelope"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>
  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/lisa.jpg" alt="Lisa Matthias" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Lisa Matthias
            <small class="ph-newline">Community outreach</small>
          </h3>
          <p>
            Lisa studied North American politics &amp; culture. Ramen-snob with a
            passion for baking and crafting.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/l_matthia" title="Lisa on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:lisa@paperhive.org" title="Write a mail to Lisa">
              <i class="fa fa-envelope"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/helena.jpg" alt="Helena Pfisterer" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Helena Pfisterer
            <small class="ph-newline">UI/UX Design</small>
          </h3>
          <p>
            They say you eat with your eyes first. The same applies for all
            beautiful things, you simply enjoy them more when they look good.
            This is why I like to create beautiful designs.
          </p>
          <p>
            <a class="btn btn-primary" href="http://helena-pfisterer.com/" title="Helena's website">
              <i class="fa fa-home"></i>
            </a>
            <a class="btn btn-primary" href="https://www.instagram.com/lena_mari88/" title="Helena on instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>
  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/wall.jpg" alt="Wall" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            You?
          </h3>
          <p>
            We're a young startup, so you can help us in a lot of fields:
            software engineering (MEAN stack), UI design, server
            administration, business relations and administration. Make sure
            you check our
            <a href="./jobs">jobs page</a> and
            <a href="./contact">contact us</a>!
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>

  <h3 class="ph-lg-margin-top ph-md-margin-bottom" id="supporter">Advisors</h3>

  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/svenfund.jpg" alt="Dr. Sven Fund" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Dr. Sven Fund
          </h3>
          <p>
            Founder of <a href="http://fullstopp.com">fullstopp</a>,
            former CEO of <a href="http://www.degruyter.com/">De Gruyter</a> (2008-2015),
            managing director of library consortium
            <a href="http://www.knowledgeunlatched.org/">Knowledge Unlatched</a>
            and <a href="https://www.quadriga.eu/">Quadriga University</a>.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/fullstoppberlin" title="fullstopp on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="http://fullstopp.com" title="fullstopp">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/johnhammersley.jpg" alt="Dr. John Hammersley" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Dr. John Hammersley
          </h3>
          <p>
            Mathematician, physicist, dancer, entrepreneur, founder and CEO of
            <a href="http://overleaf.com">Overleaf</a>.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/drhammersley" title="Dr. John Hammersley on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="http://overleaf.com" title="Overleaf">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>
  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/joergliesen.jpg" alt="Prof. Dr. Jörg Liesen" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Prof. Dr. Jörg Liesen
          </h3>
          <p>
            Principal of the numerical linear algebra department at
            <a href="http://www.tu-berlin.de/">TU Berlin</a>,
            book author at <a href="http://www.springernature.com/">Springer Nature</a>
            and <a href="http://global.oup.com/">Oxford University Press</a>.
          </p>
          <p>
            <a class="btn btn-primary"
              href="http://www.math.tu-berlin.de/fachgebiete_ag_modnumdiff/fg_numerische_lineare_algebra/v_menue/numerische_lineare_algebra/prof_dr_joerg_liesen/home/"
              title="Prof. Dr. Jörg Liesen at TU Berlin"
            >
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/markware.jpg" alt="Mark Ware" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Mark Ware
          </h3>
          <p>
            Publishing expert, affiliate analyst at <a href="https://www.outsellinc.com/">Outsell</a>,
            founder of <a href="http://www.ingenta.com/">Ingenta</a>'s CPD/elearning division,
            former publishing director at <a href="http://ioppublishing.org/">Institute of Physics Publishing</a>.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/mrkwr" title="Mark Ware on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="http://www.markwareconsulting.com/" title="Mark Ware Consulting">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>

  <h3 class="ph-lg-margin-top ph-md-margin-bottom" id="supporter">Supporters</h3>

  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/robert.jpg" alt="Robert Luce" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Dr. Robert Luce
            <small class="ph-newline">Problem solver</small>
          </h3>
          <p>
            Mathematician and algorithm wizard. After stations in Nantes, Paris,
            Incline Village, NV, and Berlin, he now is postdoctoral researcher
            at EPFL in Lausanne. Likes music, coding, and discovering new
            things. Robert solves problems.
          </p>
          <p>
            <a class="btn btn-primary" href="http://people.epfl.ch/robert.luce" title="Robert's website">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/daniel.jpg" alt="Daniel Pfisterer" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Daniel Pfisterer
            <small class="ph-newline">Frontend developer, CSS wizard</small>
          </h3>
          <p>
            Web designer, professional painter. Loves graffiti.
            Studied web technology autodidactically, mostly on google.com.
            Likes gaming, tech, and prank videos. Always on the run.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/colorit_maler" title="Daniel on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:info@daniel-pfisterer.de" title="Write a mail to Daniel">
              <i class="fa fa-envelope"></i>
            </a>
            <a class="btn btn-primary" href="https://github.com/pure180" title="Daniel on Github">
              <i class="fa fa-github"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>
  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/evelyn.jpg" alt="Evelyn Schubert" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Evelyn Schubert
            <small class="ph-newline">Designer</small>
          </h3>
          <p>
            Designer, illustrator, photographer. Studied design at the UdK
            Berlin, art in Venice, and philosophy at the FU Berlin. Loves
            rockets and space, music, nature, books, and brains.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/eyelyn" title="Evelyn on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="http://evelynschubert.com/" title="Evelyn's website">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="./static/img/corny.jpg" alt="Cornelius Wachinger" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top ph-heading-light">
            Cornelius Wachinger
            <small class="ph-newline">Sysadmin</small>
          </h3>
          <p>
            Support and Deployment Engineer at
            <a href="https://owncloud.com/">ownCloud</a>,
            musician, photographer, quite good at baking bread. Loves cycling,
            tinkering with electronics, hummus, all things free and open
            source. Studied computational linguistics in Erlangen.
          </p>
          <p>
            <a class="btn btn-primary" href="https://twitter.com/dercorn" title="Cornelius on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="http://blog.dercorn.com/" title="Cornelius' blog">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>

</div>
<!-- Content End -->
