<form name="accountDeleteForm" novalidate>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" title="Close" ng-click="$ctrl.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Delete your account</h4>
  </div>
  <div class="modal-body">
    <p class="text-danger">
      <i class="fa fa-fw fa-warning"></i>
      <strong>
        Deleting your account is irreversible and likely affects
        other users too.
      </strong>
    </p>
    <p>
      The following data is deleted or modified when you delete
      your account:
      <ul>
        <li>
          Your uploaded documents are deleted.
          <i
            class="fa fa-info-circle"
            uib-tooltip="Users you have shared these documents with won't be able to work with them anymore."
          ></i>
        </li>
        <li>
          Your <em>only me</em> discussions are deleted.
        </li>
        <li>
          Your contributions in private discussions are deleted.
          <i
            class="fa fa-info-circle"
            uib-tooltip="The content and authorship of these contributions will be removed."
          ></i>

        </li>
        <li>
          Your document subscriptions are deleted.
        </li>
        <li>
          You are removed from all channels and bookmarks in channels.
        </li>
        <li>
          Channels are deactivated if you are the only owner.
          <i
            class="fa fa-info-circle"
            uib-tooltip="Other users in these channels won't be able to discuss in these channels anymore."
          ></i>
        </li>
      </ul>
      Note that contributions to public discussions are not deleted.
      <i
        class="fa fa-info-circle"
        uib-tooltip="Contributions to public discussions that you licensed under
          the CC-BY-4.0 license are not deleted. The display name that is currently
          set in your profile is kept as the author of these contributions."
      ></i>
    </p>
    <hr>
    <div class="form-group has-feedback" ng-class="{
      'has-error': $ctrl.hasError('confirmationText'),
      'has-success': accountDeleteForm.confirmationText.$valid
     }"
    >
      <label>Confirmation</label>
      <input
        type="text" class="form-control" name="confirmationText"
        ng-model="$ctrl.confirmationText"
        required ng-disabled="$ctrl.submitting || $ctrl.succeeded"
        ng-pattern="'DELETE'"
      >
      <i ng-if="$ctrl.hasError('confirmationText')"
        class="fa fa-times form-control-feedback" aria-hidden="true"
      ></i>
      <i ng-if="accountDeleteForm.confirmationText.$valid"
        class="fa fa-check form-control-feedback" aria-hidden="true"
      ></i>
      <p class="help-block">
        Type DELETE to confirm.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <span class="ph-md-margin-right text-danger" ng-if="$ctrl.error">
      <i class="fa fa-fw fa-warning"></i> Error: {{$ctrl.error}}
    </span>
    <button type="submit" class="btn btn-danger"
      ng-click="accountDeleteForm.$valid && $ctrl.submit()"
      ng-class="{disabled: !accountDeleteForm.$valid}"
    >
      <i ng-if="$ctrl.submitting" class="fa fa-fw fa-spinner fa-spin"></i>
      <i ng-if="!$ctrl.submitting" class="fa fa-fw fa-trash"></i>
      Confirm deleting account
      <em>{{$ctrl.authService.user.account.username}}</em>
    </button>
  </div>
</form>
