<ul class="ph-timeline">

  <li class="ph-timeline-item ph-lg-margin-bottom">
    <div class="ph-timeline-badge">
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
    </div>
    <div class="panel panel-default ph-timeline-panel ph-activity-container text-muted">
      <div class="ph-timeline-arrow-container">
        <div class="ph-arrow ph-arrow-outward-left"></div>
      </div>

      <div ng-if="$ctrl.activities === undefined" class="ph-activity-loading">
        <i class="fa fa-spin fa-spinner"></i>
      </div>

      <div ng-if="$ctrl.activities !== undefined">
        <div ng-if="$ctrl.filterMode === 'channel'">
          Here you can find the recent discussions, replies and subscriptions of
          this channel.
          <span ng-if="$ctrl.activities.length === 0">
            Unfortunately, there is no activity yet. Be the first to start a discussion.
            Go to a document and select this channel.
          </span>
        </div>

        <div ng-if="$ctrl.filterMode === 'documentItem'">
          Here you can find the recent discussions, replies and subscriptions on
          this document.
          <span ng-if="$ctrl.activities.length === 0">
            Unfortunately, there is no activity yet. Be the first to subscribe the
            document or start a discussion.
          </span>
        </div>

        <div ng-if="$ctrl.filterMode === 'person'">
          <span ng-if="$ctrl.authService.user.id === $ctrl.filterId">
            Here you can find your recent discussions, replies and subscribed documents.
            <span ng-if="$ctrl.activities.length === 0">
              A good way to get started is to search and subscribe a document
              you are interested in.
            </span>
          </span>
          <span ng-if="$ctrl.authService.user.id !== $ctrl.filterId">
            Here you can find recent discussions, replies and subscribed documents by
            {{$ctrl.person.displayName}}.
            <span ng-if="$ctrl.activities.length === 0">
              Unfortunately, {{$ctrl.person.displayName}} has no recent activity.
            </span>
          </span>
        </div>
      </div>
    </div>
  </li>

  <li ng-repeat="activity in $ctrl.activities" class="ph-timeline-item ph-lg-margin-bottom">
    <div class="ph-timeline-badge">
      <i class="fa fa-reply" aria-hidden="true"
        ng-if="activity.activityType === 'updateReply' || activity.activityType === 'createReply'"
      ></i>
      <i class="fa fa-comment" aria-hidden="true"
        ng-if="activity.activityType === 'updateDiscussion' || activity.activityType === 'createDiscussion'"
      ></i>
      <i class="fa fa-star" aria-hidden="true"
        ng-if="activity.activityType === 'addedDocumentItemChannelBookmark'"
      ></i>
      <i class="fa fa-share-alt" aria-hidden="true"
        ng-if="activity.activityType === 'addedDocumentItemChannelShare'"
      ></i>
      <img alt="logo white" src="../../static/img/logo-hexagon-white.svg"
        ng-if="activity.activityType === 'addedDocumentSubscription'"/>
    </div>

    <div class="panel panel-default ph-timeline-panel ph-activity-container">
      <div class="ph-timeline-arrow-container">
        <div class="ph-arrow ph-arrow-outward-left"></div>
      </div>
      <div class="ph-activity">

        <div class="ph-timeline-date">
          <small class="text-muted">
            <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>
            <span am-time-ago="activity.updatedAt"></span>
          </small>
        </div>

        <a ng-if="$ctrl.filterMode !== 'person'" class="ph-link-icon" ng-href="./users/{{activity.person.account.username}}">
          <avatar user="activity.person" size="25" classes="img-circle"></avatar>
        </a>
        <a ng-href="./users/{{activity.person.account.username}}">{{activity.person.displayName}}</a>
        <span ng-switch="activity.activityType">
          <span ng-switch-when="addedDocumentSubscription">
            <span ng-if="$ctrl.filterMode === 'documentItem'">subscribed to this document</span>
            <span ng-if="$ctrl.filterMode === 'person'">
              subscribed to
              <small>
                <a ng-href="./documents/items/{{activity.documentItems[0].id}}">{{activity.documentItems[0].metadata.title}}</a>
                <span class="text-muted" ng-repeat="author in activity.documentItems[0].metadata.authors">
                  {{author.name}}{{$last ? '' :', '}}
                </span>
              </small>
            </span>
          </span>
          <span ng-switch-when="createDiscussion">started the discussion</span>
          <span ng-switch-when="createReply">replied to the discussion</span>
          <span ng-switch-when="updateReply">updated a reply to the discussion</span>
          <span ng-switch-when="updateDiscussion">updated the discussion</span>
          <span ng-switch-when="addedDocumentItemChannelBookmark">
            <span ng-if="$ctrl.filterMode === 'documentItem'">bookmarked this document</span>
            <span ng-if="$ctrl.filterMode === 'person' || $ctrl.filterMode === 'channel'">
              bookmarked
              <small>
                <a ng-href="./documents/items/{{activity.documentItems[0].id}}">{{activity.documentItems[0].metadata.title}}</a>
                <span class="text-muted" ng-repeat="author in activity.documentItems[0].metadata.authors">
                  {{author.name}}{{$last ? '' :', '}}
                </span>
              </small>
            </span>
            <span ng-if="$ctrl.filterMode !== 'channel'">
              in the channel <a ng-href="./channels/{{activity.channel.id}}">{{activity.channel.name}}</a>
            </span>
          </span>
        </span>

        <span ng-if="activity.activityType !== 'addedDocumentSubscription' && activity.activityType !== 'addedDocumentItemChannelBookmark'">
          <a ng-href="./documents/items/{{activity.documentItem}}?a=d:{{activity.discussion.id}}">
            <mathjax body="activity.discussion.title"></mathjax>
          </a>
          <div ng-if="$ctrl.filterMode === 'person' || $ctrl.filterMode === 'channel'">
            <small>
              on
              <a ng-href="./documents/items/{{activity.documentItems[0].id}}">{{activity.documentItems[0].metadata.title}}</a>
              <span class="text-muted" ng-repeat="author in activity.documentItems[0].metadata.authors">
                {{author.name}}{{$last ? '' :', '}}
              </span>
            </small>
          </div>
        </span>

      </div>
    </div>
  </li>
</ul>
