<div class="row">
  <div class="col-sm-12">
    <form name="updateChannelForm" novalidate>
      <div class="form-group row">
        <div class="form-group" ng-class="{'has-error': $ctrl.hasError('channelName')}">
          <label class="col-sm-2 col-form-label">Name</label>
          <div class="col-sm-10">
            <input ng-model="$ctrl.name" name="channelName" type="text"
              class="form-control" required
              ng-disabled="!$ctrl.channel.isActive || $ctrl.inProgress"
            >
            <div class="help-block">
              <span ng-if="$ctrl.hasError('channelName')">
                <span ng-if="updateChannelForm.channelName.$error.required">
                  Please enter a channel name.
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input ng-model="$ctrl.description" type="text"
            class="form-control" ng-disabled="!$ctrl.channel.isActive"
          >
        </div>
      </div>

      <div class="form-group row" ng-if="$ctrl.channel.isActive">
        <label class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary"
            ng-click="!$ctrl.inProgress && !updateChannelForm.$invalid && $ctrl.channelUpdate()"
            ng-class="{disabled: updateChannelForm.$invalid || $ctrl.inProgress}"
          >
            Save
          </button>
        </div>
      </div>

      <div class="form-group row ph-lg-margin-top">
        <label class="col-sm-2 col-form-label">Active</label>
        <div class="col-sm-1">
          <span ng-if="$ctrl.channel.isActive">
            <i class="fa fa-check text-success" aria-hidden="true"></i>
          </span>
          <span ng-if="!$ctrl.channel.isActive">
            <i class="fa fa-times text-danger" aria-hidden="true"></i>
          </span>
        </div>
        <div class="col-sm-9">
          <button type="button" class="btn btn-primary"
            ng-if="!$ctrl.channel.isActive"
  	        ng-click="$ctrl.channelActivate()"
            ng-disabled="$ctrl.activating"
          >
            Activate
          </button>
          <button type="button" class="btn btn-danger"
            ng-if="$ctrl.channel.isActive"
            ng-confirm-click="Really deactivate channel?"
  	        confirmed-click="$ctrl.channelDeactivate()"
            ng-disabled="$ctrl.deactivating"
          >
            Deactivate
          </button>
        </div>
      </div>

      <div class="form-group row" ng-if="$ctrl.channel.createdAt !== $ctrl.channel.updatedAt">
        <label class="col-sm-2 col-form-label">Updated at</label>
        <div class="col-sm-10">
          {{$ctrl.channel.updatedAt | date:'M/d/yyyy HH:mm'}}
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Created at</label>
        <div class="col-sm-10">
          {{$ctrl.channel.createdAt | date:'M/d/yyyy HH:mm'}}
        </div>
      </div>
    </form>

  </div>
</div>
