<p ng-if="!$ctrl.channelService.invitations.length">
  You have no pending channel invitations.
</p>
<table class="table table-hover" ng-if="$ctrl.channelService.invitations.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Invited by</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="invitation in $ctrl.channelService.invitations | orderBy: '-createdAt'"
      ng-if="invitation.channel.isActive"
    >
      <td>
        <h5 class="ph-xs-margin-top ph-xs-margin-bottom">
          {{invitation.channel.name}}
        </h5>
        <small class="text-muted">{{invitation.channel.description}}</small>
      </td>
      <td>
        <span ng-repeat="role in invitation.roles"
          class="label" ng-class="{
            'label-primary': role === 'owner',
            'label-info': role !== 'owner'
          }"
        >
          {{role}}
        </span>
      </td>
      <td>
        <a href="./users/{{invitation.invitedBy.account.username}}">
          {{invitation.invitedBy.displayName}}
        </a>
      </td>
      <td am-time-ago="invitation.createdAt"></td>
      <td>
        <span class="pull-right">
          <button
            type="button" class="btn btn-danger btn-sm"
            ng-confirm-click="Really discard this invitation?"
            confirmed-click="$ctrl.invitationDelete(invitation.channel.id, invitation.id)"
          >
            <i class="fa fa-fw fa-times" aria-hidden="true"></i>
            Discard
          </button>
          <button
            type="button" class="btn btn-primary btn-sm"
            ng-click="$ctrl.invitationConfirm(invitation.channel.id, invitation.id)"
          >
            <i class="fa fa-fw fa-check" aria-hidden="true"></i>
            Confirm
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
