<div class="container ph-xl-margin-bottom">
  <div class="row">
    <div class="col-sm-12">
      <div class="ph-sm-margin-top">
        <a href="./channels">Back to <em>channel overview</em></a>
      </div>
      <h2>New channel</h2>
      <p>You can invite members to this channel after creating it.</p>
      <form name="channelForm" novalidate>
        <div class="form-group" ng-class="{
            'has-error': $ctrl.hasError('name'),
            'has-success': channelForm.name.$valid
         }"
         >
          <label>Name</label>
          <input type="text" class="form-control" name="name"
            ng-model="$ctrl.name" placeholder="Enter a channel name" required
            ng-disabled="$ctrl.inProgress || $ctrl.succeeded"
          >
          <div class="help-block">
            <span ng-if="$ctrl.hasError('name')">
              <span ng-if="channelForm.name.$error.required">
                Please enter a channel name.
              </span>
            </span>
          </div>
        </div>
        <div>
          <label>Description</label>
          <input type="text" class="form-control" ng-model="$ctrl.description"
            placeholder="Enter a channel description"
          >
        </div>
        <button
          type="submit"
          class="btn btn-primary ph-lg-margin-top"
          ng-click="!$ctrl.inProgress && !$ctrl.succeeded && !channelForm.$invalid && $ctrl.submit()"
          ng-class="{disabled: channelForm.$invalid || $ctrl.inProgress || $ctrl.succeeded}"
        >
          <i ng-if="$ctrl.inProgress" class="fa fa-fw fa-spinner fa-spin"></i>
          <i ng-if="!$ctrl.inProgress" class="fa fa-fw fa-check" aria-hidden="true"></i>
          Create
        </button>
      </form>
    </div>
  </div>
</div>
