<div class="dropdown ph-sidenav-item ph-dropdown-large" uib-dropdown>
  <button type="button" uib-dropdown-toggle
    class="btn btn-default ph-split-container ph-split-container-icon-right dropdown-toggle"
  >
    <span class="ph-split-icon">
      <i class="fa"
        ng-class="{
          'fa-star-o': $ctrl.documentCtrl.bookmarks.length === 0,
          'fa-star': $ctrl.documentCtrl.bookmarks.length !== 0,
        }"
      ></i>
    </span>
    <span class="ph-split-text">
      Bookmark in channel
    </span>
    <i class="fa fa-fw fa-caret-down ph-split-icon-right"></i>
  </button>
  <ul class="dropdown-menu ph-dropdown-menu-full" role="menu">
    <li ng-repeat="channel in $ctrl.channelService.channels | filter:{isActive: '!false'}"
      ng-class="{disabled: !$ctrl.channelService.hasRole(channel, $ctrl.authService.user.id, 'owner')}"
    >
      <a href=""
        ng-click="
          $ctrl.channelService.hasRole(channel, $ctrl.authService.user.id, 'owner') &&
          ($ctrl.isBookmarked(channel.id) ? $ctrl.removeBookmark(channel.id) : $ctrl.bookmark(channel.id));
          $event.stopPropagation()"
        title="{{
            $ctrl.channelService.hasRole(channel, $ctrl.authService.user.id, 'owner')
            ? $ctrl.channelService.getNameDescription(channel)
            : 'Only channel owners can bookmark documents.'
        }}"
      >
        <div class="ph-grow-container">
          <div class="ph-grow-item">
            <i class="fa fa-fw ph-dropdown-icon-left" ng-class="{
              'fa-star-o': !$ctrl.isBookmarked(channel.id),
              'fa-star': $ctrl.isBookmarked(channel.id),
            }"></i>
            {{$ctrl.channelService.getName(channel)}}
            <small class="text-muted">{{$ctrl.channelService.getDescription(channel)}}</small>
          </div>
        </div>
      </a>
    </li>
    <li ng-if="$ctrl.channelService.channels.length > 0" role="separator" class="divider"></li>
    <li ng-if="$ctrl.channelService.channels.length > 0">
      <a href="./channels" class="ph-text-overflow">
        <i class="fa fa-fw ph-dropdown-icon-left fa-bullhorn"></i>
        Channel overview
      </a>
    </li>
    <li ng-if="$ctrl.channelService.channels.length === 0 || !$ctrl.authService.user"
      ng-class="{disabled: !$ctrl.authService.user}"
    >
      <a href="" class="ph-text-overflow"
        ng-click="$ctrl.authService.user ? $ctrl.newChannelModalOpen() : ($event.preventDefault() || $event.stopPropagation())"
        title="You have to be logged in to create a private discussion channel."
        ng-disabled="true"
      >
        <i class="fa fa-fw ph-dropdown-icon-left fa-plus"></i>
        Create channel
      </a>
    </li>
  </ul>
</div>
