<div class="container ph-xl-margin-bottom">
  <h2>My channels</h2>
  <a href="./channels/new" class="btn btn-primary ph-md-margin-bottom">
    New channel
  </a>
  <table class="table table-hover">
    <tr ng-repeat="channel in $ctrl.channelService.channels">
      <td
        ng-click="$ctrl.openChannel(channel.id)"
        class="ph-channel-selection"
        ng-class="{'text-muted': !channel.isActive}"
      >
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        <b class="ph-xs-margin-left">{{channel.name}}</b>
        <span ng-if="channel.isActive" class="label label-info ph-sm-margin-left"
          ng-repeat="role in channel.members[0].roles"
        >
          {{role}}
        </span>
        <span ng-if="!channel.isActive" class="label label-default ph-sm-margin-left"
          ng-repeat="role in channel.members[0].roles"
        >
          {{role}}
        </span>
        <span class="label label-primary ph-sm-margin-left" ng-if="channel.isActive">
          active
        </span>
        <span class="label label-default ph-sm-margin-left" ng-if="!channel.isActive">
          inactive
        </span>
        <div>
          {{channel.description}}
        </div>
        <div class="ph-sm-margin-top">
          <small>created at {{channel.createdAt | date:'M/d/yyyy HH:mm'}}</small>
        </div>
      </td>
    </tr>
  </table>
</div>
