<div class="dropdown ph-dropdown-flex" uib-dropdown>
  <div class="ph-selected-channel">
    <div ng-if="$ctrl.channelService.public">
      <i class="fa fa-fw fa-globe ph-channel-icon-public"></i>
      Public channel
    </div>
    <div ng-if="$ctrl.channelService.onlyMe">
      <i class="fa fa-fw fa-lock ph-channel-icon-private"></i>
      Only me
    </div>
    <div ng-if="$ctrl.channelService.selectedChannel">
      <span class="fa-stack fa-stack-sm fa-fw ph-channel-icon-private">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
      </span>
      <a
        href="./channels/{{$ctrl.channelService.selectedChannel.id}}"
        class="ph-channel-selector-channel"
        title="{{$ctrl.channelService.getNameDescription($ctrl.channelService.selectedChannel)}}"
      >
        {{$ctrl.channelService.getName($ctrl.channelService.selectedChannel)}}
      </a>
    </div>
  </div>

  <div class="btn-group ph-channel-selector-channel  ph-dropdown-large" is-open="$ctrl.isOpen" uib-dropdown>
    <button class="btn btn-default" uib-dropdown-toggle>
      <i class="fa fa-bullhorn"></i>
      <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
      <li
        ng-if="$ctrl.availableChannels.public"
        ng-click="$ctrl.isOpen = false"
        ng-class="{active: $ctrl.channelService.public}"
      >
        <a href=""
          ng-click="$ctrl.channelService.selectPublic()"
          title="Public channel"
        >
          <div class="ph-grow-container">
            <div class="ph-grow-item">
              <i class="fa fa-fw fa-globe ph-channel-icon ph-channel-icon-public"></i>
              Public channel
            </div>
            <div class="pull-right" ng-if="$ctrl.publicDiscussions">
              {{$ctrl.publicDiscussions}}
              <i class="fa fa-comments"></i>
            </div>
          </div>
        </a>
      </li>
      <li
        ng-click="$ctrl.isOpen = false" ng-class="{
          'active ph-private-channel': $ctrl.channelService.onlyMe,
          disabled: !$ctrl.authService.user,
        }"
      >
        <a href=""
          ng-click="$ctrl.authService.user ? $ctrl.channelService.selectOnlyMe() : ($event.preventDefault() || $event.stopPropagation())"
          title="Only me"
        >
          <div class="ph-grow-container">
            <div class="ph-grow-item">
              <i class="fa fa-fw fa-lock ph-channel-icon ph-channel-icon-private"></i>
              Only me
            </div>
            <div class="pull-right" ng-if="$ctrl.onlyMeDiscussions">
              {{$ctrl.onlyMeDiscussions}}
              <i class="fa fa-comments"></i>
            </div>
          </div>
        </a>
      </li>
      <li
        ng-repeat="channel in $ctrl.channelService.channels"
        ng-if="$ctrl.availableChannels.channels.indexOf(channel.id) !== -1"
        ng-click="$ctrl.isOpen = false"
        ng-class="{'active ph-private-channel': channel.id === $ctrl.channelService.selectedChannel.id}"
      >
        <a href=""
          ng-click="$ctrl.channelService.selectChannel(channel)"
          title="{{$ctrl.channelService.getName(channel)}}{{$ctrl.channelService.getDescription(channel) ? ': ' : ''}}{{$ctrl.channelService.getDescription(channel)}}"
        >
          <div class="ph-grow-container">
            <div class="ph-grow-item">
              <span class="fa-stack fa-stack-sm fa-fw ph-channel-icon ph-channel-icon-private">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x fa-inverse"></i>
              </span>
              {{$ctrl.channelService.getName(channel)}}
              <small class="text-muted">{{$ctrl.channelService.getDescription(channel)}}</small>
            </div>
            <div ng-if="$ctrl.channelDiscussions[channel.id]">
              {{$ctrl.channelDiscussions[channel.id]}}
              <i class="fa fa-comments"></i>
            </div>
          </div>
        </a>
      </li>
      <li ng-show="$ctrl.authService.user" role="separator" class="divider"></li>
      <li ng-show="$ctrl.authService.user">
        <a href=""
          ng-click="$ctrl.channelService.toggleShowAllChannels(); $event.stopPropagation()"
          title="Show discussions from all channels instead of just from the selected one"
          class="ph-text-overflow"
        >
          <i class="fa fa-fw ph-dropdown-icon-left"
            ng-class="{
              'fa-square-o': !$ctrl.channelService.showAllChannels,
              'fa-check-square-o': $ctrl.channelService.showAllChannels,
            }"
          ></i>
          Show all discussions
        </a>
      </li>
      <li role="separator" class="divider"></li>
      <li ng-class="{disabled: !$ctrl.authService.user}">
        <a href=""
          ng-click="$ctrl.authService.user ? $ctrl.newChannelModalOpen() : ($event.preventDefault() || $event.stopPropagation())"
          title="You have to be logged in to create a private discussion channel."
          class="ph-text-overflow"
        >
          <i class="fa fa-fw ph-dropdown-icon-left fa-plus"></i>
          Create channel
        </a>
      </li>
    </ul>
  </div>
</div>
