<div class="container ph-xl-margin-bottom">
  <h2>My channels</h2>
  <a href="./" class="btn btn-primary ph-md-margin-bottom">
    New channel
  </a>
  <div>{{$ctrl.channels}}</div>
  <table class="table table-hover">
    <tr>
      <td>
        Reading Group
        <span class="ph-sm-margin-left"></span>
        <i class="fa fa-users" aria-hidden="true"></i>
        <small class="text-muted pull-right">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
          15:25
        </small>
      </td>
    </tr>
    <tr>
      <td>
        TU Research Channel
        <span class="ph-sm-margin-left"></span>
        <i class="fa fa-users" aria-hidden="true"></i>
        <span class="label label-default ph-xs-margin-left">owner</span>
        <small class="text-muted pull-right">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
          yesterday
        </small>
      </td>
    </tr>
    <tr>
      <td>
        My PhD
        <span class="ph-sm-margin-left"></span>
        <i class="fa fa-user-secret" aria-hidden="true"></i>
        <span class="label label-default ph-xs-margin-left">owner</span>
        <small class="text-muted pull-right">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
          19/12/2015
        </small>
      </td>
    </tr>
  </table>
</div>
