<div class="col-sm-12">
  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input ng-model="$ctrl.channel.name" name="channelName" type="text"
          class="form-control" required ng-disabled="!$ctrl.channel.isActive"
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input ng-model="$ctrl.channel.description" type="text"
          class="form-control" required ng-disabled="!$ctrl.channel.isActive"
        >
      </div>
    </div>

    <div class="form-group row" ng-if="$ctrl.channel.isActive">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary"
          ng-click="$ctrl.save($ctrl.channel.name, $ctrl.channel.description)"
        >
          <i class="fa fa-check" aria-hidden="true"></i>
          Save
        </button>
      </div>
    </div>

    <div class="form-group row ph-lg-margin-top">
      <label class="col-sm-2 col-form-label">Active</label>
      <div class="col-sm-1">
        <span ng-if="$ctrl.channel.isActive">
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </span>
        <span ng-if="!$ctrl.channel.isActive">
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-sm-9">
        <button type="button" class="btn btn-primary"
          ng-if="!$ctrl.channel.isActive"
	        ng-click="$ctrl.activate()"
        >
          Activate
        </button>
        <button type="button" class="btn btn-danger"
          ng-if="$ctrl.channel.isActive"
          ng-confirm-click="Really deactivate channel?"
	        confirmed-click="$ctrl.deactivate()"
        >
          Deactivate
        </button>
      </div>
    </div>

    <div class="form-group row" ng-if="$ctrl.channel.createdAt !== $ctrl.channel.updatedAt">
      <label class="col-sm-2 col-form-label">Updated at</label>
      <div class="col-sm-10">
        {{$ctrl.channel.updatedAt | date:'M/d/yyyy HH:mm'}}
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Created at</label>
      <div class="col-sm-10">
        {{$ctrl.channel.createdAt | date:'M/d/yyyy HH:mm'}}
      </div>
    </div>
  </form>

</div>
