<div class="dropdown ph-sidenav-item" uib-dropdown>
  <button id="btn-bookmark" type="button" uib-dropdown-toggle
    class="btn btn-default ph-split-container ph-split-container-icon-right dropdown-toggle"
  >
    <span class="ph-split-icon">
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </span>
    <span class="ph-split-text">
      Add to channel
    </span>
    <i class="fa fa-fw fa-caret-down ph-split-icon-right"></i>
  </button>
  <ul class="dropdown-menu ph-dropdown-menu-full" role="menu" aria-labelledby="btn-bookmark">
    <li ng-repeat="channel in $ctrl.channelService.channels">

      <a href="" class="ph-split-container ph-split-container"
        ng-click="$ctrl.removeBookmark(channel.id); $event.stopPropagation()"
        ng-if="$ctrl.documentCtrl.bookmarks.indexOf(channel.id) > -1"
      >
        <i class="fa fa-fw fa-user ph-dropdown-icon-left" aria-hidden="true"></i>
          {{$ctrl.channelService.getDescription(channel)}}
        <i class="fa fa-fw ph-split-icon-right fa-star" ng-class="{
          'fa-star-o': ($ctrl.documentCtrl.bookmarks.indexOf(channel.id) === -1),
          'fa-star': ($ctrl.documentCtrl.bookmarks.indexOf(channel.id) > -1),
        }"></i>
      </a>

      <a href="" class="ph-split-container ph-split-container"
        ng-click="$ctrl.bookmark(channel.id); $event.stopPropagation()"
        ng-if="$ctrl.documentCtrl.bookmarks.indexOf(channel.id) === -1"
      >
        <i class="fa fa-fw fa-user ph-dropdown-icon-left" aria-hidden="true"></i>
          {{$ctrl.channelService.getDescription(channel)}}
        <i class="fa fa-fw ph-split-icon-right fa-star" ng-class="{
          'fa-star-o': ($ctrl.documentCtrl.bookmarks.indexOf(channel.id) === -1),
          'fa-star': ($ctrl.documentCtrl.bookmarks.indexOf(channel.id) > -1),
        }"></i>
      </a>

    </li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="/" class="ph-text-overflow">
        <i class="fa fa-fw ph-dropdown-icon-left fa-cog"></i>
        Manage bookmarks
      </a>
    </li>
  </ul>
</div>
