<div class="container ph-xl-margin-bottom">
  <h2>My channels</h2>
  <a href="./" class="btn btn-primary">
    Create new channel
  </a>
  <div class="row ph-md-margin-top">
    <table class="table table-hover">
      <tr>
        <td>
          TU Research Channel
          <i class="fa fa-users" aria-hidden="true"></i>
          <span class="label label-default">owner</span>
          <small class="text-muted pull-right">
            yesterday
          </small>
        </td>
      </tr>
      <tr>
        <td>
          My PhD
          <i class="fa fa-user-secret" aria-hidden="true"></i>
          <span class="label label-default">owner</span>
          <small class="text-muted pull-right">19/12/2015</small>
        </td>
      </tr>
    </table>
  </div>
</div>
