<div class="ph-header ph-lg-margin-bottom">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ph-sm-margin-top">
        <a href="./channels">Back to channels</a>
      </div>
      <div class="col-sm-12">
        <div class="media">
          <div class="media-left">
            <!--icon-->
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x" style="color: #037292;"></i>
              <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
            </span>
          </div>
          <div class="media-body ph-vertical-middle">
            <!--heading-->
            <h2 class="media-heading">{{$ctrl.channel.name}}</h2>
            <div class="text-muted">{{$ctrl.channel.description}}</div>
            <div>
              <span class="label label-default ph-sm-margin-right" ng-if="!$ctrl.channel.isActive">
                inactive
              </span>
              <span class="label label-primary" ng-if="$ctrl.owner">
                owner
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--subnav-->
  <div class="ph-header-submenu-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <subnav>
            <ul class="nav nav-tabs ph-header-submenu">
              <li subnav-target="channel.documents">
                <a><i class="fa fa-fw fa-file-text-o"></i> Documents</a>
              </li>
              <li subnav-target="channel.members">
                <a><i class="fa fa-fw fa-users"></i> Members</a>
              </li>
              <li subnav-target="channel.settings">
                <a><i class="fa fa-fw fa-cog"></i> Settings</a>
              </li>
            </ul>
          </subnav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--content-->
<div class="container ph-lg-margin-bottom">
  <div app-view-segment="1"></div>
</div>
