<!-- Content Start -->
<div class="container">
  <h2>Get in touch</h2>
  <div class="row">

    <!-- Left Row -->
    <div class="col-md-6 ph-xl-margin-bottom">
      <h3 class="ph-heading-light">Connect with PaperHive</h3>
      <div class="row text-center">

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="mailto:info@paperhive.org" title="Write us."
              class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span><br/>
            info@paperhive.org
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="https://twitter.com/paperhive" title="Tweet us."
              class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span><br/>
            paperhive
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="https://plus.google.com/u/0/b/114787682678537396870/114787682678537396870" title="Visit us at Google plus."
              class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span><br/>
            PaperHive
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="https://github.com/paperhive"
              title="Check out our code on GitHub."
              class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span><br/>
            PaperHive
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="tel:+493031478924" title="Call us." class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span><br/>
            +49 30 31478924
          </a>
        </div>
      </div>
      <p>
        If you are looking for contact details of a PaperHive team member,
        check out the <a href="about">about PaperHive page</a>.
        Information about the website operators can be found in the
        <a href="legalnotice">legal notice</a>.
      </p>
    </div>

    <!-- Right Row -->
    <div class="col-md-6 col-xs-11 ph-xl-margin-bottom">
      <h3 class="ph-heading-light">PaperHive office</h3>
      <address class="sr-only">
        PaperHive,<br/>
        Room ACK390, Entrance H<br />
        Ackerstr. 76,<br />
        13355 Berlin,<br />
        Germany
      </address>
      <office-map></office-map>
    </div>
  </div>
</div>
<!-- Content End -->
