<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <h3 class="ph-no-margin-top">
        <inline-editable
          content="$ctrl.discussion.title"
          can-edit="$ctrl.auth.user.id === $ctrl.discussion.author.id"
          on-submit="$ctrl.updateDiscussion({title: content})"
          >
        </inline-editable>
      </h3>
      <a href="./users/{{$ctrl.discussion.author.account.username}}">
        {{$ctrl.discussion.author.displayName}}</a>
      opened this discussion
      <span am-time-ago="$ctrl.discussion.createdAt"></span>
      <span ng-if="$ctrl.discussion.replies.length == 1">
        &middot; {{$ctrl.discussion.replies.length}} reply
      </span>
      <span ng-if="$ctrl.discussion.replies.length > 1">
        &middot; {{$ctrl.discussion.replies.length}} replies
      </span>

      &middot;
      <small>
        <i ng-show="!$ctrl.discussion.channel"
          class="fa fa-globe"
          uib-tooltip="Public channel"
        ></i>
        <i ng-show="$ctrl.discussion.channel"
          class="fa fa-user"
          uib-tooltip="{{$ctrl.channelService.channelsById[$ctrl.discussion.channel].name}}"
        ></i>
      </small>

      <div ng-if="$ctrl.discussion.target.selectors.textQuote.content">
        <hr>
        <h4>Referenced text</h4>
        <a href="./documents/{{$ctrl.discussion.target.document}}?a=d:{{$ctrl.discussion.id}}">
          <div class="well well-lg ph-reference">
            <blockquote>
              {{$ctrl.discussion.target.selectors.textQuote.content}}
            </blockquote>
          </div>
        </a>
      </div>

      <hr>
      <div class="row">

        <div class="col-md-2 col-md-push-10 ph-lg-margin-bottom">
          <h5>Participants</h5>
          <avatar-list discussion="$ctrl.discussion"></avatar-list>
        </div>

        <div class="col-md-10 col-md-pull-2">
          <comment
            content="$ctrl.discussion"
            on-update="$ctrl.updateDiscussion({body: $comment.body})"
            requires-body="false"
            deletable="false"
            class="ph-md-margin-bottom"
            >
          </comment>

          <comment ng-repeat="reply in $ctrl.discussion.replies"
            content="reply"
            on-delete="$ctrl.onReplyDelete({reply: reply})"
            on-update="$ctrl.onReplyUpdate({reply: $comment})"
            requires-body="true"
            deletable="true"
            id="reply.id"
            class="ph-md-margin-bottom"
          ></comment>

          <new-reply
            ng-if="$ctrl.auth.user"
            on-submit="$ctrl.addReply(reply)"
            class="ph-md-margin-bottom"
          ></new-reply>

          <div ng-if="!$ctrl.auth.user" class="ph-md-margin-bottom ph-comment-row">
            <div class="ph-discussion-not-auth-user">
              <i class="fa fa-user fa-4x"></i>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <a href="./signup?returnPath={{$ctrl.auth.returnPath}}">Sign up</a>
                or
                <a href="./login?returnPath={{$ctrl.auth.returnPath}}">log in</a>
                to join this discussion on PaperHive.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
