<div class="ph-sidenav-large"
  ng-show="$ctrl.open"
  ng-style="{top: $ctrl.viewportOffsetTop + 'px'}"
>
  <div class="ph-collapse">
    <button id="nav-btn" class="navbar-toggle" ng-click="$ctrl.onToggle({open: false})">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
  </div>
  <div class="ph-documents-header">
    <h5 class="ph-lg-margin-top">
      <mathjax body="$ctrl.activeRevision.title"></mathjax>
    </h5>
    <h6 class="ph-lg-margin-bottom">
      <span ng-repeat="author in $ctrl.activeRevision.authors">
        {{author.name}}{{$last ? '' :', '}}
      </span>
    </h6>
  </div>
  <div class="ph-hive-button">
    <hive-button
      document-ctrl="$ctrl.documentCtrl"
      large="true"

      popover-placement="right"
      popover-is-open="$ctrl.tour.stages[$ctrl.tour.index] === 'hive'"
      uib-popover-template="'html/shared/tour-hive.html'"
      popover-trigger="'none'"
    ></hive-button>
  </div>
  <!-- <div ng-if="$ctrl.activeRevision"> -->
  <div class="ph-document-info">
    <div class="dropdown" is-open="$ctrl.revisionDropdownOpen" uib-dropdown>
      <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
        <i class="fa fa-history" aria-hidden="true"></i>
        <span class="ph-document-journal">{{$ctrl.documentCtrl.getRevisionDescription($ctrl.activeRevision)}}</span>,
        {{$ctrl.activeRevision.publishedAt | date:'MMM yyyy'}}
        <i class="fa fa-fw fa-caret-down"></i>
      </button>
      <ul class="dropdown-menu ph-dropdown-menu">
        <li ng-repeat="revision in $ctrl.documentCtrl.revisions | orderBy:'publishedAt':true"
            ng-class="{'disabled': !$ctrl.documentCtrl.revisionAccess[revision.revision]}"
            ng-click="$ctrl.revisionDropdownOpen = false">
          <a ng-if="$ctrl.documentCtrl.revisionAccess[revision.revision]"
             href="./documents/{{revision.id}}/revisions/{{revision.revision}}">
            <strong ng-if="revision === $ctrl.activeRevision">
              <span class="ph-document-journal">{{$ctrl.documentCtrl.getRevisionDescription(revision)}}</span>,
              {{revision.publishedAt | date:'MMM yyyy'}}
            </strong>
            <span ng-if="revision !== $ctrl.activeRevision">
              <span class="ph-document-journal">{{$ctrl.documentCtrl.getRevisionDescription(revision)}}</span>,
              {{revision.publishedAt | date:'MMM yyyy'}}
            </span>
            <i class="fa fa-fw"></i>
          </a>
          <a ng-if="!$ctrl.documentCtrl.revisionAccess[revision.revision]" title="This document is not accessible and cannot be displayed yet.">
            <span class="ph-document-journal">{{$ctrl.documentCtrl.getRevisionDescription(revision)}}</span>,
            {{revision.publishedAt | date:'MMM yyyy'}}
            <i class="fa fa-fw fa-lock"></i>
          </a>
        </li>
      </ul>
    </div>
    <div
      class="ph-document-info-download">
      <a class="btn btn-default" ng-href="{{$ctrl.origPdfUrl}}" download>
        <i class="fa fa-download"></i>
        <span>Download PDF</span>
      </a>
    </div>
  </div>
  <div class="ph-accordion">
    <uib-accordion close-others="oneAtATime">
      <div ng-if="$ctrl.kudosDoi" uib-accordion-group class="panel-default ph-document-info-kudos" is-open="$ctrl.kudosOpen">
        <uib-accordion-heading>
          <img src="./static/img/kudos-icon.svg" alt="Kudos"> Kudos explanation
          <i class="pull-right fa" ng-class="{
            'fa-chevron-down': $ctrl.kudosOpen,
            'fa-chevron-right': !$ctrl.kudosOpen
          }"></i>
        </uib-accordion-heading>
        <document-info-kudos doi="$ctrl.kudosDoi"></document-info-kudos>
      </div>
    </uib-accordion>
  </div>
</div>
<div class="ph-sidenav-small"
  ng-show="!$ctrl.open"
  ng-style="{top: $ctrl.viewportOffsetTop + 'px'}"
>
  <div class="ph-collapse">
    <button class="navbar-toggle btn-link" ng-click="$ctrl.onToggle({open: true})">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </div>
  <hive-button document-ctrl="$ctrl.documentCtrl" large="false"></hive-button>
    <!--button class="btn btn-link dropdown-toggle" uib-dropdown-toggle>
      <img src="./static/img/logo-hexagon.svg">
      <img src="./static/img/logo-hexagon.svg" ng-if="$ctrl.documentCtrl.isUserHiver">
    </button>
  </div-->
  <!--div class="ph-document-info">
    <div class="dropdown" is-open="dropdown_open" uib-dropdown>
      <button class="btn btn-link dropdown-toggle" uib-dropdown-toggle>
        <i class="fa fa-history" aria-hidden="true"></i>
      </button>
      <ul class="dropdown-menu ph-dropdown-menu hidden">
        <li>
          <a href="./documents/{{revision.id}}/revisions/{{revision.revision}}">
            <strong>
             <span class="ph-document-journal">arXiv v3</span>,
                Jun 2014
            </strong>
          </a>
        </li>
        <li>
          <a href="./documents/{{revision.id}}/revisions/{{revision.revision}}">
            <strong>
              <span class="ph-document-journal">arXiv v2</span>,
                Sep 2013
            </strong>
          </a>
        </li>
      </ul>
    </div>
    <div
      class="ph-document-info-download">
      <a class="btn btn-link" ng-href="{{$ctrl.origPdfUrl}}" download>
        <i class="fa fa-download"></i>
      </a>
    </div>
  </div-->
</div>
