<div>
  <div class="ph-header-submenu-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <subnav>
            <ul class="nav nav-tabs ph-header-submenu">
              <li subnav-target="documents.text">
                <a><i class="fa fa-fw fa-file-pdf-o"></i> Document</a>
              </li>
              <li subnav-target="documents.discussions">
                <a><i class="fa fa-fw fa-comments"></i> Discussions
                  <span class="badge" ng-if="$ctrl.discussionsCtrl.discussions.length > 0">
                    {{$ctrl.discussionsCtrl.discussions.length}}
                  </span></a>
              </li>
              <li subnav-target="documents.activity">
                <a><i class="fa fa-heartbeat" aria-hidden="true"></i> Activity</a>
              </li>
            </ul>
          </subnav>
        </div>
      </div>
    </div>
  </div><!-- ph-header -->
  <div class="ph-columns-documents">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">           
            <div class="ph-sidenav ph-documents affix"> 
              <h5 class="ph-lg-margin-top">{{$ctrl.latestRevision.title}}</h2>
              <h6 class="ph-lg-margin-bottom">
                <span ng-repeat="author in $ctrl.latestRevision.authors">
                  {{author.name}}{{$last ? '' :', '}}
                </span>
              </h4>  

              <!-- <div ng-if="$ctrl.activeRevision"> -->
                <div class="ph-document-info">
                  <div>
                    <label class="text-muted">Version</label>
                    <div class="dropdown" is-open="dropdown_open" uib-dropdown>
                      <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <span class="ph-document-journal">arXiv v4</span>,
                        Jan 2015
                        <i class="fa fa-fw fa-caret-down"></i>
                      </button>
                    </div>
                    <ul class="dropdown-menu">
                      <li>
                        <a href="./documents/{{revision.id}}/revisions/{{revision.revision}}">
                          <strong>
                           <span class="ph-document-journal">arXiv v3</span>,
                            Jun 2014
                          </strong>
                          <span>
                            <span class="ph-document-journal">arXiv v2</span>,
                              Sep 2013
                          </span>
                          <i class="fa fa-fw"></i>
                        </a>
                      
                      </li>
                    </ul>
                  </div>
                  <div>
                    <div ng-if="$ctrl.activeRevision.distributor === 'Knowledge Unlatched'">
                      <label class="text-muted">Brought to you by</label>
                      <div>
                        <a href="http://www.knowledgeunlatched.org/">
                          <img src="./static/img/knowledge-unlatched.svg"
                            title="Knowledge Unlatched"
                            class="ph-distributor-logo"
                          >
                        </a>
                      </div>
                    </div>
                  </div>

                  <div
                    class="ph-document-info-download">
                    <a class="btn btn-default" ng-href="{{$ctrl.origPdfUrl}}" download>
                      <i class="fa fa-download"></i>
                    </a>
                  </div>
                </div>
              <!-- </div> -->

             <!--  <div ng-if="$ctrl.activeRevision">
                <div class="ph-document-info">
                  <div>
                    <label class="text-muted">Version</label>
                    <div class="dropdown" is-open="dropdown_open" uib-dropdown>
                      <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
                        <span class="ph-document-journal">{{$ctrl.getRevisionDescription($ctrl.activeRevision)}}</span>,
                        {{$ctrl.activeRevision.publishedAt | date:'MMM yyyy'}}
                        <i class="fa fa-fw fa-caret-down"></i>
                      </button>
                    </div>
                    <ul class="dropdown-menu">
                      <li ng-repeat="revision in $ctrl.revisions | orderBy:'publishedAt':true"
                          ng-class="{'disabled': !$ctrl.revisionAccess[revision.revision]}">
                        <a ng-if="$ctrl.revisionAccess[revision.revision]"
                           href="./documents/{{revision.id}}/revisions/{{revision.revision}}">
                          <strong ng-if="revision === $ctrl.activeRevision">
                            <span class="ph-document-journal">{{$ctrl.getRevisionDescription(revision)}}</span>,
                            {{revision.publishedAt | date:'MMM yyyy'}}
                          </strong>
                          <span ng-if="revision !== $ctrl.activeRevision">
                            <span class="ph-document-journal">{{$ctrl.getRevisionDescription(revision)}}</span>,
                            {{revision.publishedAt | date:'MMM yyyy'}}
                          </span>
                          <i class="fa fa-fw"></i>
                        </a>
                        <a ng-if="!$ctrl.revisionAccess[revision.revision]" title="This document is not accessible and cannot be displayed yet.">
                          <span class="ph-document-journal">{{$ctrl.getRevisionDescription(revision)}}</span>,
                          {{revision.publishedAt | date:'MMM yyyy'}}
                          <i class="fa fa-fw fa-lock"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <div ng-if="$ctrl.activeRevision.distributor === 'Knowledge Unlatched'">
                      <label class="text-muted">Brought to you by</label>
                      <div>
                        <a href="http://www.knowledgeunlatched.org/">
                          <img src="./static/img/knowledge-unlatched.svg"
                            title="Knowledge Unlatched"
                            class="ph-distributor-logo"
                          >
                        </a>
                      </div>
                    </div>
                  </div>

                  <div
                    ng-if="$ctrl.revisionAccess[$ctrl.activeRevision.revision]"
                    class="ph-document-info-download">
                    <a class="btn btn-default" ng-href="{{$ctrl.origPdfUrl}}" download>
                      Download PDF
                    </a>
                  </div>
                </div>
              </div> -->
            </div>
        </div>
        
        <div app-view-segment="1"></div>  

      </div>
    </div>
  </div> 
</div>

<!-- <div class="col-sm-2 text-right">
  <h2 class="ph-lg-margin-top">
    <hive-button
      popover-placement="bottom"
      popover-is-open="$ctrl.tour.stages[$ctrl.tour.index] === 'hive'"
      uib-popover-template="'html/shared/tour-hive.html'"
      popover-trigger="none"
      document-id="$ctrl.latestRevision.id"
      user="$ctrl.auth.user"
      title="{{$ctrl.auth.user ? 'Hive this document for receiving updates.' : 'You have to be logged in to hive the document.'}}"
    ></hive-button>
  </h2>
</div> -->