<div class="ph-header-submenu-container ph-header-submenu-container-fixed" ng-style="{top: $root.navbarSize.height  + 'px'}">
  <div class="container-fluid" on-resized="subnavSize = $size">
    <div class="row">
      <div class="ph-document-subnav" ng-class="{'ph-sidenav-open': $ctrl.sidenavOpen}">
        <button ng-click="$ctrl.subnavOpen = !$ctrl.subnavOpen" type="button" class="btn btn-default visible-xs">
          <i class="fa fa-fw fa-bars"></i> Toggle Navigation
        </button>
        <div class="navbar-collapse ph-no-padding" uib-collapse="!$ctrl.subnavOpen">
          <ul class="nav nav-tabs ph-header-submenu">
            <li ng-class="{active: ('documents.text' | routeSegmentStartsWith) || ('documents.revisions' | routeSegmentStartsWith)}">
              <a href=".{{'documents.text' | routeSegmentUrl}}" ng-click="$ctrl.subnavOpen = false">
                <i class="fa fa-fw fa-file-pdf-o"></i> Document
              </a>
            </li>
            <li ng-class="{active: ('documents.discussions' | routeSegmentStartsWith)}">
              <a href=".{{'documents.discussions' | routeSegmentUrl}}" ng-click="$ctrl.subnavOpen = false">
                <i class="fa fa-fw fa-comments"></i> Discussions
                <span class="badge" ng-if="$ctrl.discussionsCtrl.discussions.length > 0">
                  {{$ctrl.discussionsCtrl.discussions.length}}
                </span>
              </a>
            </li>
            <li ng-class="{active: ('documents.activity' | routeSegmentStartsWith)}">
              <a href=".{{'documents.activity' | routeSegmentUrl}}" ng-click="$ctrl.subnavOpen = false">
                <i class="fa fa-heartbeat" aria-hidden="true"></i> Activity
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<document-sidenav
  active-revision="$ctrl.activeRevision"
  document-ctrl="$ctrl.documentCtrl"
  open="$ctrl.sidenavOpen"
  number-search-results="$ctrl.numberSearchResults"
  viewport-offset-top="$root.navbarSize.height + subnavSize.height"

  on-toggle="$ctrl.sidenavOpen = open"
  on-search-submit="$ctrl.searchStr = searchStr;"
  on-search-match-index-update="$ctrl.indexSearchResults = indexSearchResults;"
></document-sidenav>
<div app-view-segment="1" class="ph-documents-columns"></div>
