<div class="ph-header-submenu-container ph-header-submenu-container-fixed" ng-style="{top: $root.navbarSize.height  + 'px'}">
  <div class="container-fluid" on-resized="subnavSize = $size">
    <div class="row">
      <div class="ph-document-subnav" ng-class="{'ph-sidenav-open': $ctrl.sidenavOpen}">
        <button ng-click="$ctrl.subnavOpen = !$ctrl.subnavOpen" type="button" class="btn btn-default visible-xs">
          <i class="fa fa-fw fa-bars"></i> Toggle Navigation
        </button>
        <div class="navbar-collapse ph-no-padding" uib-collapse="!$ctrl.subnavOpen">
          <ul class="nav nav-tabs ph-header-submenu">
            <li ng-class="{active: ('documentItem.text' | routeSegmentStartsWith)}">
              <a href=".{{'documentItem.text' | routeSegmentUrl}}" ng-click="$ctrl.subnavOpen = false">
                <i class="fa fa-fw fa-file-pdf-o"></i> Document
              </a>
            </li>
            <li ng-class="{active: ('documentItem.discussion' | routeSegmentStartsWith)}">
              <a href=".{{'documentItem.discussion.list' | routeSegmentUrl}}" ng-click="$ctrl.subnavOpen = false">
                <i class="fa fa-fw fa-comments"></i> Discussions
                <span class="badge" ng-if="$ctrl.discussionsCtrl.discussions.length > 0">
                  {{$ctrl.discussionsCtrl.discussions.length}}
                </span>
              </a>
            </li>
            <li ng-class="{active: ('documentItem.activity' | routeSegmentStartsWith)}">
              <a href=".{{'documentItem.activity' | routeSegmentUrl}}" ng-click="$ctrl.subnavOpen = false">
                <i class="fa fa-heartbeat" aria-hidden="true"></i> Activity
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<document-sidenav
  document-item="$ctrl.documentItem"
  discussions-ctrl="$ctrl.discussionsCtrl"
  discussions-by-revision="$ctrl.discussionsByRevision"
  document-ctrl="$ctrl.documentCtrl"
  open="$ctrl.sidenavOpen"
  pdf-info="$ctrl.pdfInfo"
  search-matches="$ctrl.searchMatches"
  search-match-index="$ctrl.searchMatchIndex"
  search-str="$ctrl.searchStr"
  document-subscriptions="$ctrl.documentSubscriptions"
  viewport-offset-top="$root.navbarSize.height + subnavSize.height"

  on-toggle="$ctrl.sidenavOpen = open"
  on-search-update="$ctrl.searchStr = searchStr; $ctrl.searchMatchIndex = matchIndex"
  on-anchor-update="$ctrl.anchor = anchor"
  on-add-bookmark="$ctrl.addBookmark($channel)"
  on-remove-bookmark="$ctrl.removeBookmark($channel)"
  on-add-share="$ctrl.addShare($channel)"
  on-remove-share="$ctrl.removeShare($channel)"
  on-add-document-subscription="$ctrl.addDocumentSubscription()"
  on-remove-document-subscription="$ctrl.removeDocumentSubscription()"
></document-sidenav>
<div app-view-segment="1" class="ph-documents-columns"></div>
