<div class="container ph-md-margin-top ph-lg-margin-bottom">

  <h2>Knowledge Unlatched books</h2>

  <div class="row">
    <div class="col-md-6">
      <a href="http://knowledgeunlatched.org">Knowledge Unlatched</a>
      is a global consortium that promotes collaboration
      between libraries and publishers to make great academic books open
      access. The freed books are made available under a
      <a href="https://creativecommons.org/">Creative Commons</a>
      license. 106 books from 26 scholarly publishers have already
      been unlatched with the help of around 380 libraries plus consortia
      around the world. The full list of books which are being unlatched on
      an ongoing basis can be found on
      <a href="http://collections.knowledgeunlatched.org/collection-availability-2/"
      >KU's website</a>.
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <a href="http://knowledgeunlatched.org">
            <img class="img-responsive" src="./static/img/knowledge-unlatched.svg">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!$ctrl.categories" class="ph-lg-margin-top">
    <i class="fa fa-spinner fa-spin"></i>
    <span class="sr-only">Loading...</span>
  </div>
  <div ng-repeat="category in $ctrl.categories">
    <h3>
      {{category.category}}
    </h3>
    <div class="row ph-sm-margin-bottom">
      <div class="col-md-12">
        <div class="ph-document-list">
          <document-item document="document" class="ph-document-item" ng-repeat="document in category.documents"></document-item>
        </div>
      </div>
    </div>
  </div>
</div>
