<li class="ph-sidenav-pages">
  <ul>
    <li class="ph-pages-scroll-up">
      <a class="btn" alt="Previous page" title="Previous page"
        ng-disabled="$ctrl.pageNumber === undefined || $ctrl.pageNumber === 1"
        ng-click="$ctrl.pageNumber > 1 && $ctrl.onChange({pageNumber: $ctrl.pageNumber - 1})"
      ><i class="fa fa-fw fa-chevron-circle-left"></i></a>
    </li>
    <li class="ph-pages-current">
      <form
        name="pageNumberForm"
        ng-submit="pageNumberForm.$valid && $ctrl.onChange({pageNumber: $ctrl.pageNumberModel})"
        novalidate
      >
        <input
          type="number" class="ph-pages-current form-control input-sm"
          ng-model="$ctrl.pageNumberModel"
          ng-min="1"
          ng-max="$ctrl.totalPageNumber"
          ng-required="true"
          ng-disabled="$ctrl.pageNumber === undefined"
        >
      </form>
    </li>
    <li class="ph-pages-total">
      <span ng-if="$ctrl.totalPageNumber !== undefined">/ {{$ctrl.totalPageNumber}}</span>
    </li>
    <li class="ph-pages-scroll-down">
      <a class="btn" alt="Next page" title="Next page"
        ng-disabled="$ctrl.pageNumber === undefined || $ctrl.pageNumber === $ctrl.totalPageNumber"
        ng-click="$ctrl.pageNumber < $ctrl.totalPageNumber && $ctrl.onChange({pageNumber: $ctrl.pageNumber + 1})"
      ><i class="fa fa-fw fa-chevron-circle-right"></i></a>
    </li>
  </ul>
</li>
