<div class="ph-component-icon">
  <i class="fa fa-fw" ng-if="!$ctrl.item.items || $ctrl.item.items.length === 0"></i>
  <a href=""
    ng-click="$ctrl.collapsed = !$ctrl.collapsed"
    ng-if="$ctrl.item.items.length > 0"
  ><i class="fa fa-fw" ng-class="{
    'fa-chevron-right': $ctrl.collapsed,
    'fa-chevron-down': !$ctrl.collapsed,
  }"></i></a>
</div>
<div class="ph-component-body">
  <div class="ph-component-link-container">
    <a href="" ng-click="$ctrl.onSelect({dest: $ctrl.item.dest})"
      title="{{$ctrl.item.title}}"
    >{{$ctrl.item.title}}</a>
  </div>
  <div ng-if="$ctrl.item.items.length > 0" uib-collapse="$ctrl.collapsed">
    <document-sidenav-outline-item ng-repeat="item in $ctrl.item.items"
      item="item" on-select="$ctrl.onSelect({dest})"
    ></document-sidenav-outline-item>
  </div>
</div>
