<div class="ph-sidenav-large"
  ng-show="$ctrl.open"
  ng-style="{top: $ctrl.viewportOffsetTop + 'px'}"
>
  <button class="btn btn-link ph-sidenav-btn-collapse" ng-click="$ctrl.onToggle({open: false})">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </button>
  <div class="ph-sidenav-header">
    <h5 class="ph-lg-margin-top">
      <mathjax body="$ctrl.activeRevision.title"></mathjax>
    </h5>
    <h6 class="ph-lg-margin-bottom">
      <span ng-repeat="author in $ctrl.activeRevision.authors">
        {{author.name}}{{$last ? '' :', '}}
      </span>
    </h6>
  </div>
  <div class="ph-sidenav-item">
    <hive-button
      ng-if="$ctrl.documentCtrl.hivers !== undefined"
      document-ctrl="$ctrl.documentCtrl"
      large="true"

      popover-placement="bottom-left"
      popover-is-open="$ctrl.tour.stages[$ctrl.tour.index] === 'hive'"
      uib-popover-template="$ctrl.tour.urls.hive"
      popover-trigger="'none'"
    ></hive-button>
  </div>
  <div class="ph-sidenav-info">

    <channel-bookmark
      document-ctrl="$ctrl.documentCtrl"
    ></channel-bookmark>

    <div class="dropdown ph-sidenav-item" is-open="$ctrl.revisionDropdownOpen" uib-dropdown
      ng-if="$ctrl.documentCtrl.revisions && $ctrl.documentCtrl.revisionAccess && $ctrl.activeRevision"
    >
      <button uib-dropdown-toggle
        class="btn btn-default ph-split-container ph-split-container-icon-right dropdown-toggle"
        title="{{$ctrl.documentCtrl.getRevisionDescription($ctrl.activeRevision)}}, {{$ctrl.activeRevision.publishedAt | date:'MMM yyyy'}}"
      >
        <span class="ph-split-icon"><i class="fa fa-history" aria-hidden="true"></i></span>
        <span class="ph-split-text">
          <span class="ph-sidenav-journal">{{$ctrl.documentCtrl.getRevisionDescription($ctrl.activeRevision)}}</span>,
          {{$ctrl.activeRevision.publishedAt | date:'MMM yyyy'}}
        </span>
        <i class="fa fa-fw fa-caret-down ph-split-icon-right"></i>
      </button>
      <ul class="dropdown-menu ph-dropdown-menu-full">
        <li ng-repeat="revision in $ctrl.documentCtrl.revisions | orderBy:'publishedAt':true"
            ng-class="{disabled: !$ctrl.documentCtrl.revisionAccess[revision.revision]}"
            ng-click="$ctrl.revisionDropdownOpen = false">
          <a ng-if="$ctrl.documentCtrl.revisionAccess[revision.revision]"
            class="ph-split-container ph-split-container-no-icon"
            href="./documents/{{revision.id}}/revisions/{{revision.revision}}"
            title="{{$ctrl.documentCtrl.getRevisionDescription(revision)}}, {{revision.publishedAt | date:'MMM yyyy'}}"
          >
            <span class="ph-split-text"
              ng-class="{'ph-dropdown-menu-active': revision === $ctrl.activeRevision}"
            >
              <span class="ph-sidenav-journal">{{$ctrl.documentCtrl.getRevisionDescription(revision)}}</span>,
              {{revision.publishedAt | date:'MMM yyyy'}}
            </span>
          </a>
          <a ng-if="$ctrl.documentCtrl.revisionAccess[revision.revision] === undefined"
            class="ph-split-container ph-split-container-no-icon ph-split-container-icon-right"
          >
            <span class="ph-split-text">
              <span class="ph-sidenav-journal">{{$ctrl.documentCtrl.getRevisionDescription(revision)}}</span>,
              {{revision.publishedAt | date:'MMM yyyy'}}
            </span>
            <i class="fa fa-fw fa-spinner fa-spin ph-split-icon-right"></i>
          </a>
          <a ng-if="$ctrl.documentCtrl.revisionAccess[revision.revision] === false"
            title="This document is currently not accessible and cannot be displayed."
            class="ph-split-container ph-split-container-no-icon ph-split-container-icon-right"
          >
            <span class="ph-split-text">
              <span class="ph-sidenav-journal">{{$ctrl.documentCtrl.getRevisionDescription(revision)}}</span>,
              {{revision.publishedAt | date:'MMM yyyy'}}
            </span>
            <i class="fa fa-fw fa-lock ph-split-icon-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="ph-sidenav-item" ng-if="$ctrl.publisherLink">
    <a href="{{$ctrl.publisherLink}}" class="ph-sidenav-publisher-link">
      Visit publisher's publication page
    </a>
  </div>
  <div class="ph-sidenav-accordion">
    <uib-accordion close-others="oneAtATime">
      <div ng-if="$ctrl.kudosDoi" uib-accordion-group class="panel-default ph-sidenav-info-kudos" is-open="$ctrl.kudosOpen">
        <uib-accordion-heading>
          <img src="../../static/img/kudos-icon.svg" alt="Kudos"> Kudos explanation
          <i class="pull-right fa" ng-class="{
            'fa-chevron-down': $ctrl.kudosOpen,
            'fa-chevron-right': !$ctrl.kudosOpen
          }"></i>
        </uib-accordion-heading>
        <document-info-kudos doi="$ctrl.kudosDoi"></document-info-kudos>
      </div>
    </uib-accordion>
  </div>
  <div class="ph-sidenav-pagination">
    <ul class="ph-sidenav-icons">
      <li class="ph-sidenav-pages">
        <ul>
          <li class="ph-pages-scroll-up">
            <a class="btn" alt="Previous page" title="Previous page"><i class="fa fa-fw fa-chevron-circle-left"></i></a>
          </li>
          <li class="ph-pages-current">
            <input type="text" class="ph-pages-current form-control input-sm" value="5"> 
          </li>
          <li class="ph-pages-total">
            <span class="">/ 100 </span>
          </li>
          <li class="ph-pages-scroll-down">
            <a class="btn" alt="Next page" title="Next page"><i class="fa fa-fw fa-chevron-circle-right"></i></a> 
          </li>
        </ul>
      </li>
      <li class="ph-sidenav-index">
        <a class="btn" ng-click="$ctrl.docNavToggle('index')" title="Index" alt="Index"><i class="fa fa-list-ol"></i></a>
        <div class="ph-margin-arrow-container ph-sidenav-arrow" 
            ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'index'}">
          <div class="ph-arrow ph-arrow-outward-bottom"></div>
        </div>         
      </li>
      <li class="ph-sidenav-thumbnails">
        <a class="btn" ng-click="$ctrl.docNavToggle('thumb')" title="Page Thumbnails" alt="Page Thumbnails"><i class="fa fa-file-text-o"></i></a>
        <div class="ph-margin-arrow-container ph-sidenav-arrow" 
            ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'thumb'}">
          <div class="ph-arrow ph-arrow-outward-bottom"></div>
        </div>        
      </li>
      <li class="ph-sidenav-search">
        <a class="btn" ng-click="$ctrl.docNavToggle('search')" title="Search" alt="Search"><i class="fa fa-fw fa-search"></i></a> 
        <div class="ph-margin-arrow-container ph-sidenav-arrow" 
            ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'search'}">
          <div class="ph-arrow ph-arrow-outward-bottom"></div> 
        </div>             
      </li>
      <div class="ph-sidenav-expand-index" ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'index'}">
        Index
      </div>
      <div class="ph-sidenav-expand-thumb" ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'thumb'}">
        Thumbnails
      </div>
      <div class="ph-sidenav-expand-search" ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'search'}">
        This will expand and show information
      </div>
    </ul>    
  </div>
</div>
<div class="ph-sidenav-small"
  ng-show="!$ctrl.open"
  ng-style="{top: $ctrl.viewportOffsetTop + 'px'}"
>
  <button class="btn btn-link" ng-click="$ctrl.onToggle({open: true})">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </button>
  <hive-button document-ctrl="$ctrl.documentCtrl" large="false"></hive-button>
  <div class="ph-sidenav-pagination">
    <ul class="ph-sidenav-icons">
      <li class="ph-sidenav-pages">
        <ul>
          <li class="ph-pages-scroll-up">
            <a class="btn" alt="Previous page" title="Previous page"><i class="fa fa-fw fa-chevron-circle-left"></i></a>
          </li>
          <li class="ph-pages-current" uib-tooltip="Page 5 of 100" tooltip-placement="right">
            <input type="text" class="ph-pages-current form-control input-sm" value="5" > 
          </li>
          <!-- <li class="ph-pages-total">
            <span class="">/ 100</span>
          </li> -->
          <li class="ph-pages-scroll-down">
            <a class="btn" alt="Next page" title="Next page"><i class="fa fa-fw fa-chevron-circle-right"></i></a> 
          </li>
        </ul>
      </li>
      <li class="ph-sidenav-index">
        <a class="btn" ng-click="$ctrl.docNavToggle('index')" title="Index" alt="Index"><i class="fa fa-list-ol"></i></a>
        <div class="ph-margin-arrow-container ph-sidenav-arrow" 
            ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'index'}">
          <div class="ph-arrow ph-arrow-outward-left"></div>
        </div>  
        <div class="ph-sidenav-expand-index" ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'index'}">
          Index
        </div>       
      </li>
      <li class="ph-sidenav-thumbnails">
        <a class="btn" ng-click="$ctrl.docNavToggle('thumb')" title="Page Thumbnails" alt="Page Thumbnails"><i class="fa fa-file-text-o"></i></a>
        <div class="ph-margin-arrow-container ph-sidenav-arrow" 
            ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'thumb'}">
          <div class="ph-arrow ph-arrow-outward-left"></div>
        </div>            
        <div class="ph-sidenav-expand-thumb" ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'thumb'}">
          Thumbnails
        </div>    
      </li>
      <li class="ph-sidenav-search">
        <a class="btn" ng-click="$ctrl.docNavToggle('search')" title="Search" alt="Search"><i class="fa fa-fw fa-search"></i></a> 
        <div class="ph-margin-arrow-container ph-sidenav-arrow" 
            ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'search'}">
          <div class="ph-arrow ph-arrow-outward-left"></div> 
        </div>
        <div class="ph-sidenav-expand-search" ng-class="{'ph-sidenav-expanded': $ctrl.docNav === 'search'}">
          This will expand and show information
        </div>        
      </li>     
      
    </ul>    
  </div>
</div>
