@import "../../less/variables.less";

file-select-button {
  display: block;

  > label.drop-zone {
    padding: @padding-base-vertical*5 @padding-base-horizontal;
    border-width: 5px;
    border-style: dashed;
    white-space: normal;

    &.drag-active {
      border-color: darken(@btn-default-border, 20%);
    }

    > ng-transclude {
      display: block;
    }

    > input[type="file"] {
      display: none;
    }
  }
}
