<div class="container ph-lg-margin-bottom" ng-if="!$ctrl.invitation.channel.isActive">
  <h2 class="text-center">The channel you were invited to is not active anymore.</h2>
</div>

<div class="container ph-lg-margin-bottom" ng-if="$ctrl.invitation.channel.isActive">
  <h2 class="text-center">Confirm your channel invitation</h2>

  <div class="row ph-lg-margin-top">

    <!-- Person invitation -->
    <div class="col-sm-offset-3 col-sm-6" ng-show="$ctrl.invitation.person">
      <div class="panel panel-default">
        <div class="panel-body">
          <b>{{$ctrl.invitation.channel.name}}</b>
          <span class="pull-right">
            <button
              type="button" class="btn btn-danger btn-sm"
              ng-confirm-click="Really discard this invitation?"
              confirmed-click="$ctrl.invitationDelete($ctrl.invitation.channel.id, $ctrl.invitation.id)"
            >
              <i class="fa fa-times"></i>
              Discard
            </button>
            <button
              type="button" class="btn btn-primary btn-sm"
              ng-click="$ctrl.invitationConfirm($ctrl.invitation.channel.id, $ctrl.invitation.id)"
            >
              <i class="fa fa-check"></i>
              Confirm
            </button>
          </span>
          <div>
            {{$ctrl.invitation.channel.description}}
          </div>
          <div class="ph-sm-margin-top text-muted">
            <small>
              <a href="./users/{{$ctrl.invitation.invitedBy.account.username}}">{{$ctrl.invitation.invitedBy.displayName}}</a>
              invited you as
              <span class="label ph-sm-margin-left ph-sm-margin-right"
                ng-repeat="role in $ctrl.invitation.roles"
                ng-class="{
                  'label-primary': role === 'owner',
                  'label-info': role !== 'owner',
                }"
              >
                {{role}}
              </span>
              of this channel.
            </small>
          </div>
          <div class="text-muted">
            <small am-time-ago="$ctrl.invitation.createdAt"></small>
          </div>
        </div>
      </div>
    </div>

    <!-- Email invitation -->
    <div class="col-sm-offset-3 col-sm-6" ng-show="!$ctrl.invitation.person">
      <div class="panel panel-default">
        <div class="panel-body">
          <b>{{$ctrl.invitation.channel.name}}</b>
          <span class="pull-right">
            <button
              type="button" class="btn btn-danger btn-sm"
              ng-confirm-click="Really discard this invitation?"
              confirmed-click="$ctrl.invitationDelete($ctrl.invitation.channel.id, $ctrl.invitation.id)"
            >
              <i class="fa fa-times"></i>
              Discard
            </button>
          </span>
          <div>
            {{$ctrl.invitation.channel.description}}
          </div>
          <div class="ph-sm-margin-top text-muted">
            <small>
              <a href="./users/{{$ctrl.invitation.invitedBy.account.username}}">{{$ctrl.invitation.invitedBy.displayName}}</a>
              invited you as
              <span class="label ph-sm-margin-left ph-sm-margin-right"
                ng-repeat="role in $ctrl.invitation.roles"
                ng-class="{
                  'label-primary': role === 'owner',
                  'label-info': role !== 'owner',
                }"
              >
                {{role}}
              </span>
              of this channel.
            </small>
          </div>
          <div class="text-muted">
            <small am-time-ago="$ctrl.invitation.createdAt"></small>
          </div>
        </div>
      </div>
    </div>

    <!-- use ng-show because ng-if creates a child scope! -->
    <div class="ph-md-padding-top" ng-show="!$ctrl.invitation.person">
      <div class="col-sm-offset-3 col-sm-6">
        <form name="confirmationForm" novalidate>

          <div class="form-group" ng-class="{
            'has-error': $ctrl.hasError('password'),
            'has-success': confirmationForm.password.$valid
          }">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
              name="password" ng-model="$ctrl.password" ng-minlength="8"
              ng-disabled="$ctrl.inProgress || $ctrl.succeeded"
              ng-model-options="{updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }"
              required>
            <div class="help-block">
              <span ng-if="$ctrl.hasError('password')">
                <span ng-if="confirmationForm.password.$error.required">
                  Please enter a password.
                </span>
                <span ng-if="confirmationForm.password.$error.password
                  || confirmationForm.password.$error.minlength"
                >
                  Please enter a password with at least 8 characters.
                </span>
              </span>
            </div>
          </div>

          <div ng-class="{'has-success': confirmationForm.$valid}">
            <span class="help-block">
              <span ng-if="$ctrl.succeeded">
                <i class="fa fa-fw fa-check"></i>
                Check your emails to confirm your sign-up.
              </span>
              <span ng-if="$ctrl.error" class="text-danger">
                <i class="fa fa-fw fa-times"></i>
                {{$ctrl.error}}
              </span>
            </span>
          </div>

          <div class="ph-md-padding-top">
            <button class="btn btn-primary btn-block"
              type="submit"
              ng-click="!$ctrl.inProgress && !$ctrl.succeeded && !confirmationForm.$invalid && $ctrl.invitationConfirm($ctrl.invitation.channel.id, $ctrl.invitation.id)"
              ng-class="{disabled: confirmationForm.$invalid || $ctrl.inProgress || $ctrl.succeeded}"
            >
              <i ng-if="$ctrl.inProgress" class="fa fa-fw fa-spinner fa-spin"></i>
              <i ng-if="!$ctrl.inProgress" class="fa fa-check"></i>
              Confirm and sign up
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
