<!-- Header Start -->
<div class="container ph-xl-margin-bottom">
  <h2 id="jobs">Jobs</h2>
  <h3>Join the PaperHive team</h3>
  <div class="row">
    <div class="col-md-8">
      <p>
        PaperHive is a software company in the field of scientific research and
        collaboration. After becoming a part of the
        <a href="https://www.entrepreneurship.tu-berlin.de/">Centre for
          Entrepreneurship</a>
        incubator at the TU Berlin in mid 2015 and receiving the
        <a href="https://www.exist.de">EXIST startup grant</a> since December
        2015, the company released its first product as public beta in June 2016.
      </p>
      <p>
        PaperHive is the coworking hub for researchers, aiming to support
        knowledge-creators in their work and to dramatically increase open
        collaboration in science.
      </p>
      <p>
        We strive for high diversity in <a href="./about">our team</a> and
        encourage you to apply regardless of your (and our)
        identity.
      </p>
      <p>
        We are always looking for incredibly creative developers willing to take over
        responsibility for engineering our existing
        application in a user-friendly and sustainable way.
      </p>
    </div>
    <div class="col-md-4 ph-icon-container">
      <a href="https://www.exist.de">
        <img src="../../static/img/logo_exist.svg"
          alt="EXIST Existenzgründungen aus der Wissenschaft"
          class="img-responsive center-block ph-img-hover">
      </a>
      <a href="https://www.entrepreneurship.tu-berlin.de/">
        <img src="../../static/img/logo_cfe.svg"
          alt="Centre for Entrepreneurship"
          class="img-responsive center-block ph-img-hover">
      </a>
    </div>
  </div>

  <div class="ph-icon-container">
    <a href="https://angularjs.org/">
      <img class="img-responsive center-block ph-img-hover" src="../../static/img/angular.svg" alt="AngularJS">
    </a>
    <a href="https://nodejs.org/">
      <img class="img-responsive center-block ph-img-hover" src="../../static/img/nodejs.svg" alt="Node.js">
    </a>
    <a href="https://www.typescriptlang.org/">
      <img class="img-responsive center-block ph-img-hover" src="../../static/img/typescript.svg" alt="TypeScript">
    </a>
    <a href="https://en.wikipedia.org/wiki/ECMAScript#6th_Edition">
      <img class="img-responsive center-block ph-img-hover" src="../../static/img/es6.svg" alt="ES6 === ES2015">
    </a>
    <a href="https://www.mongodb.org/">
      <img class="img-responsive center-block ph-img-hover" src="../../static/img/mongodb.svg" alt="MongoDB">
    </a>
    <a href="https://www.elastic.co/products/elasticsearch">
      <img class="img-responsive center-block ph-img-hover" src="../../static/img/elasticsearch.svg" alt="Elasticsearch">
    </a>
  </div>
</div>
