<!-- Header Start -->
<div class="container ph-xl-margin-bottom">
  <h2 id="jobs">Jobs</h2>
  <h3>Join the PaperHive team</h3>
  <div class="row">
    <div class="col-md-8">
      <p>
        PaperHive is a software company in the field of scientific research and
        collaboration. After becoming a part of the
        <a href="https://www.entrepreneurship.tu-berlin.de/">Centre for
          Entrepreneurship</a>
        incubator at the TU Berlin in mid 2015 and receiving the
        <a href="https://www.exist.de">EXIST startup grant</a> since December
        2015, the company released its first product as public beta in June 2016.
      </p>
      <p>
        PaperHive is the coworking hub for researchers, aiming to support
        knowledge-creators in their work and to dramatically increase open
        collaboration in science.
      </p>
      <p>
        We strive for high diversity in <a href="./about">our team</a> and
        encourage you to apply regardless of your (and our)
        identity.
      </p>
    </div>
    <div class="col-md-3 col-md-offset-1 ph-icon-container">
      <a href="https://www.exist.de">
        <img src="./static/img/logo_exist.svg"
          alt="EXIST Existenzgründungen aus der Wissenschaft"
          class="img-responsive center-block ph-img-hover">
      </a>
      <a href="https://www.entrepreneurship.tu-berlin.de/">
        <img src="./static/img/logo_cfe.svg"
          alt="Centre for Entrepreneurship"
          class="img-responsive center-block ph-img-hover">
      </a>
    </div>
  </div>

  <!--p>
    We are always looking for incredibly creative developers willing to take over
    responsibility for engineering our existing
    application in a user-friendly and sustainable way.
  </p-->
  <h3>
    Software engineer
    <small class="ph-newline">
      <span class="label label-info">backend and/or frontend</span>
      <span class="label label-info">full-time</span>
    </small>
  </h3>
  <div class="row">
    <div class="col-md-8">
      <p>
        We are looking for an incredibly creative developer willing to take over
        responsibility for engineering our existing application in a
        user-friendly and sustainable way.
      </p>

      <h4>Your tasks</h4>
      <div class="row">
        <div class="col-md-6">
          <h5>
            Backend
            <div>
              <span class="label label-info">nodejs</span>
              <span class="label label-info">mongodb</span>
              <span class="label label-info">elasticsearch</span>
            </div>
          </h5>
          If Node.js and databases are your thing, you and our team will
          <ul>
            <li>advance our thoroughly tested REST API</li>
            <li>
              implement efficient algorithms for processing large
              amounts of data (&ge; 14 million documents)
            </li>
            <li>ensure the reliability of the API</li>
            <li>build new microservices where appropriate</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5>
            Frontend
            <div>
              <span class="label label-info">angularjs</span>
              <span class="label label-info">bootstrap</span>
              <span class="label label-info">pdfjs</span>
            </div>
          </h5>
          If you're into AngularJS, you and our team will
          <ul>
            <li>build a UI that is fun to use for researchers</li>
            <li>advance the component-based AngularJS application</li>
            <li>upgrade the codebase to Angular 2</li>
            <li>optimize the UX and overall appearance (with a designer)</li>
            <li>improve unit and end-to-end tests</li>
          </ul>
        </div>
      </div>
      In any case, you will
      <ul>
        <li>constantly decide how the overall architecture can be improved</li>
        <li>improve the development toolchain</li>
        <li>enhance the continuous integration and continuous delivery pipeline</li>
        <li ng-non-bindable>realize <code>{{yourIdeas}}</code></li>
      </ul>
      <p>
        Numerous other interesting tasks will arise along the way. Bringing in
        your own ideas and taking over responsibility is most important to us.
      </p>

      <h4>Your profile</h4>
      We need a team player to join PaperHive in September 2016 who
      <ul>
        <li>has a bachelor's or master's degree in computer science (or a related field)</li>
        <li>has &ge;1.5 years of development experience with Node.js and/or AngularJS</li>
        <li>wants to stay at the forefront of web technology by learning and applying new concepts every day</li>
        <li>loves to build reusable code with accompanying unit tests</li>
        <li>makes decisions based on facts instead of buzzwords</li>
        <li>speaks English or German fluently</li>
      </ul>
      <p>
        Experience with large-scale web applications, TypeScript, ES6 or
        Angular 2 is a plus.
      </p>

      <h4>Our offer</h4>
      <p>
        We want you to become a full-time and long-term
        <strong>core team member</strong>.
      </p>
      <ul>
        <li>
          <strong>Create:</strong> Build innovative software using the
          frameworks of tomorrow.
        </li>
        <li>
          <strong>Grow:</strong> Learn from software engineers with more than
          18 years of experience in scientific computing and web development.
        </li>
        <li>
          <strong>Team spirit:</strong> Work in a small, dynamic, and
          open-minded team that is driven by the enthusiasm for a cause with a
          global impact.
        </li>
        <li>
          <strong>Openness and flexibility:</strong> We are always open to
          progressive ideas in any direction.
        </li>
        <li>
          <strong>Entrepreneurial workplace:</strong> Experience the dynamic
          nature of a young startup based in Mitte (near Nordbahnhof, in the TU
          Gründungsinsel). Flora Mate and finest Italian espresso await you (if
          you’re into caffeine). We also cook delicious pasta. And our table-free
          table tennis (it's not tennis!) matches are legendary.
        </li>
        <li>
          <strong>Appreciation and respect:</strong> receive a competitive
          salary and enjoy a flexible working time.
        </li>
      </ul>
      <h4>Application details</h4>
      <p>
        Please send us a short CV to
        <a href="mailto:info@paperhive.org">info@paperhive.org</a>
        before <code>2016-09-11T23:59Z</code>. We don't need a cover letter.
        Feel free to include links to projects you built.
      </p>
    </div>
    <div class="col-md-3 col-md-offset-1 ph-icon-container">
      <a href="https://angularjs.org/">
        <img class="img-responsive center-block ph-img-hover" src="./static/img/angular.svg" alt="AngularJS">
      </a>
      <a href="https://nodejs.org/">
        <img class="img-responsive center-block ph-img-hover" src="./static/img/nodejs.svg" alt="Node.js">
      </a>
      <a href="https://www.typescriptlang.org/">
        <img class="img-responsive center-block ph-img-hover" src="./static/img/typescript.svg" alt="TypeScript">
      </a>
      <a href="https://en.wikipedia.org/wiki/ECMAScript#6th_Edition">
        <img class="img-responsive center-block ph-img-hover" src="./static/img/es6.svg" alt="ES6 === ES2015">
      </a>
      <a href="https://www.mongodb.org/">
        <img class="img-responsive center-block ph-img-hover" src="./static/img/mongodb.svg" alt="MongoDB">
      </a>
      <a href="https://www.elastic.co/products/elasticsearch">
        <img class="img-responsive center-block ph-img-hover" src="./static/img/elasticsearch.svg" alt="Elasticsearch">
      </a>
    </div>
  </div>
</div>
