<!-- Content Start -->
<div class="container">
  <div class="row">
    <div class="col-md-12 ph-xl-margin-bottom">
      <h2>Legal notice</h2>
      <p>
        Looking for the PaperHive office location? Check out the <a href="./contact">contact page</a>.
      </p>
      <p>
        In compliance with the German law
        <a href="http://www.gesetze-im-internet.de/tmg/__5.html">TMG § 5</a>,
        this page (<em>Impressum</em>) gives information about the operator of
        this website.
      </p>

      <h3>Company information</h3>
      <table class="table">
        <tr>
          <td><strong>Address</strong></td>
          <td>
            <address>
              PaperHive UG (haftungsbeschränkt)<br>
              c/o Dr. André Gaul<br>
              Kreuzbergstraße 36<br>
              10965 Berlin<br>
              Germany
            </address>
          </td>
        </tr>
        <tr>
          <td><strong>Phone</strong></td>
          <td><a href="tel:+493031478924">+49 30 31478924</a></td>
        </tr>
        <tr>
          <td><strong>Email</strong></td>
          <td><a href="mailto:info@paperhive.org">info@paperhive.org</a></td>
        </tr>
        <tr>
          <td>
            <strong>Managing director</strong><br>
            <small class="text-muted">Vertretungsberechtigter Geschäftsführer</small>
          </td>
          <td>Dr. André Gaul</td>
        </tr>
        <tr>
          <td>
            <strong>Court of registration</strong><br>
            <small class="text-muted">Registergericht</small>
          </td>
          <td>Amtsgericht Charlottenburg</td>
        </tr>
        <tr>
          <td>
            <strong>Trade register number</strong><br>
            <small class="text-muted">Handelsregisternummer</small>
          </td>
          <td>HRB 177825 B</td>
        </tr>
        <tr>
          <td>
            <strong>VAT identification number</strong><br>
            <small class="text-muted">Umsatzsteueridentifikationsnummer</small>
          </td>
          <td>DE306832127</td>
        </tr>
      </table>

      <h3>Disclaimer</h3>
      <p>
        This website contains links to external websites. PaperHive is not
        responsible for any content presented on external websites.
        External websites are used at your own risk. The providers of
        external websites are responsible for the content presented there.
      </p>
    </div>
  </div>
</div>
<!-- Content End -->
