<!-- Content Start -->
<div class="container">
  <div class="row">

    <div class="col-md-12 ph-xl-margin-bottom">
      <h2>Legal notice</h2>
      <h3 class="ph-heading-light">Website operators</h3>
      <p>
        In compliance with the German law
        <a href="http://www.gesetze-im-internet.de/tmg/__5.html">TMG § 5</a>,
        this page (<em>Impressum</em>) gives information about the operators of
        this website.
      </p>
      <p>
        This website is operated by:
      </p>
      <p>
        <strong>André Gaul</strong>
        (<a href="mailto:andre@paperhive.org">andre@paperhive.org</a>) and<br>
        <strong>Alexander Naydenov</strong>
        (<a href="mailto:alex@paperhive.org">alex@paperhive.org</a>)<br>
        Ackerstr. 76<br>
        13355 Berlin<br>
        Germany
      </p>
    </div>
  </div>
</div>
<!-- Content End -->
