<div
  class="ph-margin-controls ph-margin-controls-top"
  ng-style="{top: $ctrl.viewportOffsetTop || 0}"
>
  <margin-link
    position="top"
    discussion-offsets="$ctrl.discussionPositions"
    discussion-sizes="$ctrl.discussionSizes"
    viewport-offset-top="$ctrl.viewportOffsetTop"
    viewport-offset-bottom="$ctrl.viewportOffsetBottom"
  ></margin-link>
  <div class="ph-margin-controls-permanent">
    <channel-selector discussions="$ctrl.discussions"></channel-selector>
    <!--filter-button></filter-button-->
  </div>
</div>
<div class="ph-margin-controls ph-margin-controls-bottom"
  ng-style="{bottom: $ctrl.viewportOffsetBottom || 0}"
>
  <margin-link
    position="bottom"
    discussion-offsets="$ctrl.discussionPositions"
    discussion-sizes="$ctrl.discussionSizes"
    viewport-offset-top="$ctrl.viewportOffsetTop"
    viewport-offset-bottom="$ctrl.viewportOffsetBottom"
  ></margin-link>
</div>
<div
  ng-repeat="discussion in $ctrl.filteredDiscussions track by discussion.id"
  class="ph-margin-discussion"
  ng-style="{
    top: $ctrl.discussionPositions[discussion.id] + 'px',
    opacity: $ctrl.channelService.selectedChannel.id === discussion.channel ? 1 : 0.5,
  }"
  ng-class="{'ph-margin-discussion-animate': $ctrl.discussionPositions[discussion.id] !== undefined}"
  id="discussion-{{discussion.id}}"
>
  <margin-discussion-placeholder
    ng-show="!$ctrl.discussionVisibilities[discussion.id]"
  ></margin-discussion-placeholder>
  <margin-discussion
    ng-if="$ctrl.discussionVisibilities[discussion.id]"

    discussion="discussion"
    show-share-message="discussion.id === $ctrl.showShareMessageId"
    on-discussion-update="$ctrl.onDiscussionUpdate({discussion: discussion})"
    on-discussion-delete="$ctrl.onDiscussionDelete({discussion: discussion})"
    on-reply-submit="$ctrl.onReplySubmit({discussion: discussion, reply: reply})"
    on-reply-update="$ctrl.onReplyUpdate({discussion: discussion, reply: reply})"
    on-reply-delete="$ctrl.onReplyDelete({discussion: discussion, reply: reply})"
    ng-mouseenter="$ctrl.onDiscussionMouseenter({discussion: discussion})"
    ng-mouseleave="$ctrl.onDiscussionMouseleave({discussion: discussion})"

    on-resized="$ctrl.discussionSizes[discussion.id] = $size"

    popover-placement="top"
    popover-is-open="$ctrl.discussionPositions[discussion.id] !== undefined && discussion.id === 'cDmUY04FkYx9' && $ctrl.tour.stages[$ctrl.tour.index] === 'margin-discussion'"
    uib-popover-template="'html/shared/tour-margin-discussion.html'"
    popover-trigger="'none'"
  ></margin-discussion>
</div>
<margin-discussion-draft
  selectors="$ctrl.draftSelectors"
  on-submit="$ctrl.submitDiscussion(discussion)"
  on-discard="$ctrl.onDraftDiscard()"

  on-resized="$ctrl.draftSize = $size"
  ng-if="$ctrl.draftSelectors"
  ng-show="$ctrl.draftPosition !== undefined"
  ng-style="{'top': $ctrl.draftPosition + 'px'}"
></margin-discussion-draft>
