<margin-link
  position="top"
  discussion-offsets="$.marginOffsets"
  discussion-sizes="text.marginDiscussionSizes"
  viewport-offset-top="$ctrl.viewportOffsetTop"
  ng-if="TODO; subnavPosition.top <= $root.navbarSize.height"
></margin-link>
<margin-link
  position="bottom"
  discussion-offsets="text.marginOffsets"
  discussion-sizes="text.marginDiscussionSizes"
  viewport-offset-bottom="$ctrl.viewportOffsetBottom"
></margin-link>
<margin-discussion
  ng-repeat="discussion in $ctrl.discussions"

  discussion="discussion"
  on-discussion-update="$ctrl.onDiscussionUpdate({discussion: discussion, comment: comment})"
  on-discussion-delete="$ctrl.onDiscussionDelete({discussion: discussion})"
  on-reply-submit="$ctrl.replyAdd({discussion: discussion, reply: reply})"
  on-reply-update="$ctrl.replyUpdate({discussion: discussion, replyNew: replyNew, replyOld: replyOld})"
  on-reply-delete="$ctrl.replyDelete({discussion: discussion, reply: reply})"
  ng-mouseenter="$ctrl.onDiscussionMouseenter({discussion: discussion})"
  ng-mouseleave="$ctrl.onDiscussionMouseleave({discussion: discussion})"

  element-size="$ctrl.discussionSizes[discussion.id]"
  id="d:{{discussion.id}}"
  ng-if="text.highlightInfos[discussion.id].top !== undefined"
  ng-show="text.marginOffsets[discussion.id] !== undefined"
  ng-style="{'top': text.marginOffsets[discussion.id] + 'px'}"

  popover-placement="top"
  popover-is-open="discussion.id === 'cDmUY04FkYx9' && $ctrl.tour.stages[$ctrl.tour.index] === 'margin-discussion'"
  uib-popover-template="'html/shared/tour-margin-discussion.html'"
  popover-trigger="none"
  on-rendered="discussionTour.rendered = true"
></margin-discussion>
<margin-discussion-draft
  selectors="$ctrl.draftSelectors"
  on-submit="onDiscussionSubmit({discussion: discussion})"
  on-discard="onDraftDiscard()"

  element-size="$ctrl.draftSize"
  ng-if="$ctrl.draftSelectors"
  ng-show="$ctrl.draftPosition !== undefined"
  ng-style="{'top': $ctrl.draftPosition + 'px'}"
></margin-discussion-draft>
