<div class="ph-component-header">
  <button class="btn btn-link" title="Close and show all discussions"
    ng-click="$ctrl.close()"
  >
    <i class="fa fa-fw fa-times"></i>
  </button>
</div>
<div class="ph-component-body">
  <margin-discussion
    ng-repeat="discussion in $ctrl.cluster.discussions"
    discussion="discussion"
    on-discussion-update="$ctrl.onDiscussionUpdate({discussion})"
    on-discussion-delete="$ctrl.onDiscussionDelete({discussion})"
    on-reply-submit="$ctrl.onReplySubmit({reply})"
    on-reply-update="$ctrl.onReplyUpdate({reply})"
    on-reply-delete="$ctrl.onReplyDelete({reply})"
    on-unsaved-content-update="$ctrl.unsavedContent[discussion._id] = unsavedContent"
    ng-mouseenter="$ctrl.onDiscussionHover({discussion, hovered: true})"
    ng-mouseleave="$ctrl.onDiscussionHover({discussion, hovered: false})"
  ></margin-discussion>
</div>
