<div class="ph-margin-row ph-margin-row-border-top">
  <!-- avatar -->
  <avatar user="$ctrl.reply.author" size="38"
      classes="ph-margin-avatar img-circle"
      ></avatar>
  <div class="ph-margin-row-container ph-margin-reply">
    <!-- arrow -->
    <div class="ph-margin-arrow-container">
      <div class="ph-arrow ph-arrow-outward-left"></div>
    </div>
    <!-- row content -->
    <div class="ph-margin-row-content">
      <!-- view reply -->
      <div ng-if="!$ctrl.editing" class="clearfix">
        <p ng-if="$ctrl.reply.deleted" class="ph-margin-info">
          <em>Contribution has been deleted. Reason: {{$ctrl.reply.deletedReason}}.</em>
        </p>
        <div ng-if="!$ctrl.reply.deleted">
          <div class="ph-margin-info">
            <p class="ph-xs-margin-bottom">
              <a href="./users/{{$ctrl.reply.author.account.username}}">
                {{$ctrl.reply.author.displayName}}</a>
              · <span am-time-ago="$ctrl.reply.createdAt"></span>
            </p>
          </div>
          <kramjax body="$ctrl.reply.body"></kramjax>
          <div class="pull-right">
            <div class="btn-group" uib-dropdown>
              <button class="btn btn-link btn-xs"
                uib-dropdown-toggle
                uib-tooltip="Options"
                tooltip-class="tooltip-nowrap"
              >
                <i class="fa fa-fw fa-lg fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right ph-margin-dropdown">
                <li>
                  <a ng-href=".{{'documentItem.discussion.thread' | routeSegmentUrl:{discussion: $ctrl.reply.discussion} }}#{{$ctrl.reply.id}}">
                    <i class="fa fa-fw fa-comments"></i> Show discussion view
                  </a>
                </li>
                <!-- edit reply -->
                <li ng-if="$ctrl.authService.user.id === $ctrl.reply.author.id"
                    ng-class="{disabled: $ctrl.submitting}">
                  <a ng-click="$ctrl.editing = true" href>
                    <i class="fa fa-fw fa-pencil"></i> Edit
                  </a>
                </li>
                <!-- delete reply -->
                <li ng-if="$ctrl.authService.user.id === $ctrl.reply.author.id"
                    ng-class="{disabled: $ctrl.submitting}">
                    <a ng-confirm-click="Really delete reply?"
                        confirmed-click="$ctrl.delete(reply)" href>
                    <i class="fa fa-fw fa-times"></i> Delete
                  </a>
                </li>
                <!--li ng-if="$ctrl.authService.user.id !== $ctrl.reply.author.id">
                  <a href><i class="fa fa-fw fa-flag"></i> Flag</a>
                </li-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- edit reply -->
      <margin-reply-edit
        reply="$ctrl.reply"
        on-submit="$ctrl.onUpdate({reply})"
        on-discard="$ctrl.editing = false"
        ng-if="$ctrl.editing"
      ></margin-reply-edit>
    </div>
  </div>
</div>
