<div
  class="ph-margin-controls ph-margin-controls-top"
  ng-style="{top: $ctrl.viewportOffsetTop || 0}"
>
  <div class="ph-margin-controls-permanent">
    <channel-selector discussions="$ctrl.discussions"></channel-selector>
    <!--filter-button></filter-button-->
  </div>
  <margin-link
    position="top"
    positioned-discussions="$ctrl.positionedDiscussions"
    viewport-offset-top="$ctrl.viewportOffsetTop"
    viewport-offset-bottom="$ctrl.viewportOffsetBottom"
  ></margin-link>
</div>
<div class="ph-margin-controls ph-margin-controls-bottom"
  ng-style="{bottom: $ctrl.viewportOffsetBottom || 0}"
>
  <margin-link
    position="bottom"
    positioned-discussions="$ctrl.positionedDiscussions"
    viewport-offset-top="$ctrl.viewportOffsetTop"
    viewport-offset-bottom="$ctrl.viewportOffsetBottom"
  ></margin-link>
</div>
<margin-cluster
  ng-repeat="cluster in $ctrl.discussionClusters track by cluster.id"
  cluster="cluster"
  on-open="$ctrl.currentCluster = $cluster"
  ng-style="{top: cluster.top + 'px'}"
  ng-mouseenter="$ctrl.highlightCluster(cluster, true)"
  ng-mouseleave="$ctrl.highlightCluster(cluster, false)"
></margin-cluster>
<margin-cluster-pane
  ng-if="$ctrl.currentCluster"
  class="ph-slide-in ph-slide-in-left ph-slide-out ph-slide-out-right"
  ng-style="{top: $ctrl.viewportOffsetTop || 0}"
  cluster="$ctrl.currentCluster"
  on-close="$ctrl.closeClusterPane()"
  on-discussion-submit="$ctrl.onDiscussionSubmit({discussion})"
  on-discussion-update="$ctrl.onDiscussionUpdate({discussion})"
  on-discussion-delete="$ctrl.discussionDelete(discussion)"
  on-reply-submit="$ctrl.onReplySubmit({reply})"
  on-reply-update="$ctrl.onReplyUpdate({reply})"
  on-reply-delete="$ctrl.onReplyDelete({reply})"
  on-discussion-hover="$ctrl.onDiscussionHover({discussion, hovered})"
  on-unsaved-content-update="$ctrl.clusterPaneUnsavedContent = unsavedContent"
></margin-cluster-pane>
<margin-draft-pane
  ng-if="$ctrl.draftSelectors"
  selectors="$ctrl.draftSelectors"
  on-submit="$ctrl.submitDiscussion(discussion)"
  on-discard="$ctrl.onDraftDiscard()"
  on-unsaved-content-update="$ctrl.draftPaneUnsavedContent = unsavedContent"
></margin-draft-pane>
