<a href=""
  class="btn btn-default ph-margin-link"
  ng-class="{
    'ph-margin-link-top': $ctrl.position === 'top',
    'ph-margin-link-bottom': $ctrl.position === 'bottom',
  }"
  ng-show="$ctrl.count > 0"
  scroll
  scroll-to="$ctrl.scrolling ? '' : ('#discussion-' + $ctrl.nextDiscussionId)"
  scroll-offset="$ctrl.viewportOffsetTop + 70"
  scroll-duration="500"
  scroll-before="$ctrl.scrolling = true"
  scroll-after="$ctrl.scrolling = false"
  title="{{$ctrl.count}} more {{$ctrl.count === 1 ? 'discussion' : 'discussions'}} {{$ctrl.position === 'top' ? 'above' : 'below'}}"
>
  <i ng-if="$ctrl.position === 'top'" class="fa fa-chevron-up"></i>
  <i ng-if="$ctrl.position === 'bottom'" class="fa fa-chevron-down"></i>
  <div class="ph-margin-link-badge">
    <span class="ph-margin-link-current">{{$ctrl.count}}</span>
    <span class="ph-margin-link-previous">{{$ctrl.countPrevious}}</span>
  </div>
</a>
