<div class="modal-header">
  <button type="button" class="close" aria-label="Close" title="Close"
    ng-click="$ctrl.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title">
    Member update
  </h3>
</div>
<form>
  <div class="modal-body">
    <div class="form-group">
      <label>Member data</label>
      <div>
        <avatar user="$ctrl.resolve.member.person" size="30"
          classes="img-circle ph-sm-margin-right"
        ></avatar>
        {{$ctrl.resolve.member.person.displayName}}
        <span class="label label-default ph-sm-margin-left"
          ng-repeat="role in $ctrl.resolve.member.roles"
        >
          {{role}}
        </span>
      </div>
    </div>
    <div class="form-group">
      <label>Role</label>
      <select class="form-control" ng-model="$ctrl.role"
        ng-options="role.id as role.name for role in $ctrl.roles"
        ng-init="($ctrl.resolve.member.roles.indexOf('member') !== -1) ? $ctrl.role=2 : $ctrl.role=1"
      ></select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary" type="submit"
      ng-click="!$ctrl.inProgress && !$ctrl.succeeded && $ctrl.submit($ctrl.resolve.member.person.id)"
      ng-class="{disabled: $ctrl.inProgress || $ctrl.succeeded}"
    >
      <i ng-if="$ctrl.inProgress" class="fa fa-fw fa-spinner fa-spin"></i>
      <i ng-if="!$ctrl.inProgress" class="fa fa-fw fa-check" aria-hidden="true"></i>
      Save
    </button>
  </div>
</form>
