<form
  name="searchForm"
  class="navbar-form navbar-left"
  role="search"
  novalidate
  >
  <div class="form-group ph-navbar-search">
    <input
      type="text"
      class="form-control"
      placeholder="Search document title or author name"
      name="srch-term"
      id="srch-term"
      ng-model="search.body"
      uib-typeahead="hit as hit.documentItem.metadata.title for hit in phSearch($viewValue, 5)"
      typeahead-on-select="goToDocument($item, $model, $label)"
      typeahead-template-url="{{navbarSearchItemUrl}}"
      ng-keypress="($event.which === 13) && showAllResults(search.body)"
      typeahead-focus-first="false"
      autocomplete="off"
      required
      >
  </div>
</form>
