<a>
  <div class="media">
    <div class="media-left media-middle">
      <i class="fa fa-file-o fa-2x"></i>
    </div>
    <div class="media-body">
      <div>
        <mathjax body="match.model.documentItem.metadata.title | uibTypeaheadHighlight:query"></mathjax>
      </div>
      <small>
        <span ng-show="!match.model.documentItem.public" class="label label-info">Private</span>
        <span ng-show="$parent.$parent.$parent.isOwnedByYou(match.model.documentItem)" class="label label-info">Owner</span>
        <span ng-show="$parent.$parent.$parent.isSharedWithYou(match.model.documentItem)" class="label label-info">Shared with you</span>
        <span ng-show="match.model.documentItem.public" class="label label-success">Public</span>
        <span ng-show="match.model.documentItem.metadata.isOpenAccess" class="label label-success">Open Access</span>
        <span ng-repeat="author in match.model.documentItem.metadata.authors">
          {{author.name}}{{$last ? '' : ', '}}
        </span>
      </small>
    </div>
  </div>
</a>
