<form
  name="searchForm"
  class="navbar-form navbar-left"
  role="search"
  novalidate
  >
  <div class="form-group ph-navbar-search">
    <input
      popover-placement="bottom"
      popover-is-open="tour.stages[tour.index] === 'search'"
      uib-popover-template="'html/shared/tour-search.html'"
      popover-trigger="'none'"
      type="text"
      class="form-control"
      placeholder="Search document title or author name"
      name="srch-term"
      id="srch-term"
      ng-model="search.body"
      uib-typeahead="result as result.title for result in phSearch($viewValue, 5)"
      typeahead-on-select="goToDocument($item, $model, $label)"
      typeahead-template-url="html/shared/navbar-search-item.html"
      ng-keypress="($event.which === 13) && showAllResults(search.body)"
      typeahead-focus-first="false"
      autocomplete="off"
      required
      >
  </div>
</form>
