<div class="container">
  <onboarding-personal
    active="$ctrl.currentStep === 1"
    on-next="$ctrl.currentStep === 1 && $ctrl.next()"
  ></onboarding-personal>
  <onboarding-channel
    active="$ctrl.currentStep === 2"
    on-previous="$ctrl.currentStep === 2 && $ctrl.previous()"
    on-next="$ctrl.currentStep === 2 && $ctrl.next()"
  ></onboarding-channel>
  <onboarding-bookmark
    active="$ctrl.currentStep === 3"
    channel-id="'SEGdOjfPjnVc'"
    on-previous="$ctrl.currentStep === 3 && $ctrl.previous()"
    on-next="$ctrl.currentStep === 3 && TODO"
  ></onboarding-bookmark>
</div>
