<div class="ph-component-step ph-component-step-done"
  ng-class="{'ph-component-step-inactive': !$ctrl.active}"
>
  <div class="ph-component-step-number">1</div>
  <form name="personalDetails">
    <h3>Personal details</h3>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="name">Name</label>
          <input name="name" type="text" class="form-control" placeholder="Full name"
            ng-disabled="!$ctrl.active"
          >
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input name="email" type="text" class="form-control" placeholder="Email"
            ng-disabled="!$ctrl.active"
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label>Discipline</label>
          <select name="disciplineSelect" class="form-control"
            ng-model="$ctrl.disciplineSelect"
            ng-options="discipline for discipline in $ctrl.disciplineOptions"
            ng-disabled="!$ctrl.active"
            required="true"
          >
            <option value="" disabled="true" ng-if="!$ctrl.disciplineSelect"
            >Please select a discipline</option>
          </select>
        </div>
        <div uib-collapse="$ctrl.disciplineSelect !== 'Other'">
          <div class="form-group" >
            <input name="disciplineText" type="text" class="form-control"
              placeholder="Discipline"
              ng-model="$ctrl.disciplineText"
              ng-disabled="!$ctrl.active"
              ng-required="$ctrl.disciplineSelect === 'Other'"
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label>Occupation</label>
          <select name="occupation" class="form-control"
            ng-model="$ctrl.occupationSelect"
            ng-options="occupation for occupation in $ctrl.occupationOptions"
            ng-disabled="!$ctrl.active"
            required="true"
          >
            <option value="" disabled="true" ng-if="!$ctrl.occupationSelect"
            >Please select an occupation</option>
          </select>
        </div>
        <div uib-collapse="$ctrl.occupationSelect !== 'Other'">
          <div class="form-group" >
            <input name="occupationText" type="text" class="form-control"
              placeholder="Occupation"
              ng-model="$ctrl.occupationText"
              ng-disabled="!$ctrl.active"
              ng-required="$ctrl.occupationSelect === 'Other'"
            >
          </div>
        </div>
      </div>
    </div>
    <div class="ph-component-buttons text-right clearfix">
      <button type="button" class="btn btn-link pull-left"
        ng-disabled="!$ctrl.active"
      >Skip</button>
      <button type="button" class="btn btn-primary"
        ng-click="$ctrl.onNext()"
        ng-disabled="!$ctrl.active"
      >Next</button>
    </div>
  </form>
</div>
