<div class="ph-component-step"
  ng-class="{
    'ph-component-step-active': $ctrl.active,
    'ph-component-step-inactive': !$ctrl.active,
    'ph-component-step-complete': !$ctrl.active && $ctrl.complete,
    'ph-component-step-incomplete': !$ctrl.active && !$ctrl.complete,
  }"
>
  <div class="ph-component-step-number">3</div>
  <h3>Bookmark</h3>
  <div class="row">
    <div class="col-lg-12">
      <form novalidate ng-submit="$ctrl.submitQuery()">
        <div class="form-group">
          <div class="input-group">
            <input ng-model="$ctrl.queryModel" class="form-control" placeholder="Search documents"
              ng-disabled="!$ctrl.active"
            >
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"
                ng-disabled="!$ctrl.active"
              >
                <i class="fa fa-fw fa-search"></i>
              </button>
            </span>
          </div>
          <small class="help-block">
            <i class="fa fa-fw fa-info-circle"></i>
            Search
            <i ng-if="$ctrl.totalUpdating" class="fa fa-circle-o-notch fa-spin"></i>
            <span ng-if="!$ctrl.totalUpdating">{{$ctrl.total | number}}</span>
            documents by title, author, DOI or arxiv id.
          </small>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="ph-flex-container">
        <div class="ph-flex-item">
          <button type="button" uib-dropdown-toggle class="btn btn-link"
            ng-disabled="!$ctrl.active"
          >
            <i class="fa fa-lg"
            ng-class="{
              'fa-star-o': $ctrl.documentCtrl.bookmarks.length === 0,
              'fa-star': $ctrl.documentCtrl.bookmarks.length !== 0,
            }"
            ></i>
          </button>
          <hive-button document-ctrl="$ctrl.documentCtrl" large="false"></hive-button>
        </div>
        <div class="ph-flex-item">
          <a href="" title="{{document.title}}" tabindex="-1">
            Document Title
          </a>
          <span>
            Author Name
          </span>
        </div>
        <div class="ph-flex-item">
          <span>
            Published: 2017
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="ph-component-buttons text-right clearfix">
    <button type="button" class="btn btn-link pull-left"
      ng-click="$ctrl.onNext()"
      ng-disabled="!$ctrl.active"
    >Skip</button>
    <button type="button" class="btn btn-default" ng-click="$ctrl.onPrevious()">Previous</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.next()">Next</button>
  </div>
</div>
