<div class="container ph-xl-margin-bottom">
  <h2>Partners</h2>
  <div class="ph-logo-grid ph-logo-grid-partners">
    <a href="http://arxiv.org/">
      <img
        src="../../static/img/arxiv.svg"
        alt="arXiv logo"
      >
    </a>
    <a href="http://www.crossref.org/">
      <img
        src="../../static/img/crossref-logo.svg"
        alt="Crossref logo"
      >
    </a>
    <a href="https://www.highwirepress.com/">
      <img
        src="../../static/img/highwire-logo.svg"
        alt="Highwire logo"
      >
    </a>
    <a href="https://www.ingenta.com/">
      <img
        src="../../static/img/ingenta-logo.png"
        alt="Ingenta logo"
      >
    </a>
    <a href="http://www.knowledgeunlatched.org/">
      <img
        src="../../static/img/knowledge-unlatched.svg"
        alt="Knowledge Unlatched logo"
      >
    </a>
    <a href="https://www.growkudos.com/">
      <img
        src="../../static/img/kudos-logo.svg"
        alt="Kudos logo"
      >
    </a>
    <a href="http://langsci-press.org/">
      <img
        src="../../static/img/langsci-logo.svg"
        alt="Language Science Press logo"
      >
    </a>
    <a href="http://www.oapen.org/">
      <img
        src="../../static/img/oapen.png"
        alt="OAPEN logo"
      >
    </a>
    <a href="http://www.pubfactory.com/">
      <img
        src="../../static/img/pubfactory-logo.svg"
        alt="PubFactory logo"
      >
    </a>
    <a href="https://www.silverchair.com/">
      <img
        src="../../static/img/silverchair-logo.svg"
        alt="Silverchair logo"
      >
    </a>
    <a href="https://www.springernature.com/">
      <img
        src="../../static/img/springer-nature-logo.svg"
        alt="SpringerNature logo"
      >
    </a>
    <a href="https://www.transcript-verlag.de/">
      <img
        src="../../static/img/transcript-logo.svg"
        alt="transcript logo"
      >
    </a>
    <a href="https://www.tu-berlin.de/">
      <img
        src="../../static/img/tu-berlin-logo.svg"
        alt="TU Berlin logo"
      >
    </a>
  </div>
</div>
