<div class="ph-logo-grid ph-logo-grid-partners">
  <a href="http://arxiv.org/">
    <img
      src="../../static/img/arxiv.svg"
      alt="arXiv logo"
    >
  </a>
  <a href="http://www.crossref.org/">
    <img
      src="../../static/img/crossref-logo.svg"
      alt="Crossref logo"
    >
  </a>
  <a href="https://www.elsevier.com/">
    <img
      src="../../static/img/elsevier-logo.svg"
      alt="Elsevier logo"
    >
  </a>
  <a href="http://www.knowledgeunlatched.org/">
    <img
      src="../../static/img/knowledge-unlatched.svg"
      alt="Knowledge Unlatched logo"
    >
  </a>
  <a href="https://www.growkudos.com/">
    <img
      src="../../static/img/kudos-logo.svg"
      alt="Kudos logo"
    >
  </a>
  <a href="http://langsci-press.org/">
    <img
      src="../../static/img/langsci-logo.svg"
      alt="Language Science Press logo"
    >
  </a>
  <a href="http://www.oapen.org/">
    <img
      src="../../static/img/oapen.png"
      alt="OAPEN logo"
    >
  </a>
  <!-- <a href="http://www.semantico.com/">
    <img
      src="../../static/img/semantico-logo.png"
      alt="Semantico logo"
    >
  </a> -->
</div>
