<div ng-if="$ctrl.large" class="ph-sidenav-item">
  <div class="form-group">
    <input type="text" class="form-control ph-search-in-pdf-bar"
      placeholder="&#xf002;  Search in pdf" ng-model="$ctrl.str"
      ng-keypress="$event.keyCode === 13 && $ctrl.submit($ctrl.str)"
      autocomplete="off"
    >
    <a class="ph-input-control" ng-class="$ctrl.str ? '' : 'ph-inactive-link'"
      ng-click="$ctrl.str = ''; $ctrl.removeSearch();" title="Close"
    >
      <i class="fa fa-times ph-search-navigation"></i>
    </a>
    <a class="ph-input-control" title="Next" ng-click="$ctrl.nextResult()"
      ng-class="($ctrl.numberSearchResults > 0) ? '' : 'ph-inactive-link'"
    >
      <i class="fa fa-chevron-down ph-search-navigation"></i>
    </a>
    <a class="ph-input-control" title="Previous" ng-click="$ctrl.previousResult()"
      ng-class="($ctrl.numberSearchResults > 0) ? '' : 'ph-inactive-link'"
    >
      <i class="fa fa-chevron-up ph-search-navigation"></i>
    </a>

    <span class="ph-input-item">
      <span class="ph-search-navigation-separator"></span>
    </span>

    <span class="ph-input-item" ng-show="$ctrl.numberSearchResults >= 0">
      <span class="ph-number-of-search-results">
        {{$ctrl.indexSearchResults === undefined ? 0 : $ctrl.indexSearchResults + 1}}
        of {{$ctrl.numberSearchResults}}
      </span>
    </span>

  </div>
</div>

<div ng-if="!$ctrl.large" class="ph-sidenav-item">
  <button class="btn btn-link">
    <i class="fa fa-search"></i>
  </button>
</div>
