<style>
  .ph-link-input-item {
    position: relative;
    top: -30px;
    float: right;
    margin-right: 12px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
  }
  .ph-input-item {
    position: relative;
    top: -30px;
    float: right;
    margin-right: 14px;
  }
</style>

<div ng-if="$ctrl.large" class="ph-sidenav-item">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="&#xf002;  Search in pdf"
      ng-model="$ctrl.str" ng-keypress="$event.keyCode === 13 && $ctrl.submit($ctrl.str)"
      style="padding-right: 80px; font-family: FontAwesome, Roboto; font-size: 14px;"
      autocomplete="off"
    >
    <a class="ph-link-input-item" title="Close" ng-click="$ctrl.str = ''; $ctrl.removeSearch();">
      <i class="fa fa-times" style="font-size: 11px; color: gray;"></i>
    </a>
    <a class="ph-link-input-item" title="Next" ng-click="$ctrl.nextResult()">
      <i class="fa fa-chevron-down" style="font-size: 11px; color: gray;"></i>
    </a>
    <a class="ph-link-input-item" title="Previous" ng-click="$ctrl.previousResult()">
      <i class="fa fa-chevron-up" style="font-size: 11px; color: gray;"></i>
    </a>

    <span class="ph-input-item">
      <span style="border-right: 1px solid #BDBDBD;"></span>
    </span>

    <span class="ph-input-item" ng-show="$ctrl.numberSearchResults >= 0">
      <span style="font-family: FontAwesome, Roboto; font-size: 11px; color: gray;">
        {{$ctrl.indexSearchResults}} of {{$ctrl.numberSearchResults}}
      </span>
    </span>

  </div>
</div>

<div ng-if="!$ctrl.large" class="ph-sidenav-item">
  <button class="btn btn-link">
    <i class="fa fa-search"></i>
  </button>
</div>
