<div class="ph-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-md-offset-3 ph-copyright ph-md-margin-bottom">
        &copy; 2014&ndash;2017<br>
        PaperHive UG (haftungsbeschränkt)
      </div>
      <div class="col-md-3 ph-md-margin-bottom">
        <ul class="fa-ul ph-ul-md-spacing">
          <li>
            <a href="./about" class="ph-link-icon" id="about-us-link">
              <i class="fa fa-li fa-users"></i> About us
            </a>
          </li>
          <li>
            <a href="./contact" class="ph-link-icon" id="contact-link">
              <i class="fa fa-li fa-envelope"></i> Contact
            </a>
          </li>
          <li>
            <a href="./publishers" class="ph-link-icon">
              <i class="fa fa-li fa-newspaper-o" aria-hidden="true"></i> For publishers
            </a>
          </li>
          <li>
            <a href="https://magazine.paperhive.org/" class="ph-link-icon">
              <i class="fa fa-li fa-pencil"></i> Magazine
            </a>
          </li>
          <li>
            <a href="./partners" class="ph-link-icon" id="partners-link">
              <i class="fa fa-li fa-heart"></i> Partners and supporters
            </a>
          </li>
          <li>
            <a href="./jobs" class="ph-link-icon">
              <i class="fa fa-li fa-rocket"></i> Jobs
            </a>
          </li>
          <li>
            <a href="./terms" class="ph-link-icon" id="terms-link">
              <i class="fa fa-li fa-legal"></i> Terms of service and privacy
              policy
            </a>
          </li>
          <li>
            <a href="./legalnotice" class="ph-link-icon" id="legal-link">
              <i class="fa fa-li fa-info"></i> Legal notice
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
