<div class="container ph-lg-margin-bottom">
  <div class="row">
    <div class="col-md-9">
      <h2 id="privacy-policy">Privacy Policy</h2>
      <p>
        Your privacy is important to us, and it is PaperHive's policy to respect
        your privacy regarding any information we may collect while operating
        our websites and services. Accordingly, we have developed this policy in
        order for you to understand how we collect, use, communicate,disclose,
        and make use of personal information. The following outlines our privacy
        policy.
      </p>

      <h3 id="guiding-principles">Guiding Principles</h3>
      <p>
        These are our guiding principles when collecting, storing and processing
        your personal data:
        <ul>
          <li>
            Before or at the time of collecting personal information, we will
            identify the purposes for which information is being collected.
          </li>
          <li>
            We will collect and make use of personal information solely with the
            objective of fulfilling those purposes specified by us and for other
            compatible purposes, unless we obtain the consent of the individual
            concerned or as required by law.
          </li>
          <li>
            We will only retain personal information as long as necessary for
            the fulfillment of those purposes.
          </li>
          <li>
            We will collect personal information by lawful and fair means and,
            where appropriate, with the knowledge or consent of the individual
            concerned.
          </li>
          <li>
            Personal data should be relevant to the purposes for which it is to
            be used, and, to the extent necessary for those purposes, should be
            accurate, complete, and up-to-date.
          </li>
          <li>
            We will protect personal information by reasonable security
            safeguards against loss or theft, as well as unauthorized access,
            disclosure, copying, use or modification.
          </li>
          <li>
            We will make readily available to users information about our
            policies and practices relating to the management of personal
            information.
          </li>
        </ul>
      </p>

      <h3 id="what-information">What information we collect and how we use it</h3>

      <h4 id="account">Account Information</h4>
      <p>
        In order to use PaperHive’s services, e.g., to annotate publicly
        available or privately uploaded documents you need to create an account.
        The personal data we collect for this includes a username, a display
        name, and depending on how you create the account an email and a
        password, or identifiers that allow you to log in via third parties
        (e.g., with Google, ORCID, or other third-party services).
      </p>

      <h4 id="contact">Contact Information</h4>
      <p>
        We use your email address to:
        <ul>
          <li>authenticate you,</li>
          <li>verify your account,</li>
          <li>
            send you notifications for other users’ public or private activity
            on documents you are interested in,
          </li>
          <li>send you updates about our services.</li>
        </ul>
        You may opt out of receiving promotional email messages (e.g., by using
        the unsubscribe link with each email). You will still be able to receive
        messages regarding your account and the activity around the documents
        you are interested in. You can regulate the frequency of some
        notification messages in your account settings.
      </p>

      <h4 id="public-information">Public Information You Share or Generate</h4>
      <p>
        The only publicly visible information you share is:
        <ul>
          <li>
            Your public contributions including the title, the text body, the
            time of creation, and the part of the document that is referenced
          </li>
          <li>
            Your subscriptions to publicly available documents,
          </li>
          <li>
            Your username and your display name which can also be pseudonyms.
          </li>
        </ul>
        You agree to license your public contributions (public discussions,
        including replies and all embedded material such as formulas, images,
        videos) under the
        <a href="https://creativecommons.org/licenses/by/4.0/legalcode">CC-BY-4.0 license</a>,
        see also the
        <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0 overview</a>.
      </p>
      <p>
        You are responsible for your public contributions and you should think
        carefully about which of your comments should be made public and which
        private.
      </p>
      <p>
        Public contributions are also exposed via our application programming
        interface (API) for use by other individuals and organizations.
        PaperHive’s widget can be embedded in third-party websites to display
        the public activity on a publication. PaperHive is not necessarily
        affiliated with entities using or displaying the publicly visibilily
        activity.
      </p>

      <h4 id="private-information">Private Information You Share or Generate</h4>
      <p>
        Document uploads: PaperHive allows you to upload documents privately. We
        store and process uploaded documents. This includes extracting metadata,
        matching with published documents, indexing for making them searchable,
        and aggregating metadata for generating anonymized statistics. By
        default your uploaded documents are not shared with other users and only
        you can grant others access to your uploaded documents. We do not share
        the content of private document uploads with anyone or use it for other
        purposes without your consent. Note that if you share uploaded documents
        with others they can create a copy.
      </p>
      <p>
        Private Channels: PaperHive’s Private Channels enable you to share
        privately uploaded documents and communicate privately with a closed
        group of users. All discussions and shared documents in a particular
        Channel will only be visible to the members of this Channel. Members of
        the Channel need to explicitly be invited by a Channel owner to join it
        – either by email or a Channel invitation link. Once a new user joins a
        Channel she will be able to see all documents shared in the Channel as
        well as read and participate in all previous or new discussions in the
        Channel.
      </p>
      <p>
        “Only me” discussions: when creating a discussion you can make it an
        “only me” discussion that is only visible to yourself.
      </p>
      <p>
        We store and process private discussions (those in Private Channels and
        “only me” discussions). This includes indexing for making them
        searchable and aggregating metadata for generating anonymized
        statistics. We do not share the content (title and text body) of these
        discussions with anyone or use it for other purposes without your
        consent.
      </p>

      <h4 id="payment">Payment Information</h4>
      <p>
        In order to access some premium features, you will need to provide us
        with payment information (e.g., credit card information and billing
        address). We store and process your payment information only with your
        consent and only as long as required (e.g., for recurring payments).
      </p>

      <h4 id="automatically-collected">Automatically Collected Information</h4>
      <p>
        Some information is collected automatically when you visit PaperHive and
        interact with its features.
      </p>

      <h5 id="log-data">Log Data</h5>
      <p>
        We automatically receive information, Log Data, about your interactions
        with our platform, e.g., when you visit the site, sign in, click on
        links, upload documents, or create new discussions and Channels. This
        Log Data includes information such as your browser type, operating
        system, the referring web page, location, IP address, device
        information, search terms, and cookie information. We anonymize personal
        identifiers such as IP addresses at the earliest technically possible
        stage and use them for deriving an approximate location. The full IP
        address is never written to disk. Note that this information is also
        collected if you have not created an account.
      </p>
      <p>
        We use Log Data to improve our platform, protect your data, detect
        problems or irregularities, conduct analytics, and operate the service
        reliably. We keep Log Data for a maximum of 24 months.
      </p>

      <h5 id="cookies">Cookies and Local Storage</h5>
      <p>
        We use cookies and Local Storage to improve your experience on
        PaperHive. Both cookies and Local Storage are browser technologies that
        allow us to store small pieces of data in your browser and thus
        <ul>
          <li>
            keep you signed in to PaperHive without re-entering your username or
            password,
          </li>
          <li>personalize PaperHive for you,</li>
          <li>better understand how you interact with PaperHive,</li>
          <li>monitor aggregated usage patterns.</li>
        </ul>
        The cookies only store your personal data in pseudonymous form. You can
        prevent the use of cookies by changing the settings of your browser to
        not accept new cookies, to indicate new cookies, and/or to erase all
        previously stored cookies.
      </p>

      <h5 id="third-party-websites">Content on Third-Party Websites</h5>
      <p>
        When you view third-party websites that have integrated the PaperHive
        widget, we may receive Log Data that includes the web page you visited.
        To prevent the aggregation of such data to a browsing history we delete
        identifiers such as cookies in addition to measures we apply to all Log
        Data (such as anonymizing IP addresses). The purpose of collecting this
        data is to better understand the use of our services and to protect the
        integrity of our platform.
      </p>

      <h3 id="share-information">Whom Do We Share Information with</h3>

      <h4 id="service-provider">Service Provider</h4>
      <p>
        Third-party companies provide us with services including hosting,
        storage, backup, maintenance, virtual infrastructure, payment
        processing, and analytics. Some of these service providers may need to
        access or use personal information to perform services on your behalf.
        This always happens under instruction from us and in compliance with
        policies and procedures designed to protect your data.
      </p>

      <h4 id="links">Links to Third-Party Sites</h4>
      <p>
        PaperHive may include links to other websites whose privacy policies may
        differ from ours. If you use these websites, the data you share with
        them will be governed by their privacy policies, not this one.
      </p>

      <h4 id="enforcement-laws">Enforcement Requests and Applicable Laws</h4>
      <p>
        In exceptional situations we may share your information with a third party if we need to:
        <ul>
          <li>comply with any applicable law, regulation, or legal process</li>
          <li>protect the security or integrity of our product</li>
          <li>
            protect our users or the public from harmful or illegal activities
            (e.g. to prevent spam and abuse)
          </li>
        </ul>
      </p>

      <h4 id="change-ownership">Change of Company Ownership</h4>
      <p>
        In connection with any merger, acquisition, sale of company assets, or
        investment, we may share information under this privacy policy with
        another organization. You will be informed in the case of such a
        transaction and educated about the choices you have regarding your data.
      </p>

      <h3 id="manage">Managing Your Personal Information with Us</h3>
      <p>
        There are several ways you control the personal data you share with us.
        On PaperHive, you can at any time:
        <ul>
          <li>access the information,</li>
          <li>rectify the information,</li>
          <li>download the information,</li>
          <li>delete your account.</li>
        </ul>
        If you delete your PaperHive account, all your information is deleted
        except for the annotations made in public. They are shared publicly
        under the
        <a href="https://creativecommons.org/licenses/by/4.0/legalcode">CC-BY-4.0 license</a>
        and will still be visible.
      </p>

      <h3 id="children">Children and PaperHive</h3>
      <p>
        Children under the age of 13 are not allowed to use PaperHive and we do
        not knowingly collect personal information from them. If we become aware
        that a child under 13 has provided us with personal information, we will
        delete such information. If a parent or guardian becomes aware that his
        or her child has provided us with personal information without their
        consent, he or she should contact us at
        <a href="mailto:info@paperhive.org">info@paperhive.org</a>.
      </p>

      <h3 id="international-transfer">International Transfer of Information</h3>
      <p>
        We collect information globally and primarily store this information in
        the European Union. We take measures to protect your personal
        information whenever it is transferred across borders.
      </p>
      <p>
        One of the third parties mentioned in this Privacy Policy, Google Inc.,
        1600 Amphitheatre Parkway, Mountain View, CA 94043, USA, is providing
        PaperHive with web analytics services via its product Google Analytics.
        Google Analytics uses cookies which are stored on your computer to
        provide us with analytics about your use of PaperHive. This information
        is anonymized and aggregated. Generally, this information is transmitted
        to and stored on Google servers in the USA. The transfer of information
        to the United States and other third countries outside the EU complies
        with an adequacy decision of the European Commission (C/2016/4176 of 12
        July 2016 –
        <a href="http://data.europa.eu/eli/dec_impl/2016/1250/oj">http://data.europa.eu/eli/dec_impl/2016/1250/oj</a>)
        within the meaning of Article 45 of the General Data Protection
        Regulation (GDPR) (EU) 2016/679 as Google has self-certified its
        adherence to the principles of the EU-US Privacy Shield:
        <a href="https://www.privacyshield.gov/Program-Overview">https://www.privacyshield.gov/Program-Overview</a>).
      </p>

      <h3 id="changes">Changes to this Privacy Policy</h3>
      <p>
        Our Privacy Policy may change from time to time. You will be informed
        per email about any material changes. You can find the most current
        version under
        <a href="https://paperhive.org/privacy">https://paperhive.org/privacy</a>.
        By continuing to access PaperHive after those changes come into
        effective, you agree to the revised Privacy Policy.
      </p>

      Effective: May 25, 2018.
    </div>
  </div>
</div>
