<div class="ph-intro-content ph-bg-hexagons" id="description" viewport-height>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="ph-heading-light">
          Let high-quality academic literature stand out
        </h2>
        <p>PaperHive is a cross-publisher layer of interaction on top of research documents. The platform embeds communication in the researcher's reading process and workflow and helps high-quality literature stand out.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-6 col-md-6">
        <h2 class="ph-heading-light">
          Easy and fast integration
        </h2>
        <p>Integration with PaperHive is easy and fast: only basic article meta data from the publisher is required. Contact us for more information!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2 class="ph-heading-light">
          Access rights
        </h2>
        <p>All article traffic to the documents generated thanks to PaperHive goes to the publisher servers. Only users with the proper access rights can view subscription-based content covered under their institutional licence.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-6  col-md-6">
        <h2 class="ph-heading-light">
          Annotation standards
        </h2>
        <p>PaperHive follows W3C Web Annotation standards and is a part of the Annoating All Knowledge Coalition. Discussions are safely archived with trusted preservation service providers.</p>
      </div>
    </div>
  </div>
</div>
