<div class="container">
  <form novalidate ng-submit="$ctrl.submitQuery()" class="ph-xl-margin-top ph-xl-margin-bottom">
    <div class="form-group">
      <div class="input-group input-group-lg">
        <input
          ng-model="$ctrl.queryModel"
          class="form-control"
          placeholder="Search documents"
        >
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="fa fa-fw fa-search"></i>
          </button>
        </span>
      </div>
      <small class="help-block">
        <i class="fa fa-fw fa-info-circle"></i>
        Search
        <i ng-if="$ctrl.updatingTotal" class="fa fa-spin fa-spinner"></i>
        <span ng-if="!$ctrl.updatingTotal">{{$ctrl.total | number}}</span>
        documents by title, author, DOI or arxiv id.
      </small>
    </div>
  </form>
</div>
<div class="ph-search-filters">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <h5>Publication date</h5>
        <search-date aggregation="$ctrl.filterResults.publishedAt.aggregation"></search-date>
        <a href class="small ph-link-icon"
          ng-click="$ctrl.filters.publishedAt.update({})"
          ng-class="{'ph-hidden': !$ctrl.filters.publishedAt.mode}"
        >
          <i class="fa fa-fw fa-times"></i>
          Clear filter
        </a>
        <search-date-dropdown
          facets="$ctrl.facets.publishedAt"
          filter="$ctrl.filters.publishedAt"
          on-filter-update="$ctrl.filters.publishedAt.update({mode, from, to})"
        ></search-date-dropdown>
      </div>
      <div class="col-md-3 text-center">
        <h5>Journal</h5>
        <search-donut
          facets="$ctrl.facets.journal"
          selected="$ctrl.filters.journal.items"
          on-add="$ctrl.filters.journal.add(key)"
          on-remove="$ctrl.filters.journal.remove(key)"
        ></search-donut>
        <a href class="small ph-link-icon"
          ng-click="$ctrl.filters.journal.reset()"
          ng-class="{'ph-hidden': $ctrl.filters.journal.isEmpty()}"
        >
          <i class="fa fa-fw fa-times"></i>
          Clear filter
        </a>
        <search-dropdown
          description="Filter by journal"
          facets="$ctrl.facets.journal"
          selected="$ctrl.filters.journal.items"
          on-add="$ctrl.filters.journal.add(key)"
          on-remove="$ctrl.filters.journal.remove(key)"
        ></search-dropdown>
      </div>
      <div class="col-md-3 text-center">
        <h5>Access</h5>
        <search-donut
          facets="$ctrl.facets.access"
          selected="$ctrl.filters.access.items"
          on-add="$ctrl.filters.access.add(key)"
          on-remove="$ctrl.filters.access.remove(key)"
        ></search-donut>
        <a href class="small ph-link-icon"
          ng-click="$ctrl.filters.access.reset()"
          ng-class="{'ph-hidden': !$ctrl.filters.access.isActive()}"
        >
          <i class="fa fa-fw fa-times"></i>
          Clear filter
        </a>
        <search-dropdown
          description="Filter by access"
          facets="$ctrl.facets.access"
          selected="$ctrl.filters.access.items"
          on-add="$ctrl.filters.access.add(key)"
          on-remove="$ctrl.filters.access.remove(key)"
        ></search-dropdown>
      </div>
      <div class="col-md-3 text-center">
        <h5>Document type</h5>
        <search-donut
          aggregation="$ctrl.filterResults.documentType.aggregation"
          selected="$ctrl.filters.documentType.terms"
          on-add="$ctrl.filters.documentType.add(term)"
          on-remove="$ctrl.filters.documentType.remove(term)"
        ></search-donut>
        <a href class="small ph-link-icon"
          ng-click="$ctrl.filters.documentType.reset()"
          ng-class="{'ph-hidden': !$ctrl.filters.documentType.isActive()}"
        >
          <i class="fa fa-fw fa-times"></i>
          Clear filter
        </a>
        <search-dropdown
          description="Filter by document type"
          aggregation="$ctrl.filterResults.documentType.aggregation"
          selected="$ctrl.filters.documentType.terms"
          on-add="$ctrl.filters.documentType.add(term)"
          on-remove="$ctrl.filters.documentType.remove(term)"
        ></search-dropdown>
      </div>
    </div>
  </div>
</div>
<div class="container ph-md-padding-top">
  <div ng-if="$ctrl.results !== undefined">
    <p>
      <span ng-if="$ctrl.resultsTotal === 0">No documents match your query.</span>
      <span ng-if="$ctrl.resultsTotal > 0">Found {{$ctrl.resultsTotal | number}} documents.</span>
    </p>
    <small class="text-muted">
      Couldn't find what you are looking for? <a href ng-click="feedbackModal.open()">Send us feedback</a> with
      suggestions for content that you miss on PaperHive.
    </small>
    <div ng-if="$ctrl.results.length">
      <div class="row ph-lg-margin-bottom row ph-lg-margin-top">
        <div class="col-md-8">
          <div class="ph-lg-margin-top media" ng-repeat="document in $ctrl.results">
            <h4>
              <a href="./documents/{{document.id}}" title="{{document.title}}">
                <mathjax body="document.title"></mathjax>
              </a>
            </h4>
            <span ng-repeat="author in document.authors">
              {{author.name}}{{$last ? '' : ', '}}
            </span>
            <small class="text-muted ph-sm-margin-left">
              {{document.publishedAt | date: 'yyyy'}}
            </small>
            <div class="ph-sm-margin-top">
              <small>
                <mathjax
                  body="(document.abstract | limitTo: 220) + (document.abstract.length > 220 ? '&hellip;' : '')"
                ></mathjax>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-8">
          <ul uib-pagination
            ng-if="$ctrl.resultsTotal > $ctrl.maxPerPage"
            boundary-links="true"
            boundary-link-numbers="true"
            class="pagination-sm"
            first-text="&laquo;"
            last-text="&raquo;"
            max-size="7"
            next-text="&rsaquo;"
            ng-click="$ctrl.scrollToTop()"
            items-per-page="$ctrl.maxPerPage"
            ng-model="$ctrl.page"
            previous-text="&lsaquo;"
            rotate="false"
            total-items="$ctrl.resultsTotal"
          ></ul>
        </div>
      </div>
    </div>
  </div>
</div>
