<div class="container">
  <div ng-if="$ctrl.documents !== undefined">
    <h2 ng-if="!$ctrl.documents.length">No results for <em>{{search.query}}</em></h2>
    <h2 ng-if="$ctrl.documents.length">Results for <em>{{search.query}}</em></h2>
    <small class="text-muted">
      Couldn't find what you are looking for? <a href ng-click="feedbackModal.open()">Send us feedback</a> with
      suggestions for content that you miss on PaperHive.
    </small>
    <div ng-if="$ctrl.documents.length">
      <div class="row ph-lg-margin-bottom row ph-lg-margin-top">
        <div class="col-md-8">
          <div class="ph-lg-margin-top media" ng-repeat="document in $ctrl.documents">
            <h4>
              <a href="./documents/{{document.id}}" title="{{document.title}}">
                <mathjax body="document.title"></mathjax>
              </a>
            </h4>
            <span ng-repeat="author in document.authors">
              {{author.name}}{{$last ? '' : ', '}}
            </span>
            <small class="text-muted ph-sm-margin-left">
              {{document.publishedAt | date: 'yyyy'}}
            </small>
            <div class="ph-sm-margin-top">
              <small>
                <mathjax
                  body="(document.abstract | limitTo: 220) + (document.abstract.length > 220 ? '&hellip;' : '')"
                ></mathjax>
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-8">
          <ul uib-pagination
            ng-if="$ctrl.documentsTotal > $ctrl.maxPerPage"
            boundary-links="true"
            boundary-link-numbers="true"
            class="pagination-sm"
            first-text="&laquo;"
            last-text="&raquo;"
            max-size="7"
            next-text="&rsaquo;"
            ng-click="$ctrl.scrollToTop()"
            items-per-page="$ctrl.maxPerPage"
            ng-model="$ctrl.page"
            previous-text="&lsaquo;"
            rotate="false"
            total-items="$ctrl.documentsTotal"
          ></ul>
        </div>
      </div>
    </div>
  </div>
</div>
