<div class="container ph-md-margin-top ph-lg-margin-bottom text-center">
  <h2 class="ph-heading-light">
    You have successfully subscribed to PaperHive's monthly newsletter!
  </h2>
  <h3 class="ph-heading-light">
    Start exploring PaperHive now or check out our latest news on
    <a href="https://twitter.com/paperhive">twitter</a> and
    <a href="https://www.facebook.com/paperhiveorg/">facebook</a>!
  </h3>
  <p>
    <a href="https://twitter.com/paperhive" class="ph-link-icon">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="https://www.facebook.com/paperhiveorg/" class="ph-link-icon">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </p>
</div>
