<div class="ph-logo-grid ph-logo-grid-supporters">
  <a href="https://www.bmwi.de">
    <img
      src="./static/img/logo_bmwi.svg"
      alt="Federal Ministry for Economic Affairs and Energy"
    >
  </a>
  <a href="https://www.exist.de">
    <img
      src="./static/img/logo_exist.svg"
      alt="EXIST Existenzgründungen aus der Wissenschaft"
    >
  </a>
  <a href="https://www.esf.de">
    <img
      src="./static/img/logo_esf.svg"
      alt="European Social Fund for Germany"
    >
  </a>
  <a href="http://europa.eu/index_en.htm">
    <img
      src="./static/img/logo_eu.svg"
      alt="European Union"
    >
  </a>
  <a href="https://www.entrepreneurship.tu-berlin.de/">
    <img
      src="./static/img/logo_cfe.svg"
      alt="Centre for Entrepreneurship"
    >
  </a>
  <a href="https://www.tu-berlin.de/">
    <img
      src="./static/img/logo_tub.svg"
      alt="TU Berlin"
    >
  </a>
</div>
