// based on bootstraps popover
.generate-arrows(@name, @size, @bgcolor, @bordercolor) {
  .@{name} {
    position: relative;

    &.ph-right > .ph-arrow {
      top: 50%;
      right: -@size - 1px;
      margin-top: -@size - 1px;
      border-left-width: 0;
      border-right-color: @bordercolor;
      // border-left-color: rgba(0,0,0,.25);

      &:before{
        right: 1px;
        bottom: -@size;
        content: " ";
        border-left-width: 0;
        border-right-color: @bgcolor;
      }
    }

    > .ph-arrow {
      border-width: @size + 1px;
    }
    
    > .ph-arrow:before{
      content: "";
      border-width: @size;
    }

    > .ph-arrow, > .ph-arrow:before{
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }
}

