.ph-article-header {
  background: url('https://paperhub.io/dev/static/typewriter.jpg') center no-repeat;
}

.ph-article-title {
  background-color: rgba(255, 255, 255, 0.7);
}

.ph-article-submenu {
  background-color: rgba(255, 255, 255, 0.85);
}
.ph-article-submenu .active {
  .ph-highlight-border-top();
}

.ph-article-header .ph-icon {
  font-size: 2em;
}

.ph-article-header .ph-icon .fa-stack-1x {
  .text-shadow();
}
