.ph-highlight-container {
  position: absolute;
  top: 0;
}

.ph-highlight-ranges {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.4);
  z-index: 500; // must be between z-index of PDF canvas and PDF text layer
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
