margin-discussion, margin-discussion-draft {
  position: absolute;
  width: 100%;
  left: 0;
}

margin-discussion {
  transition: top 0.5s ease;
}

margin-discussion-draft {
  box-shadow: 0px 0px 25px #888888;
  transition: opacity 0.25s 0.25s ease;
  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity: 0;
  }
  &.ng-enter.ng-enter-active, &.ng-leave {
    opacity: 1;
  }
  &.ng-leave {
    transition-delay: 0;
  }
}

@ph-margin-avatar-size: 30px;
@ph-margin-avatar-padding: 2px;
@ph-margin-avatar-arrow-padding: 5px;
@ph-margin-arrow-size: 8px;
@ph-margin-content-border-color: @panel-default-border;
/*@ph-margin-original-bgcolor: @panel-default-heading-bg;
@ph-margin-reply-bgcolor: #ffffff;
*/

.ph-margin-container {
  margin-left: (@ph-margin-avatar-size + 2 * @ph-margin-avatar-padding +
    @ph-margin-arrow-size + @ph-margin-avatar-arrow-padding);
  border: 1px @ph-margin-content-border-color solid;

  // smaller line height
  line-height: 1.2;

  // required for shadows to stay below adjacent elements
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 15px #888888;
}

.ph-margin-row {
  //display: table; // required for vertical centering
  //width: 100%;
}

// everything related to the avatar
.ph-margin-avatar-container {
  position: relative;
  min-height: (@ph-margin-avatar-size + 2 * @ph-margin-avatar-padding + 4px);

  // avatar
  > .ph-margin-avatar {
    position: absolute;
    left: -(@ph-margin-avatar-size + 2 * @ph-margin-avatar-padding +
      @ph-margin-arrow-size + @ph-margin-avatar-arrow-padding);
    width: (@ph-margin-avatar-size + 2 * @ph-margin-avatar-padding);
    height: (@ph-margin-avatar-size + 2 * @ph-margin-avatar-padding);
    padding: @ph-margin-avatar-padding;
    background-color: #ffffff;
    z-index: 1; // required for shadows to stay below adjacent elements
    box-shadow: 0px 0px 15px #888888;
  }
}

.ph-margin-row-container {
  display: table;
  width: 100%;
  vertical-align: middle;
}
.ph-margin-avatar-container > .ph-margin-row-container {
  min-height: (@ph-margin-avatar-size + 2 * @ph-margin-avatar-padding + 4px);
}

.ph-margin-arrow-container {
  .ph-arrow-container(
    @ph-margin-arrow-size,
    @btn-default-bg,
    @ph-margin-content-border-color
  );
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: (@ph-margin-avatar-size + 2 * @ph-margin-avatar-padding);
  z-index: 1; // above shadow
}

.ph-margin-link-default {
  cursor: pointer;
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
  > .ph-margin-arrow-container {
    .ph-arrow-container(
      @ph-margin-arrow-size,
      @btn-default-bg,
      @ph-margin-content-border-color
    );
  }
  &:hover, &:focus, &.focus, &:active, &.active {
    > .ph-margin-arrow-container {
      .ph-arrow-container(
        @ph-margin-arrow-size,
        darken(@btn-default-bg, 10%),
        @ph-margin-content-border-color
      );
    }
  }
}

.ph-margin-link-primary {
  cursor: pointer;
  .button-variant(@btn-default-color; @btn-primary-bg; @btn-default-border);
  > .ph-margin-arrow-container {
    .ph-arrow-container(
      @ph-margin-arrow-size,
      @btn-primary-bg,
      @ph-margin-content-border-color
    );
  }
  &:hover, &:focus, &.focus, &:active, &.active {
    > .ph-margin-arrow-container {
      .ph-arrow-container(
        @ph-margin-arrow-size,
        darken(@btn-primary-bg, 10%),
        @ph-margin-content-border-color
      );
    }
  }
}


@ph-margin-reply-bgcolor: darken(@btn-default-bg, 5%);
.ph-margin-reply {
  background-color: @ph-margin-reply-bgcolor;
  > .ph-margin-arrow-container {
    .ph-arrow-container(
      @ph-margin-arrow-size,
      @ph-margin-reply-bgcolor,
      @ph-margin-content-border-color
    );
  }
}

.ph-margin-row-content {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.ph-margin-row-content {
  padding: 5px 7px;
}

.ph-margin-row-border-top {
  border-top: 1px @ph-margin-content-border-color solid;
}

.ph-margin-title {
  font-weight: bold;
}

.ph-margin-info {
  .text-muted();
  .ph-no-margin();
  font-size: smaller;
}

.ph-margin-textarea {
  padding: 5px 7px;
}

.ph-margin-badge {
  font-size: smaller;
  font-weight: normal;
  padding: 2px 5px;
  background-color: #aaa !important;
}
