.ph-margin-discussion {
  position: absolute;
  width: 100%;
}

@ph-panel-default-heading-bg: lighten(@panel-default-heading-bg, 5%);

/*
@ph-panel-heading-arrow-size: 8px;
.ph-arrow-panel-heading {
  .ph-arrow (
    @ph-panel-heading-arrow-size,
    @ph-panel-default-heading-bg,
    @panel-default-border
  );
}*/
.ph-default-panel-content {
  background-color: @ph-panel-default-heading-bg;
}

margin-discussion, margin-discussion-draft {
  .ph-margin-discussion();
  > .panel {
    .ph-no-border-bottom();
    .ph-no-margin();
    > .panel-heading {
      .ph-no-padding();
      border-bottom: 1px @panel-default-border solid;
    }
    > .panel-body {
      .ph-sm-padding();
      border-bottom: 1px @panel-default-border solid;
    }

  }
}

margin-discussion {
  box-shadow: 0px 0px 15px #888888;
  transition: top 0.5s ease;
}

margin-discussion-draft {
  box-shadow: 0px 0px 25px #888888;
  transition: opacity 0.25s 0.25s ease;
  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity: 0;
  }
  &.ng-enter.ng-enter-active, &.ng-leave {
    opacity: 1;
  }
  &.ng-leave {
    transition-delay: 0;
  }
}
