.navbar .ph-avatar {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

.media .ph-login-info-block {
  display: block;
  padding-left: 90px;
}
.ph-title-logo {
  max-width:35px;
  margin-top: -7px;
}

/* HEADER */
/* Navigation */
/*.navbar {
  .box-shadow(0 0 5px, 30%);
  .border-top(4px, solid, @ph-highlight-color);
  padding: @navbar-default-padding;
}
.nav.navbar-nav.navbar-right {
  margin: 8px 0;
}

.navbar-nav > li > a {
  padding: @nav-link-padding;
}*/
