// Searchform
.ph-search {

}

// Filter
.ph-filter {

}

.ph-search-list-group {

  .ph-md-margin-bottom;
  padding-left: 0;

  > li {

    display: block;
    margin-bottom: -1px;
    background-color: @list-group-bg;
    border: 1px solid @list-group-border;

    > a {
      padding: @grid-gutter-width/3 @grid-gutter-width/2-@ph-border-height/2;
      text-decoration: none;
      display: block;
      border-left: @ph-border-height solid transparent;

      &:hover, &:focus{
        .ph-highlight-border-left;

        .ph-badge {
          background-color: @ph-highlight-color;
        }
      }
    }
  }
  > li.active {
    > a {
      color: @link-hover-color;
      .ph-highlight-border-left;

      &:hover, &:focus{

      }
    }
  }
}

.ph-search-result-item {
  .ph-lg-margin-bottom;
  .ph-md-padding-bottom;
  border-bottom: 1px solid @list-group-border;
  clear: both;

  .well {
    padding: @grid-gutter-width/3 @grid-gutter-width/2-@ph-border-height/2;
    .ph-sm-margin-bottom;
  }

  .ph-icon {
    float: left;
    font-size: @font-size-h2;

    .fa-stack-1x {
      .text-shadow();
    }
  }
}
.ph-search-result-item-content {
  margin-left: @font-size-h2*2+@grid-gutter-width/2;
  .ph-sm-padding-top;
}
