.panel.ph-teaser {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.ph-icon {
  background-color: @ph-white;
  margin: auto;
  border-radius: 100px;
  width: 150px;
  height: 150px;
  text-align: center;
}

.ph-icon .glyphicon {
  font-size: 500%;
  display: block;
  height: 150px;
  top: 26%;
  .text-shadow();
}
