@ph-base-color: rgba(159,198,226,1);
/* @ph-base-color: rgba(159,198,226,1);*/
@ph-highlight-color: rgba(54,63,93,1);
@ph-background-color: rgba(233,233,233,1);
@ph-white: rgba(255, 255, 255, 1);

// navbar
@ph-nav-distance: 75px;
@ph-navbar-default-padding: 0px 0;
@ph-navbar-border: 4px;

// footer
@ph-footer-height: 50px;
@ph-footer-border: 4px;
