channel-selector {
  .btn, .dropdown-menu {
    font-size: @font-size-base - 2;
  }
}

.ph-channel-selector-group {
  display: flex;
  > .btn {
    border: none;
  }
  > .btn.dropdown-toggle {
    border-left: 1px solid @btn-default-border;
  }
}

.ph-channel-selector-channel {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
