channel-selector {
  .btn, .dropdown-menu {
    font-size: @font-size-base;
    width: 100%;
    max-height: 345px;
    overflow-y: auto;
    box-shadow: @ph-shadow;

    > li {
      > a {
        padding-top: @padding-base-vertical*2;
        padding-bottom: @padding-base-vertical*2;
      }
      &.active {
        > a {
          background: @ph-highlight-color;
          &:hover {
            background: @ph-highlight-color;
          }
          .fa {
            color: #fff;
          }
          .fa-inverse {
            color: @ph-badge-bg-color;
          }
        }
        &.ph-private-channel {
          > a {
            background: @ph-badge-bg-color;
          }
        }
      }
      &.divider {
        margin: 0;
      }
    }
  }
  .dropdown-menu {
    padding: 0;
    margin: 3px 0;
  }
}

.ph-dropdown-flex {
  .ph-selected-channel {
    flex-grow: 1;
    overflow: hidden;
    padding-right: @padding-base-vertical;
    > div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }    
  }
  .fa-stack {
    font-size: .7em;
    top: -2px;
    padding: 1px;

    .fa-globe {
      color: @ph-highlight-color;
    }
    .fa-circle {
      color: @ph-badge-bg-color;
    }
  }
  .ph-channel-selector-channel {
    &.btn-group {
      box-shadow: @ph-shadow;
      display: flex;
      position: initial;
    }
    > .btn {
      border: none;
    }
  }
}
