.ph-columns-documents {
  margin-top: @ph-header-height + (@grid-gutter-width/2);
}

.ph-document-journal {
  max-width: 250px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top;
}

.ph-distributor-logo {
  height: 2em;
}
