.ph-documents-columns {
  margin-top: @ph-header-height;
  padding-top: @grid-gutter-width/2;  
}
.transition {
	.transition(all .8s ease-in-out);

	&.ph-margin-left {
		padding-left: @grid-gutter-width*2;	
	}
}

.ph-document-journal {
  max-width: 250px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  vertical-align: top;
}

.ph-distributor-logo {
  height: 2em;
}
