pdf-page {
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
  overflow: hidden;
  position: relative;

  & > .ph-pdf-text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* override from bootstrap, cf.
     * <https://github.com/mozilla/pdf.js/issues/6614> */
    line-height: 1.0;

    & > div {
      color: transparent;
      position: absolute;
      white-space: pre;
      cursor: text;
      -webkit-transform-origin: 0% 0%;
      -moz-transform-origin: 0% 0%;
      -o-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      z-index: 1000;
      // allow text selections
      .ph-selection(text);
    }
  }
}
