.popover {
  z-index: 0 !important;
  background-color: @ph-highlight-color;
}

.popover.top > .arrow:after {
  border-top-color: @ph-highlight-color;
}

.popover.left > .arrow:after {
  border-left-color: @ph-highlight-color;
}

.popover.bottom > .arrow:after {
  border-bottom-color: @ph-highlight-color;
}
