@ph-popup-border: 4px solid @ph-highlight-color;

.popover {
  z-index: 0;
  &.bottom {
    border-bottom: @ph-popup-border;
  }
  &.top, &.left, &.right {
    border-top: @ph-popup-border;
  }
}
/*
.popover.top > .arrow:after {
  border-top-color: #E0E0E0;
}

.popover.left > .arrow:after {
  border-left-color: #E0E0E0;
}

.popover.bottom > .arrow:after {
  border-bottom-color: #E0E0E0;
}
*/