.ph-search-filters {
  //box-shadow: inset 0px 5px 5px -5px rgba(64,64,64,0.3), inset 0px -5px 5px -5px rgba(64,64,64,0.3);
  box-shadow: @ph-shadow-inset-top, @ph-shadow-inset-bottom;
  background-color: white;
  height: 250px;
}
