@ph-sidenav-small-width: 48px;
@ph-sidenav-animation-duration: 0.8s;

document-sidenav {
  > * {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: @zindex-navbar-fixed - 2;

    background: @ph-white;
  }
}

.ph-sidenav-open {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  // .transform(translateX(0));
  transition:
    transform @ph-sidenav-animation-duration ease-in-out @ph-sidenav-animation-duration,
    box-shadow @ph-sidenav-animation-duration ease-in-out @ph-sidenav-animation-duration;
}

.ph-sidenav-closed {
  transform: translateX(-100%);
  transition:
    transform @ph-sidenav-animation-duration ease-in-out,
    box-shadow @ph-sidenav-animation-duration ease-in-out;
}

.ph-sidenav-large {
  width: 25%; // TODO
  min-width: 250px;
  overflow-x: hidden;
  overflow-y: auto;;
  padding: 40px (@grid-gutter-width/2) 30px;
}

.ph-sidenav-small {
  width: @ph-sidenav-small-width;
}

.ph-document-info-kudos .panel-body {
  padding: 0;
}




.ph-sidenav {
  &.ph-documents {
    background: @ph-white;
    height: 100%;
  }
  > li {
    .ph-md-margin-bottom;

    &.active > a, {
      border-left-color: @ph-highlight-color;
      color: @link-hover-color;
    }

    > a {
      border-left: @ph-border-height/2 solid transparent;
      padding: @padding-base-vertical/2 @padding-base-horizontal/2;
      font-size: 110%;
      .ph-sm-margin-bottom;

      &:hover, &:focus {
        border-left-color: @ph-highlight-color;
        background: none;
      }
    }
  }
  .btn {
    font-size: @font-size-base - 2;
  }
}

.ph-documents-header {
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: @padding-large-horizontal;
  }
  h4,
  h5 {
    color: @ph-base-color;
  }
  h6 {
    color: darken(@ph-background-color, 40%);
  }

}

.ph-collapse {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  button {
    display: block;
    margin: 0;
    padding: @padding-large-vertical (@grid-gutter-width/2);
    &:hover {
      color: @ph-highlight-color;
    }
  }
}

.ph-hive-button {
  margin-bottom: @padding-large-horizontal;
}
.ph-document-info {
  .ph-dropdown-menu {
    width: 100%;
  }
  .btn {
    width: 100%;
    text-align: left;
    &:hover {
      [class*=fa-] {
        color: @ph-highlight-color;
      }
    }
  }

  .fa-download,
  .fa-history {
    padding-right: @padding-base-horizontal;
    .border-right(1px, solid, @gray);
  }
  .fa-caret-down {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
  }
  span {
    padding-left: @padding-base-horizontal - 2;
  }
  div {
    margin-bottom: @padding-large-horizontal;
  }
}
.ph-sidenav-small {
  .btn-link {
    width: 100%;
    display: block;
    text-align: center;
  }
  .ph-hive-button {
    margin-bottom: 0;
    img {
      max-width: 18px;
    }
  }
  .ph-document-info {
    div {
      margin-bottom: 0;
    }
    .fa-download,
    .fa-history {
      width: 100%;
      border: none;
      padding-right: 0;
    }
  }
  .ph-collapse {
    width: 100%;
    position: relative;
    button {
      width: 100%;
    }
  }
}

.ph-accordion {
  .panel-heading {
    padding: 0;
  }
  img {
    max-height: 20px;
    margin-top: -6px;
    margin-right: 4px;
  }
  a {

    &.accordion-toggle {
      display: block;
      background: @gray-lighter;
      padding: @padding-large-horizontal @padding-large-vertical;
      font-size: @font-size-base;
      color: @ph-base-color;
      outline: none;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        outline: none;
      }
    }
  }


  h4 {
    margin-bottom: 0;
  }
  h6 {
    margin-bottom: @padding-base-vertical;
  }
}

.ph-sidenav-sub {
  margin-left: @line-height-computed;

  > li {

    &.active > a {
      color: @link-hover-color;
      .fa {
        display: inline-block;
      }
    }

    > a {
      padding: @padding-base-vertical/3 0;

      .fa {
        display: none;
        font-size: 12px;
        .ph-sm-margin-left;
      }

      &:hover, &:focus {
        background: none;
      }
    }
  }
}
