.ph-sidenav {  
  
  &.ph-documents {
    background: @ph-white;
    height: 100%;
  }
  > li {
    .ph-md-margin-bottom;

    &.active > a, {
      border-left-color: @ph-highlight-color;
      color: @link-hover-color;
    }

    > a {
      border-left: @ph-border-height/2 solid transparent;
      padding: @padding-base-vertical/2 @padding-base-horizontal/2;
      font-size: 110%;
      .ph-sm-margin-bottom;

      &:hover, &:focus {
        border-left-color: @ph-highlight-color;
        background: none;
      }
    }
  }
  .btn {
    font-size: @font-size-base - 2; 
  }
}

.ph-documents-header {
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: @padding-large-horizontal;
  }
  h4,
  h5 {
    color: @ph-base-color;
  }
  h6 {
    color: darken(@ph-background-color, 40%);
  }

}

.opened {
  .transform(translateX(0));
  .transition(all .8s ease-in-out .8s);
}
.closed {
  .transform(translateX(-100%));
  .transition(all .8s ease-in-out);
}

.ph-collapse {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  button {
    display: block; 
    margin: 0;
    padding: @padding-large-vertical (@grid-gutter-width/2);
    &:hover {
      color: @ph-highlight-color;
    }
  }
}

.ph-hive-button {
  margin-bottom: @padding-large-horizontal; 
}

.ph-document-info {
  .ph-dropdown-menu {
    width: 100%;
  }
  .btn {
    width: 100%;
    text-align: left;
    &:hover {
      [class*=fa-] {
        color: @ph-highlight-color;
      }
    }
  }
  .fa-download,
  .fa-history {
    padding-right: @padding-base-horizontal;
    .border-right(1px, solid, @gray);
  }
  .fa-caret-down {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -7px;
  }
  span {
    padding-left: @padding-base-horizontal - 2;
  }
  div {
    margin-bottom: @padding-large-horizontal;
  }
}

.ph-accordion {
  .panel-heading {
    padding: 0; 
  }  
  img {
    max-width: 16px;
    margin-top: -6px;
    margin-right: 4px;
  }
  a {

    &.accordion-toggle {
      display: block;
      background: @gray-lighter; 
      padding: @padding-large-horizontal @padding-large-vertical; 
      font-size: @font-size-base; 
      color: @ph-base-color;
      outline: none;

      &:hover,
      &:active,
      &:focus {
        text-decoration: none; 
        outline: none;
      }
    }
  }
    
  
  h4 {
    margin-bottom: 0;
  }
  h6 {
    margin-bottom: @padding-base-vertical;
  }
}

.ph-sidenav-sub {
  margin-left: @line-height-computed;

  > li {

    &.active > a {
      color: @link-hover-color;
      .fa {
        display: inline-block;
      }
    }

    > a {
      padding: @padding-base-vertical/3 0;

      .fa {
        display: none;
        font-size: 12px;
        .ph-sm-margin-left;
      }

      &:hover, &:focus {
        background: none;
      }
    }
  }
}
