<div class="panel panel-default">
  <div class="panel-body">
    <h4>
      {{$ctrl.document.title}}
    </h4>
    <div>
      <small>
        Name Lastname and Name Lastname and Name Lastname
      </small>
    </div>
    <div class="text-muted">
      <small>
        2016 &middot; Publisher
      </small>
    </div>

    <!--span class="fa-stack fa-2x" style="position:absolute; bottom:-20px; right:-20px;">
      <i class="fa fa-circle fa-stack-2x" style="color: #20b7e0"></i>
      <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
    </span-->

  </div>
</div>