<div class="row ph-md-margin-bottom">
  <div class="col-md-12">
    <a href="#{{'article.comments.new' | routeSegmentUrl}}"
      class="btn btn-primary pull-right" ng-disabled="!auth.user">
      <i class="fa fa-fw fa-plus"></i> Add general comment
    </a>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-2" ng-if="article.file.url">
    <pdf pdf-url="article.file.url" pdf-text-overlay="false"></pdf>
  </div>
  <div class="col-md-10">
    <div app-view-segment="2"></div>
  </div>
</div>
