<form name="annotationForm"
  ng-submit="annotationForm.$valid && updateAnnotation()"
  novalidate
  >
  <span
    id="helpBlock"
    class="ph-help-block pull-right"
    >
    You can use
    <a href="http://kramdown.gettalong.org/syntax.html">Markdown</a>,
    $$<a href="http://www.mathjax.org/demos/tex-samples/">LaTeX</a>$$,
    ```<a href="https://highlightjs.org/">code blocks</a>```,
    @-mentions
  </span>
  <textarea
    id="textbody"
    class="form-control ph-annotation-body"
    ng-model="tmpBody"
    mentio
    mentio-macros="macros"
    mentio-search="searchPeople(term)"
    mentio-items="localItems"
    mentio-select="getPeopleText(item)"
    mentio-template-url="templates/directive/mentio-list.html"
    mentio-require-leading-space="true"
    rows="6"
    placeholder="Leave a comment..."
    ng-required="requiresBody"
    >
  </textarea>
  <hr>
  <label for="preview">Preview</label>
  <div class="well well-lg" id="preview">
    <kramjax body="{{tmpBody}}"></kramjax>
  </div>
  <span class="pull-right">
    <button type="submit" class="btn btn-danger" ng-click="setEditOff()">
      Cancel
    </button>
    &nbsp;
    <button
      ng-click="updateAnnotation(tmpBody)"
      ng-disabled="annotationForm.$invalid"
      type="submit"
      class="btn btn-primary"
      >
      Update annotation
    </button>
  </span-->
</form>
