<div class="panel panel-default">
  <div class="panel-heading">
    <ul class="list-inline">
      <li>
        <a href="#">
          <strong>
            <i class="fa fa-comment"></i> {{article.discussions.length}} open
          </strong>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-close"></i> 0 closed
        </a>
      </li>
    </ul>
    <!--span class="pull-right">Sort</span-->
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="discussion in discussions">
      <span class="pull-right">
        <span ng-if="discussion.replies.length > 0" style="margin-left:15px;">
          <i class="fa fa-comments"></i> {{discussion.replies.length}}
        </span>
      </span>
      <h4>
        <a style="margin-right:15px;"
            href="#{{'article.comments.index' | routeSegmentUrl: {index:
            discussion.index} }}">
            {{discussion.originalAnnotation.title}}
        </a>
        <ul class="ph-tags list-inline" style="display: inline-block;">
          <li ng-repeat="tag in discussion.originalAnnotation.tags">
            <a href="#" class="btn btn-default">{{tag}}</a>
          </li>
        </ul>
      </h4>
      #{{discussion.index}} opened
      <span am-time-ago="discussion.originalAnnotation.createdAt"></span>
      by
      <a href="#/users/{{discussion.originalAnnotation.author.username}}">
        {{discussion.originalAnnotation.author.displayName}}
      </a>
    </li>
  </ul>
</div>
