<a class="media-left" href="#/users/{{auth.user.username}}">
  <img
    gravatar-user="auth.user"
    gravatar-size="80"
    >
</a>
<div class="media-body" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-body">
      <form
        name="annotationForm"
        ng-controller="AnnotationCtrl"
        ng-submit="annotationForm.$valid
        && addReply(annotation.body); annotation.body=undefined;"
        novalidate
        >
        <span
          id="helpBlock"
          class="ph-help-block pull-right"
          >
          You can use
          <a href="http://kramdown.gettalong.org/syntax.html" target="_blank">Markdown</a>,
          $$<a href="http://en.wikibooks.org/wiki/LaTeX/Mathematics#Symbols"
            target="_blank">LaTeX</a>$$,
          ```<a href="https://highlightjs.org/" target="_blank">code blocks</a>```,
          @-mentions
        </span>
        <textarea
          id="textbody"
          class="form-control ph-annotation-body"
          ng-model='annotation.body'
          mentio
          mentio-macros="macros"
          mentio-search="searchPeople(term)"
          mentio-items="localItems"
          mentio-template-url="templates/directive/mentio-list.html"
          mentio-select="getPeopleText(item)"
          mentio-require-leading-space="true"
          rows="6"
          placeholder="Leave a comment..."
          required
          ></textarea>
        <hr>
        <label for="preview">Preview</label>
        <div class="well well-lg" id=preview>
          <kramjax body="{{annotation.body}}"></kramjax>
        </div>
        <span class="pull-right">
          <button type="submit" class="btn btn-default">
            Close discussion
          </button>
          &nbsp;
          <button
            type="submit"
            class="btn btn-primary"
            ng-disabled="annotationForm.$invalid"
            >
            Submit
          </button>
        </span>
      </form>
    </div>
  </div>
</div>
