<a class="media-left" href="#">
  <img
    src="https://secure.gravatar.com/avatar/?s=80"
    alt="thumbnail"
    width="80px"
    >
</a>
<div class="media-body" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-body">
      <form
        name="annotationForm"
        ng-submit="annotationForm.$valid
        && addReply(annotationBody); annotationBody=null"
        novalidate
        >
        <span id="helpBlock" class="help-block pull-right"
            style="font-size:smaller">
          You can use
          <a href="http://kramdown.gettalong.org/syntax.html">Markdown</a>,
          $$<a href="http://www.mathjax.org/demos/tex-samples/">LaTeX</a>$$,
          ```<a href="https://highlightjs.org/">code blocks</a>```
        </span>
        <textarea
          id="textbody"
          class="form-control ph-annotation-body"
          ng-model='annotationBody'
          rows="6"
          placeholder="Leave a comment..."
          required
          ></textarea>
        <hr>
        <label for="preview">Preview</label>
        <div class="well well-lg" id=preview>
          <kramjax body="{{annotationBody}}"></kramjax>
        </div>
        <span class="pull-right">
          <button type="submit" class="btn btn-default">
            Close discussion
          </button>
          &nbsp;
          <button
            type="submit"
            class="btn btn-primary"
            ng-disabled="annotationForm.$invalid"
            >
            Submit
          </button>
        </span>
      </form>
    </div>
  </div>
</div>
