<div class="panel panel-default" ng-controller="DiscussionListCtrl">
  <div class="panel-heading">
    <ul class="list-inline">
      <li>
      <strong>
        <i class="fa fa-comment"></i> {{discussions.stored.length}} open
      </strong>
      </li>
      <!--li>
        <a href="#">
          <i class="fa fa-close"></i> 0 closed
        </a>
      </li-->
    </ul>
    <!--span class="pull-right">Sort</span-->
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="discussion in discussions.stored">
    <a href="{{'articles.discussions.thread' | routeSegmentUrl:
      {discussionIndex: discussion.index} }}"
      >
      <span
        ng-if="discussion.replies.length > 0"
        class="pull-right ph-discussion-replies-counter"
        >
        <i class="fa fa-comments"></i> {{discussion.replies.length}}
    </span></a>
      <h4>
        <a href="{{'articles.discussions.thread' | routeSegmentUrl:
            {discussionIndex: discussion.index} }}">
          {{discussion.originalAnnotation.title}}</a>
        <ul
          ng-if="discussion.originalAnnotation.tags.length > 0"
          class="ph-tags list-inline"
          >
          <li ng-repeat="tag in discussion.originalAnnotation.tags">
            <a href="#" class="btn btn-default">{{tag}}</a>
          </li>
        </ul>
      </h4>
      <span class="ph-discussion-subtitle">
        #{{discussion.index}} opened
        <span am-time-ago="discussion.originalAnnotation.createdAt"></span>
        by
        <a href="/users/{{discussion.originalAnnotation.author.username}}">
          {{discussion.originalAnnotation.author.displayName}}
        </a>
      </span>
    </li>
  </ul>
</div>
