<form
  name="commentForm"
  ng-controller="CommentCtrl"
  ng-submit="commentForm.$valid && save()"
  ng-disabled="submitting"
  novalidate
  >
  <div class="row">
    <div class="col-md-10">
      <div class="media">
        <a href="#/users/{{auth.user.username}}" class="media-left">
          <img gravatar-user="auth.user" gravatar-size="80">
        </a>
        <div class="media-body">
          <div class="panel panel-default">
            <div class="panel-body">
              <input
                placeholder="Title"
                type="text"
                name="title"
                ng-model="comment.title"
                class="form-control"
                required
                >
              <br>
              <span
                id="helpBlock"
                class="ph-comment-help pull-right"
                >
                You can use
                <a
                  href="http://kramdown.gettalong.org/syntax.html"
                  target="_blank"
                  >Markdown</a>,
                $$<a
                  href="http://en.wikibooks.org/wiki/LaTeX/Mathematics#Symbols"
                  target="_blank"
                  >LaTeX</a>$$,
                ```<a href="https://highlightjs.org/" target="_blank">code blocks</a>```,
                <a href="http://jeff-collins.github.io/ment.io/#/"
                        target="_blank">@mentions</a>
              </span>
              <textarea
                class="form-control ph-comment-body"
                ng-model="comment.body"
                mentio
                mentio-macros="macros"
                mentio-search="searchPeople(term)"
                mentio-items="localItems"
                mentio-template-url="templates/directives/mentio-list.html"
                mentio-select="getPeopleText(item)"
                mentio-require-leading-space="true"
                rows="6"
                placeholder="Leave an comment..."
                ></textarea>
              <hr>
              <label for="preview">Preview</label>
              <div class="well well-lg" id="preview">
                <kramjax body="comment.body"></kramjax>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary pull-right"
        ng-disabled="commentForm.$invalid"
        >
        <i ng-if="!submitting" class="fa fa-fw fa-check"></i>
        <i ng-if="submitting" class="fa fa-fw fa-spinner fa-spin"></i>
        Submit
      </button>
    </div>
    <div class="col-md-2">
      <!-- Open comment motivations -->
      <h4>Labels</h4>
      <ul class="ph-labelset">
        <li>
          <input type="checkbox" id="button0"/>
          <label for="button0" class="comment" onclick>comment</label>
        </li>
        <li>
          <input type="checkbox" id="button1"/>
          <label for="button1" class="edit" onclick>edit</label>
        </li>
        <li>
          <input type="checkbox" id="button2"/>
          <label for="button2" class="question" onclick>question</label>
        </li>
        <li>
          <input type="checkbox" id="button3"/>
          <label for="button3" class="link" onclick>link</label>
        </li>
      </ul>
    </div>
  </div>
</form>
