<a class="media-left" href="#/users/{{annotation.author.username}}">
  <img
    gravatar-user="annotation.author"
    gravatar-size="80"
    class="img-rounded"
    >
</a>
<div class="media-body" style="width:100%">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="#/users/{{annotation.author.username}}">
        {{annotation.author.displayName}}</a>
      commented
      <span am-time-ago="annotation.createdAt"></span>
      <span ng-if="annotation.createdAt !== annotation.updatedAt">
        <em>[edited <span am-time-ago="annotation.updatedAt"></span>]</em>
        <!-- Unfortunately, dynamic edit time updates don't work -->
        <!--span  am-time-ago="{{annotation.editTime}}"></span-->
      </span>
      <span class="pull-right">
        <span ng-if="isArticleAuthor" class="ph-comment-tag">Author</span>
        <!-- Can't use ng-if here; it seems to create another scope. -->
        <!--  ng-if="annotation.permissions.edit" -->
        <button
          class="btn btn-link ph-no-padding-top ph-no-padding-bottom"
          ng-click="setEditOn()"
          >
          <i class="fa fa-pencil"></i>
        </button>
        <button
          ng-if="deleteFunction && annotation.permissions.delete"
          class="btn btn-link ph-no-padding-top ph-no-padding-bottom"
          confirmed-click="deleteFunction(annotation._id)"
          ng-confirm-click="Really delete reply?"
          >
          <i class="fa fa-remove"></i>
        </button>
      </span>
    </div>
    <div class="panel-body">
      <form name="annotationForm"
        ng-if="isEditMode"
        ng-submit="annotationForm.$valid && updateAnnotation()"
        novalidate
        >
        <span
          id="helpBlock"
          class="ph-comment-help pull-right"
          >
          You can use
          <a href="http://kramdown.gettalong.org/syntax.html" target="_blank">Markdown</a>,
          $$<a href="http://en.wikibooks.org/wiki/LaTeX/Mathematics#Symbols"
            target="_blank">LaTeX</a>$$,
          ```<a href="https://highlightjs.org/" target="_blank">code blocks</a>```,
          <a href="http://jeff-collins.github.io/ment.io/#/"
            target="_blank">@mentions</a>
        </span>
        <textarea
          id="textbody"
          class="form-control ph-annotation-body"
          ng-model="tmpBody"
          mentio
          mentio-macros="macros"
          mentio-search="searchPeople(term)"
          mentio-items="localItems"
          mentio-select="getPeopleText(item)"
          mentio-template-url="templates/directives/mentio-list.html"
          mentio-require-leading-space="true"
          rows="6"
          placeholder="Leave a comment..."
          ng-required="requiresBody"
          >
        </textarea>
        <hr>
        <label for="preview">Preview</label>
        <div class="well well-lg" id="preview">
          <kramjax body="{{tmpBody}}"></kramjax>
        </div>
        <span class="pull-right">
          <button type="submit" class="btn btn-danger" ng-click="setEditOff()">
            Cancel
          </button>
          &nbsp;
          <button
            ng-click="updateAnnotation(tmpBody)"
            ng-disabled="annotationForm.$invalid"
            type="submit"
            class="btn btn-primary"
            >
            Update annotation
          </button>
        </span>
      </form>
      <kramjax
        ng-if="!isEditMode && annotation.body !== undefined"
        body="{{annotation.body}}"
        ></kramjax>
      <em ng-if="!annotation.body" class="text-muted">
        No description provided.
      </em>
    </div>
  </div>
</div>
