<div ng-if="auth.user" class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="/#/users/{{auth.user.username}}">
          <img
          class="media-object"
          gravatar-user="auth.user"
          gravatar-size="30"
          >
        </a>
      </div>
      <div class="media-body">
        <form
          name="commentForm"
          ng-submit="commentForm.$valid && onSubmit({$comment: comment})"
          novalidate
          >
          <input
          type="text"
          ng-if="comment.body.length > 20"
          ng-model="comment.title"
          class="form-group form-control"
          placeholder="Enter title..."
          required
          >
          <textarea
            id="textbody"
            placeholder="Enter comment..."
            ng-model="comment.body"
            class="form-group form-control ph-comment-body"
            rows="2"
            required
            ></textarea>
          <span class="pull-right">
            <button
              class="btn btn-sm btn-primary"
              ng-disabled="commentForm.$invalid"
              >
              Add comment
            </button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>
