<div ng-if="auth.user" class="panel panel-default">
  <div class="panel-heading">
    <img gravatar-user="auth.user" gravatar-size="30" class="ph-avatar">
    {{auth.user.displayName}}
    <span class="pull-right">
      <a href="#">
        <i class="fa fa-globe"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <form
      name="annotationForm"
      ng-submit="annotationForm.$valid && onSubmit({$discussion: annotation})"
      novalidate
      >
      <input
        type="text"
        ng-if="annotation.body.length > 20"
        id="annotation-title"
        ng-model="annotation.title"
        class="form-group form-control"
        placeholder="Enter title..."
        required
        >
      <textarea
        id="textbody"
        placeholder="Enter comment..."
        ng-model="annotation.body"
        class="form-group form-control ph-annotation-body"
        rows="2"
        required
        ></textarea>
      <span class="pull-right">
        <button
          class="btn btn-sm btn-primary"
          ng-disabled="annotationForm.$invalid"
          >
          Add comment
        </button>
      </span>
    </form>
  </div>
</div>
<div ng-if="!auth.user" class="panel panel-default">
  <div class="panel-body">
    <a href="{{auth.orcidUrl}}" class="btn btn-primary">
      Sign in with ORCID
    </a> to comment.
  </div>
</div>
