<div class="panel panel-default">
  <div class="panel-heading" ng-mouseleave="showAuthorDetails = false">

    <div class="ph-avatar" ng-mouseenter="showAuthorDetails = true">
      <img gravatar-user="discussion.originalAnnotation.author"
        gravatar-size="30">
    </div>
    <div class="ph-header-container">
      <!-- author details are hidden by default -->
      <div class="ph-author-details"
          ng-class="{'ph-active': showAuthorDetails}">
        {{discussion.originalAnnotation.author.displayName}}
      </div>
      <div class="ph-discussion-details-container"
          ng-class="{'ph-inactive': showAuthorDetails}">
        <div class="ph-arrow-container">
          <div class="ph-arrow ph-arrow-outward-left"></div>
        </div>
        <div class="ph-discussion-details">
          <h4 class="ph-no-margin">{{discussion.originalAnnotation.title}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body" ng-if="discussion.originalAnnotation.body">
    {{discussion.originalAnnotation.body}}
  </div>
  <a href="#">
  <div class="panel-body" ng-if="discussion.replies.lenth">
    {{discussion.originalAnnotation.body}}
  </div>
</div>
