<div class="panel panel-default">
  <div class="panel-heading">
    <img gravatar-user="annotation.originalAnnotation.author" gravatar-size="30" >
    {{annotation.originalAnnotation.author.displayName}}
    <span class="pull-right">
      <a href="#">
        <i class="fa fa-globe"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <h4 class="ph-no-margin-top">{{annotation.originalAnnotation.title}}</h4>
    <div ng-if="annotation.originalAnnotation.body">
      {{annotation.originalAnnotation.body}}
    </div>
  </div>
</div>
