<span ng-if="!$ctrl.c.isEditMode">
  {{$ctrl.content}}
  <button
    ng-if="$ctrl.canEdit"
    class="btn btn-link"
    ng-click="$ctrl.c.isEditMode = true"
    >
    <i class="fa fa-pencil"></i>
  </button>
</span>
<form
  ng-if="$ctrl.c.isEditMode"
  name="inlineEditForm"
  ng-submit="inlineEditForm.$valid && update($ctrl.content)"
  novalidate
  >
  <input
    type="text"
    class="form-control ph-discussion-title"
    size="{{$ctrl.content.length + 5}}"
    ng-model="$ctrl.content"
    required
    >
  <button
    class="btn btn-default"
    ng-disabled="!inlineEditForm.$valid"
    type="submit"
    >
    <i class="fa fa-check"></i>
  </button>
  <button
    class="btn btn-default"
    ng-click="$ctrl.reset()"
    >
    <i class="fa fa-remove"></i>
  </button>
</form>
