
<div class="col-sm-3">

  <!-- Search form Start -->
  <ng-include src="'templates/search/form.html'"></ng-include>
  <!-- Search form End -->

  <!-- Filter Start -->
  <div class="ph-filter">
    <ul class="ph-search-list-group">
      <li class="active">
        <a href="#">
          <i class="fa fa-file-text-o fa-fw"></i>
          Papers
          <span class="badge ph-badge pull-right">122</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-comments fa-fw"></i>
          Comments
          <span class="badge ph-badge pull-right">232</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-users fa-fw"></i>
          Users
          <span class="badge ph-badge pull-right">32</span>
        </a>
      </li>
      <li>
        <a href="#" title="Advanced search">
          <i class="fa fa-wrench fa-fw"></i>
          Advanced search
          <span class="pull-right">
            <i class="fa fa-chevron-right fa-fw"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Filter End -->

</div>
