<!--
      To see the active state of the searchbar:

      1./ Add class "active" to "ph-search" (Line 8)
      2./ Remove the Comments on line 12 and 20
-->

<div class="ph-search ph-md-margin-bottom">
  <form class="ng-pristine ng-valid" role="search" action="" method="post">
    <input type="text" class="form-control" id="search" placeholder="Search Paperhub">

    <div class="ph-search-active">
      <h4>Suggestions:</h4>
      <ul class="ph-search-list">
        <li><a href="#">Preconditioned Recycling Krylov...</a></li>
        <li><a href="#">Some other stuff...</a></li>
        <li><a href="#">We'll Display only 3 suggestions...</a></li>
      </ul>
    </div>

  </form>
</div>
