<div ng-controller="ArticleCtrl">
  <div class="ph-header ph-header-large ph-lg-margin-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-10">
          <h2 class="ph-lg-margin-top">{{article.title}}</h2>
          <h4 class="ph-lg-margin-bottom">
            <span ng-repeat="author in article.authors">
              {{author.name}}{{$last ? '' :', '}}
            </span>
          </h4>
        </div>
        <div class="col-sm-2">
          <h2 class="ph-lg-margin-top">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default">
                <i class="fa fa-star"></i> Star
              </button>
              <button type="button" class="btn btn-default disabled">
                25
              </button>
            </div>
          </h2>
        </div>
      </div>
    </div>
    <div class="ph-affix-container"
        element-position="subnavPosition"
        ng-style="{'min-height': subnavSize.height + 'px'}">
      <div class="ph-header-submenu-affix"
          ng-class="{'ph-header-submenu-affixed': subnavPosition.top <= $root.navbarSize.height}"
          ng-style="{top: $root.navbarSize.height  + 'px'}"
          >
        <div class="ph-header-submenu-container" element-size="subnavSize">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <subnav>
                  <ul class="nav nav-tabs ph-header-submenu">
                    <li subnav-target="articles.text">
                      <a><i class="fa fa-fw fa-file-pdf-o"></i> Article</a>
                    </li>
                    <li subnav-target="articles.discussions">
                      <a><i class="fa fa-fw fa-comments"></i> Discussions
                        <span class="badge" ng-if="discussions.stored.length > 0">
                          {{discussions.stored.length}}
                        </span></a>
                    </li>
                  </ul>
                </subnav>
              </div>
            </div>
          </div>
        </div>
        <div class="ph-header-submenu-shadow"></div>
      </div>
    </div>
  </div> <!-- ph-header -->
  <div class="container-fluid">
    <div app-view-segment="1"></div>
  </div>
</div>
