<div ng-controller="ArticleTextCtrl">
  <div class="row" ng-if="pdfSource">
    <div highlight-container class="col-md-9">
      <div class="row">
        <div class="col-md-12 ph-md-margin-bottom" style="z-index: 9999;">

          <!--div class="btn-group" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
              Button dropdown <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href="#">Action</a></li>
              <li role="menuitem"><a href="#">Another action</a></li>
              <li role="menuitem"><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li role="menuitem"><a href="#">Separated link</a></li>
            </ul>
          </div-->

          <span class="dropdown" is-open="dropdown_open" uib-dropdown>
            <button class="btn btn-default dropdown-toggle" uib-dropdown-toggle>
              <span>Revision:</span>
              <strong>{{getShortDescription(revisions[activeRevisionIdx])}}</strong> <i class="fa fa-fw fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="revision in revisions.slice().reverse()"
                  ng-class="{'disabled': !revision.openAccess}">
                <a href="https://paperhive.org" class="disabled">
                  {{getShortDescription(revision)}}
                </a>
              </li>
            </ul>
          </span>

          <span class="pull-right">
            <a class="btn btn-default" ng-href="{{pdfSource}}"
              download="paperhive.pdf">
              Download PDF
            </a>
          </span>
        </div>
      </div>
      <pdf
        pdf-url="pdfSource"
        pdf-text-overlay="true"
        pdf-progress="article.pdfProgress"
        on-text-select="$target && (originalComment.draft.target = $target)"
        highlight-root
        ></pdf>
      <div class="ph-highlight-layer" ng-if="article.pdfProgress.finished">
        <div
          highlight-target="originalComment.draft.target"
          highlight-info="text.highlightInfos.draft"></div>
        <div ng-repeat="discussion in discussions.stored"
          highlight-target="discussion.target"
          highlight-info="text.highlightInfos[discussion.id]"
          highlight-border="text.highlightBorder[discussion.id]"
          ></div>
      </div>
    </div>
    <!--column for margin notes-->
    <div class="col-md-3">
      <div ng-if="article.pdfProgress.downloading">
        <uib-progressbar class="progress-striped active" value="100">
          Downloading...
        </uib-progressbar>
      </div>
      <div ng-if="article.pdfProgress.numPages && !article.pdfProgress.finished">
        <uib-progressbar class="progress-striped active"
          value="article.pdfProgress.renderedPages.length"
          max="article.pdfProgress.numPages">
          {{article.pdfProgress.renderedPages.length}} /
          {{article.pdfProgress.numPages}} pages
        </uib-progressbar>
      </div>
      <margin-discussion
        ng-repeat="discussion in discussions.stored"
        ng-if="text.highlightInfos[discussion.id].top !== undefined"
        ng-show="text.marginOffsets[discussion.id] !== undefined"
        ng-style="{'top': text.marginOffsets[discussion.id] + 'px'}"
        discussion="discussion"
        on-original-update="originalUpdate(discussion, $comment)"
        on-discussion-delete="discussionDelete(discussion)"
        on-reply-submit="replyAdd(discussion, $reply)"
        on-reply-update="replyUpdate(discussion, $replyOld, $replyNew)"
        on-reply-delete="replyDelete(discussion, $reply)"
        ng-mouseenter="text.highlightBorder[discussion.id] = true"
        ng-mouseleave="text.highlightBorder[discussion.id] = false"
        element-size="text.marginDiscussionSizes[discussion.id]"
        >
      </margin-discussion>
      <margin-discussion-draft
        ng-if="originalComment.draft.target && text.highlightInfos.draft.top !== undefined"
        ng-style="{'top': text.highlightInfos.draft.top + 'px'}"
        on-submit="addDiscussion($comment)"
        on-outside-mousedown="!originalComment.draft.title &&
          !originalComment.draft.body && purgeDraft()"
        comment="originalComment.draft"
        element-size="text.marginDiscussionSizes.draft"
        >
      </margin-discussion-draft>
    </div>
  </div>
</div>
