<div class="media ph-article-header">
  <div class="media-left">
    <h2 class="media-heading">
      <span class="fa-stack ph-icon">
        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
        <i class="fa fa-file-text-o fa-stack-1x"></i>
      </span>
    </h2>
  </div>
  <div class="media-body ph-">
    <h2 class="media-heading">
      <!-- TODO use route segment here -->
      <a href="#/articles/{{article._id}}">
        {{article.title}}
      </a><br>
    </h2>
    <h4>
      <span ng-repeat="author in article.authors">
        <!-- TODO use route segment here -->
        <a href="#/users/{{author.userName}}">
          {{author.displayName}}</a>{{$last ? '' :', '}}
      </span>
    </h4>
    <p class="text-muted">
      uploaded by
      <a href="#/users/{{article.owner.accountName}}">
        {{article.owner.displayName}}
      </a>
    </p>
  </div>
</div>
