<div class="media">
  <div class="media-left">
    <h3 class="media-heading"><i class="fa fa-file-text-o fa-fw"></i></h3>
  </div>
  <div class="media-body">
    <h3 class="media-heading">
      <!-- TODO use route segment here -->
      <a href="#/articles/{{article._id}}">
        {{article.title}}
      </a><br>
      <small>
        <span ng-repeat="author in article.authors">
          <!-- TODO use route segment here -->
          <a href="#/users/{{author.userName}}">
            {{author.displayName}}
          </a>
          {{$last ? '' :', '}}
        </span>
      </small>
    </h3>
    uploaded by
    <a href="#/users/{{article.owner.accountName}}">
      {{article.owner.displayName}}
    </a>
  </div>
</div>
