<div class="media">
  <div class="media-left">
    <span class="fa-stack ph-icon">
      <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
      <i class="fa fa-file-text-o fa-stack-1x"></i>
    </span>
  </div>
  <div class="media-body">
    <h2 class="media-heading">
      <a href="#/articles/{{article._id}}">{{article.title}}</a>
    </h2>
    <h4>
      <span ng-repeat="author in article.authors">
        {{author}}{{$last ? '' :', '}}
      </span>
    </h4>
    <p class="text-muted">
      <i class="fa fa-fw fa-clock-o"></i> published on
      {{article.publishedAt | date:'longDate'}}
    </p>
    <p class="text-muted">
      <i class="fa fa-fw fa-cloud-download"></i> imported by
      <a href="#/users/{{article.importedBy.username}}">
        {{article.importedBy.displayName}}
      </a>
      from
      <a href="{{article.source.url}}">
        {{article.source.name}}
      </a>
      on {{article.createdAt | date:'longDate'}}
    </p>
  </div>
</div>
