<div ng-controller="ArticleCtrl">
  <div class="ph-header ph-xl-margin-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- title -->
          <div class="ph-lg-padding-top ph-lg-padding-bottom
              ph-md-padding-left ph-md-padding-right">
            <ng-include src="'templates/article/header.html'"></ng-include>
          </div>
        </div>
      </div>
    </div>
    <div class="ph-header-submenu-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <ul class="nav nav-tabs ph-header-submenu pull-left">
              <li ng-class="{active:$routeSegment.name === 'article.text'}">
                <a href="#{{'article.text' | routeSegmentUrl}}">
                  <i class="fa fa-fw fa-file-pdf-o"></i> Text view
                </a>
              </li>
              <li ng-class="{active:$routeSegment.chain[1].name === 'comments'}">
                <a href="#{{'article.comments' | routeSegmentUrl}}">
                  <i class="fa fa-fw fa-comments"></i> Comments view
                </a>
              </li>
              <li ng-class="{active:$routeSegment.chain[1].name === 'activity'}">
                <a href="#{{'article.activity' | routeSegmentUrl}}">
                  <i class="fa fa-fw fa-clock-o"></i> Activity
                </a>
              </li>
              <li ng-class="{active:$routeSegment.name === 'article.settings'}">
                <a href="#{{'article.settings' | routeSegmentUrl}}">
                  <i class="fa fa-fw fa-wrench"></i> Article settings
                </a>
              </li>
            </ul>
            <a href="#{{'article.comments.new' | routeSegmentUrl}}"
                class="btn btn-primary pull-right" ng-disabled="!auth.user">
              <i class="fa fa-fw fa-plus"></i> Add general comment
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ph-header -->
  <div class="container">
    <!--ng-include src="'templates/article/controlbar.html'"></ng-include-->
    <div app-view-segment="1"></div>
  </div>
</div>
