.navbar {
  .box-shadow(0 0 5px, 30%);
  .border-top(4px, solid, @ph-highlight-color);
  padding: @navbar-default-padding;
}
.nav.navbar-nav.navbar-right {
  margin: 8px 0;  
}

.navbar-nav > li > a {
  padding: @nav-link-padding;
}

/* FOOTER */
footer {
  background-color: @gray;
  color: @body-bg;
  padding: @padding-large-horizontal;
  .border-bottom(4px, solid, @ph-highlight-color);
}