<div ng-show="!auth.user && !auth.inProgress" class="text-center">
  <h2>Not signed in!</h2>
  <a href="{{auth.orcidUrl}}" target="_self" class="btn btn-primary"
      role="button">
    <i class="fa fa-fw fa-sign-in"></i> Sign in with your ORCID iD
  </a>
</div>
<div ng-show="!auth.user && auth.inProgress" class="text-center row">
  <h2>Signing in...</h2>
  <div class="col-md-4 col-md-offset-4">
    <uib-progressbar class="progress-striped active" value="100">
    </uib-progressbar>
  </div>
</div>
