
@ph-base-color: rgba(159,198,226,1);
/* @ph-base-color: rgba(159,198,226,1);*/
@ph-highlight-color: rgba(54,63,93,1);
@ph-background-color: rgba(233,233,233,1);
@ph-white: rgba(255, 255, 255, 1);

@ph-nav-distance: 75px;




/* Custom Less Functions */
@import "main/customLessFunctions.less";
/* ********************* */


/* Bootstrap Custom Variables */
@import "main/customBootstrap.less";
/* ************************** */


/* Paper Hub Custom Styles */
@import "main/paperHubStyles.less";
/* *********************** */
