<div class="container ph-xl-margin-bottom">
  <h1>Import or update a document</h1>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <div class="alert alert-info">
        Documents are imported automatically to PaperHive, so you usually don't
        need to take manual action. If a document is missing or outdated, you
        can trigger a manual import or update here.
      </div>
    </div>
  </div>
  <form name="documentNewForm" role="form" class="form-horizontal" novalidate>
    <div class="form-group">
      <label class="col-md-3 control-label">Type</label>
      <div class="col-md-6">
        <select class="form-control" ng-model="$ctrl.type">
          <option value="url">URL (arXiv.org, doi.org, oapen.org)</option>
          <option value="doi">DOI (ScienceDirect)</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label">Identifier</label>
      <div class="col-md-6">
        <input type="text" class="form-control"
          ng-model="$ctrl.id"
          ng-disabled="$ctrl.submitting"
          required
        >
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-6">
        <button type="button" name="id" class="btn btn-primary"
          ng-disabled="!documentNewForm.$valid || $ctrl.submitting"
          ng-click="$ctrl.submit($ctrl.type, $ctrl.id)"
        >
          <i class="fa fa-fw fa-plus" ng-show="!$ctrl.submitting"></i>
          <i class="fa fa-fw fa-spinner fa-spin" ng-show="$ctrl.submitting"></i>
          Import or update
        </button>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-6">
        <div class="alert alert-danger" ng-if="$ctrl.error">
          <strong>Error:</strong> {{$ctrl.error}}
        </div>
      </div>
    </div>
  </form>
</div>
