<div class="row ph-md-margin-bottom">
  <div class="col-md-12">
    <a href="#{{'article.comments.new' | routeSegmentUrl}}"
      class="btn btn-primary pull-right" ng-disabled="!auth.user">
      <i class="fa fa-fw fa-plus"></i> Add general comment
    </a>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row" ng-if="article.file.url">
  <div highlight-container class="col-md-9">
    <pdf
      url="article.file.url"
      text-overlay="true"
      on-loaded="onPdfLoaded()"
      on-text-select="$target && (annotations.draft.target = $target)"
      highlight-root
      ></pdf>
    <div class="ph-highlight-layer">
      <div
        highlight-target="annotations.draft.target"
        highlight-info="annotations.highlightInfos[annotations.draft._id]"></div>
      <div ng-repeat="annotation in annotations.stored"
        highlight-target="annotation.target"
        highlight-info="annotations.highlightInfos[annotation._id]"></div>
    </div>
  </div>
  <!--column for margin notes-->
  <div id="annotation-column" class="col-md-3">
    <inline-annotation
      ng-repeat="annotation in annotations.stored"
      ng-if="annotations.highlightInfos[annotation._id].top"
      ng-style="{'top': annotations.highlightInfos[annotation._id].top + 'px'}"
      annotation="annotation"
      class="ph-annotation"
      >
    </inline-annotation>
    <!-- Don't use ng-if here to keep the element in the DOM tree.
    This makes sure that the entered text is preserved.
    -->
    <div
      class="ph-annotation"
      ng-if="annotations.highlightInfos[annotations.draft._id].top"
      ng-style="{'top': annotations.highlightInfos[annotations.draft._id].top + 'px'}"
      >
      <inline-annotation-draft
        ng-if="auth.user"
        on-save="annotations.stored.push($annotation) && purgeDraft()"
        on-outside-mousedown="!annotations.draft.body && purgeDraft()"
        annotation="annotations.draft"
        >
      </inline-annotation-draft>
      <ng-include
        ng-if="!auth.user"
        src="'templates/article/text/inline-annotation-substitute.html'"
        >
      </ng-include>
    </div>
  </div>
</div>
