<div class="row" ng-controller="MarginNoteCtrl">
  <!--actual text-->
  <pdf
  url="{{article.url}}"
  offset-px=offsetPx
  class="col-md-11"
  style="padding-left:0px; padding-right:0px;"
  ></pdf>
  <!--column for margin notes-->
  <div
    id="annotation-column"
    class="col-md-1"
    style="padding-left:0px"
    >
    <!-- Don't use ng-if here to keep the element in the DOM tree.
    This makes sure that the entered text is preserved.
    -->
    <ng-include
    ng-if="auth.user"
    ng-show="offsetPx !== undefined"
    src="'templates/article/text/inline-annotation.html'"
    ></ng-include>
    <ng-include
    ng-if="!auth.user"
    ng-show="offsetPx !== undefined"
    src="'templates/article/text/inline-annotation-substitute.html'"
    ></ng-include>
  </div>
</div>
