<div class="row ph-md-margin-bottom">
  <div class="col-md-12">
    <a href="#{{'article.comments.new' | routeSegmentUrl}}"
      class="btn btn-primary pull-right" ng-disabled="!auth.user">
      <i class="fa fa-fw fa-plus"></i> Add general comment
    </a>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row" ng-if="article.file.url">
  <pdf
    url="article.file.url"
    text-overlay="true"
    on-loaded="onPdfLoaded()"
    on-select="onSelect($selection)"
    highlight-annotations="annotations.stored.concat([annotations.draft])"
    highlight-offsets="annotations.offsets"
    class="col-md-9"
    ></pdf>
  <!--column for margin notes-->
  <div id="annotation-column" class="col-md-3">
    <inline-annotation
      ng-repeat="annotation in annotations.stored"
      ng-if="annotations.offsets[annotation._id].y"
      ng-style="{'top': annotations.offsets[annotation._id].y + 'px'}"
      annotation="annotation"
      class="ph-annotation"
      >
    </inline-annotation>
    <!-- Don't use ng-if here to keep the element in the DOM tree.
    This makes sure that the entered text is preserved.
    -->
    <div
      class="ph-annotation"
      ng-if="annotations.offsets[annotations.draft._id].y"
      ng-style="{'top': annotations.offsets[annotations.draft._id].y + 'px'}"
      >
      <create-inline-annotation
        ng-if="auth.user"
        on-save="annotations.stored.push($annotation) && purgeDraft"
        on-outside-mousedown="!annotations.draft.body && purgeDraft"
        annotation="annotations.draft"
        >
      </create-inline-annotation>
      <ng-include
        ng-if="!auth.user"
        src="'templates/article/text/inline-annotation-substitute.html'"
        >
      </ng-include>
    </div>
  </div>
</div>
