<div
  class="panel panel-default ph-inline-annotation"
  ng-style="
  {
  'top': offsetPx,
  'position': 'relative',
  'border': '1px solid LightGray',
  'width': '100%+200px',
  'margin-left': '-200px',
  'background': 'white'
  }
  "
  >
  <div class="panel-heading">
    <img
    src="https://secure.gravatar.com/avatar/{{auth.user.gravatarMd5}}?s=30"
    class="ph-avatar"
    alt="{{auth.user.displayName}} avatar"
    >
    {{auth.user.displayName}}
    <span class="pull-right">
      <a href="#">
        <i class="fa fa-globe"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <form
      name="annotationForm"
      ng-submit="annotationForm.$valid && addAnnotation()"
      novalidate
      >
      <textarea
        id="textbody"
        ng-model='annotation.body'
        class="form-group form-control ph-annotation-body"
        rows="2"
        ng-focus="phHighlightSelection()"
        ng-blur="phUnhighlightSelection()"
        required
        ></textarea>
      <span class="pull-right">
        <button
          class="btn btn-sm btn-primary"
          ng-disabled="annotationForm.$invalid"
          >
          Comment
        </button>
      </span>
    </form>
  </div>
</div>
