<div
  class="panel panel-default ph-inline-annotation"
  ng-style="
  {
  'top': offsetPx,
  'position': 'relative',
  'border': '1px solid LightGray',
  'width': '100%+200px',
  'margin-left': '-200px',
  'background': 'white'
  }
  "
  >
  <div class="panel-heading">
    <img
    src="https://secure.gravatar.com/avatar/{{author.gravatarMd5}}?s=30"
    class="ph-avatar"
    alt="{{author.displayName}} avatar"
    >
    {{author.displayName}}
  </div>
  <div class="panel-body">
    <div ng-if='title !== undefined'>
      {{title}}
    </div>
    <div ng-if='title === undefined'>
      {{body}}
    </div>
  </div>
</div>
