<div
  class="panel panel-default ph-inline-annotation"
  ng-style="
  {
  'top': verticalOffset,
  'position': 'relative'
  }
  "
  >
  <div class="panel-heading">
    <img
      gravatar-user="auth.user"
      gravatar-size="30"
      >
    {{author.displayName}}
    <span class="pull-right">
      <a href="#">
        <i class="fa fa-globe"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <div ng-if='title !== undefined'>
      {{title}}
    </div>
    <div ng-if='title === undefined'>
      {{body}}
    </div>
  </div>
</div>
