<!-- Header Start -->
<div class="ph-header ph-xl-margin-bottom">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <div class="media">

          <div class="media-left">
            <!--icon-->
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-users fa-stack-1x"></i>
            </span>
          </div>

          <div class="media-body ph-vertical-middle">
            <!--heading-->
            <h2 class="media-heading ph-no-margin">Our Team</h2>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- Header End -->

<!-- Content Start -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 ph-lg-margin-bottom">
      <h3>Developement</h3>
    </div>

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/dev/static/img/nico.jpg" alt="" />
        </div>
        <div class="col-xs-8">
          <h4>Nico Schlömer</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.</p>
          <p>
            <a class="btn btn-primary" href="https://github.com/nschloe" title="Nico Schlömer on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-primary" href="https://twitter.com/nschloe" title="Nico Schlömer on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto: nico-schlömer@paperhive.org" title="Write a mail to Nico Schlömer">
              <i class="fa fa-envelope"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/dev/static/img/andre.jpg" alt="" />
        </div>
        <div class="col-xs-8">
          <h4>André Gaul</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.</p>
          <p>
            <a class="btn btn-primary" href="https://github.com/andrenarchy" title="André Gaul on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-primary" href="https://twitter.com/andrenarchy" title="André Gaul on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto: andre-gaul@paperhive.org" title="Write a mail to André Gaul">
              <i class="fa fa-envelope"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <div class="col-sm-12 ph-lg-margin-bottom">
      <h3>Frontend developement</h3>
    </div>

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/dev/static/img/daniel.jpg" alt="" />
        </div>
        <div class="col-xs-8">
          <h4>Daniel Pfisterer</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium.</p>
          <p>
            <a class="btn btn-primary" href="https://github.com/pure180" title="Daniel Pfisterer on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-primary" href="https://twitter.com/colorit_maler" title="Daniel Pfisterer on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto: daniel-pfisterer@paperhive.org" title="Write a mail to Daniel Pfisterer">
              <i class="fa fa-envelope"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->


  </div>
</div>
<!-- Content End -->
