<!-- Header Start -->
<div class="ph-header ph-xl-margin-bottom">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <div class="media">

          <div class="media-left">
            <!--icon-->
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-users fa-stack-1x"></i>
            </span>
          </div>

          <div class="media-body ph-vertical-middle">
            <!--heading-->
            <h2 class="media-heading ph-no-margin">Our Team</h2>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- Header End -->

<!-- Content Start -->
<div class="container">
  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/static/img/andre.jpg" alt="André Gaul" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top">
            Dr. André Gaul
            <small class="ph-newline">Co-founder, full-stack developer</small>
          </h3>
          <p>
            Mathematician, computer scientist, not too bad at baking pizza.
            Finished his
            <a href="http://andre.gaul.io/2014/10/08/phdthesis-krypy/">
              math PhD
            </a> in 2014 after studying in Bonn, Erlangen, and Berlin.
            Loves free software, cycling, foosball.
            <a href="http://berlin.freifunk.net/">Freifunk</a> activist.
          </p>
          <p>
            <a class="btn btn-primary" href="https://github.com/andrenarchy" title="André Gaul on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-primary" href="https://twitter.com/andrenarchy" title="André Gaul on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:andre@paperhive.org" title="Write a mail to André Gaul">
              <i class="fa fa-envelope"></i>
            </a>
            <a class="btn btn-primary" href="http://andre.gaul.io/" title="André Gaul's blog">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/static/img/nico.jpg" alt="Nico Schlömer" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top">
            Dr. Nico Schlömer
            <small class="ph-newline">Co-founder, full-stack developer</small>
          </h3>
          <p>
            Numerical analyst, software enthusiast, terrible singer. Likes
            <a href="https://youtu.be/dLA76V-e2TM">table tennis</a>,
            <a href="https://youtu.be/iegHKUKiVxQ">cheesy 80s music</a>, and
            <a href="https://www.python.org/">Python</a>. Studied mathematics
            in Dresden, Auckland, Antwerp, Penn State.
          </p>
          <p>
            <a class="btn btn-primary" href="https://github.com/nschloe" title="Nico Schlömer on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-primary" href="https://twitter.com/nschloe" title="Nico Schlömer on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:nico@paperhive.org" title="Write a mail to Nico Schlömer">
              <i class="fa fa-envelope"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>

  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/static/img/corny.jpg" alt="Cornelius Wachinger" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top">
            Cornelius Wachinger
            <small class="ph-newline">Sysadmin</small>
          </h3>
          <p>
            Systems engineer at
            <a href="https://www.netways.de/ueber_netways/team/cornelius_wachinger/">
              netways</a>,
            musician, photographer, quite good at baking bread. Loves cycling,
            tinkering with electronics, hummus, all things free and open
            source. Studied computational linguistics in Erlangen.
          </p>
          <p>
            <a class="btn btn-primary" href="http://www.dercorn.com/blog/" title="Cornelius Wachinger's blog">
              <i class="fa fa-home"></i>
            </a>
            <a class="btn btn-primary" href="https://twitter.com/dercorn" title="Cornelius Wachinger on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/static/img/daniel.jpg" alt="Daniel Pfisterer" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top">
            Daniel Pfisterer
            <small class="ph-newline">Frontend developer, CSS wizard</small>
          </h3>
          <p>
            Web designer, professional painter. Loves graffiti.
            Studied web technology autodidactically, mostly on google.com.
            Likes gaming, tech, and prank videos. Always on the run.
          </p>
          <p>
            <a class="btn btn-primary" href="https://github.com/pure180" title="Daniel Pfisterer on Github">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-primary" href="https://twitter.com/colorit_maler" title="Daniel Pfisterer on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-primary" href="mailto:info@daniel-pfisterer.de" title="Write a mail to Daniel Pfisterer">
              <i class="fa fa-envelope"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>

  <div class="row">

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/static/img/evelyn.jpg" alt="Evelyn Schubert" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top">
            Evelyn Schubert
            <small class="ph-newline">Designer</small>
          </h3>
          <p>
            Designer, illustrator, photographer. Studied design at the UdK
            Berlin, art in Venice, and philosophy at the FU Berlin. Loves
            rockets and space, music, nature, books, and brains.
          </p>
          <p>
            <a class="btn btn-primary" href="http://evelynschubert.com/" title="Evelyn Schubert's website">
              <i class="fa fa-home"></i>
            </a>
            <a class="btn btn-primary" href="https://twitter.com/eyelyn" title="Evelyn Schubert on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

    <!-- Team-Item Start -->
    <div class="col-sm-6 ph-team ph-lg-margin-bottom">
      <div class="row">
        <div class="col-xs-4">
          <img class="img-circle img-responsive" src="https://paperhive.org/dev/static/img/robert.jpg" alt="Robert Luce" />
        </div>
        <div class="col-xs-8">
          <h3 class="ph-no-margin-top">
            Dr. Robert Luce
            <small class="ph-newline">Problem solver</small>
          </h3>
          <p>
            Mathematician and algorithm wizard. After stations in Nantes, Paris,
            and Incline Village, NV, he now is postdoctoral researcher at TU
            Berlin. Likes music, coding, and discovering new things. Robert
            solves problems.
          </p>
          <p>
            <a class="btn btn-primary" href="https://www.math.tu-berlin.de/fachgebiete_ag_modnumdiff/fg_numerische_lineare_algebra/v-menue/numerische_lineare_algebra/robert_luce/home/" title="Robert Luce's website">
              <i class="fa fa-home"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
    <!-- Team-Item End -->

  </div>
</div>
<!-- Content End -->
