<div class="container">
  <div class="row">
    <div class="col-md-4 ph-copyright ph-md-margin-bottom">
      &copy; 2014&ndash;2015<br>André Gaul, Alexander Naydenov, Nico Schlömer
    </div>
    <div class="col-md-4 ph-md-margin-bottom">
      <ul class="fa-ul ph-ul-md-spacing">
        <li>
          <a href="./about" class="ph-link-icon">
            <i class="fa fa-li fa-users"></i> About us
          </a>
        </li>
        <li>
          <a href="./contact" class="ph-link-icon">
            <i class="fa fa-li fa-envelope"></i> Contact
          </a>
        </li>
        <li>
          <a href="./legalnotice" class="ph-link-icon">
            <i class="fa fa-li fa-legal"></i> Legal notice
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <p class="ph-sm-margin-bottom ph-copyright">
        PaperHive is supported by
      </p>
      <div class="row">
        <div class="col-xs-8">
          <a href="http://www.entrepreneurship.tu-berlin.de/">
            <img src="./static/img/tub_cfe_logo.svg"
                alt="Centre for Entrepreneurship" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
