<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="#" title="help">Help</a>
  </li>
  <li ng-show="!auth.user && !auth.inProgress">
    <a href="{{auth.orcidUrl}}" class="btn btn-default" title="Sign in with your ORCID iD">
      <i class="fa fa-fw fa-sign-in"></i> Sign in
    </a>
  </li>
  <li ng-show="!auth.user && auth.inProgress">
    <progressbar class="progress-striped active ph-no-margin" value="100">
      <span class="ph-padding-left ph-padding-right">Signing in...</span>
    </progressbar>
  </li>
  <li ng-show="auth.user" class="dropdown" is-open="dropdown_open" dropdown>
    <a href="" class="dropdown-toggle" dropdown-toggle>
      <img src="https://secure.gravatar.com/avatar/{{auth.user.gravatarMd5}}?s=30"
        class="ph-avatar" alt="{{auth.user.displayName}} avatar">
      {{auth.user.displayName}}
      <i class="fa fa-fw fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#/users/{{auth.user._id}}">
          <i class="fa fa-fw fa-user"></i> Profile
        </a>
      </li>
      <li>
        <a href="#/settings">
          <i class="fa fa-fw fa-cog"></i> Settings
        </a>
      </li>
      <li>
        <a href ng-click="auth.signout()">
          <i class="fa fa-fw fa-sign-out"></i> Sign out
        </a>
      </li>
    </ul>
  </li>
</ul>
