<div class="container ph-xl-margin-bottom">
  <div class="row ph-equal-height">
    <div class="col-md-3">
      <div class="ph-affix" affix affix-offset-top="$root.navbarSize.height">
        <!-- sections -->
        <ul ng-if="$ctrl.toc.length" class="nav ph-sidenav">
          <li ng-repeat="section in $ctrl.toc"
              ng-class="{active: section.active}">
            <a href="#{{section.id}}">{{section.text}}</a>
            <!-- subsections -->
            <ul ng-if="section.subToc" class="nav ph-sidenav-sub">
              <li ng-repeat="subsection in section.subToc"
                  ng-class="{active: subsection.active}">
                <a href="#{{subsection.id}}">
                  {{subsection.text}}
                  <i class="fa fa-chevron-right fa-fw"></i>
                </a>
              </li>
            </ul><!-- /subsections -->
          </li>
        </ul><!-- /sections -->
      </div>
    </div>

    <div class="col-md-9" toc="$ctrl.toc" toc-scrollspy-offset="$root.navbarSize.height + 100">
      <h2 id="markdown">Markdown cheat sheet</h2>
      <p>
        PaperHive allows you to use <a href="http://daringfireball.net/projects/markdown/">Markdown</a> syntax any place in the user interface
        where you can enter a comment. You can link to external websites, insert images,
        use $$LaTeX$$ and ```code blocks```.
      </p>

      <h3 class="ph-heading-light" toc-level="1" id="text">Text</h3>

      <h4 class="ph-heading-light" toc-level="2" id="paragraph">Paragraph</h4>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.paragraph"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.paragraph"></kramjax>
        </div>
      </div>

      <h4 class="ph-heading-light" toc-level="2" id="fontStyle">Font style</h4>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.fontStyle"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.fontStyle"></kramjax>
        </div>
      </div>

      <h4 class="ph-heading-light" toc-level="2" id="link">Link</h4>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.link"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.link"></kramjax>
        </div>
      </div>

      <h3 class="ph-heading-light" toc-level="1" id="structure">Structure</h3>

      <h4 class="ph-heading-light" toc-level="2" id="headers">Headers</h4>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.headers"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.headers"></kramjax>
        </div>
      </div>

      <h4 class="ph-heading-light" toc-level="2" id="lists">Lists</h4>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.lists"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.lists"></kramjax>
        </div>
      </div>

      <h4 class="ph-heading-light" toc-level="2" id="separator">Separator</h4>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.separator"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.separator"></kramjax>
        </div>
      </div>

      <h4 class="ph-heading-light" toc-level="2" id="quote">Quote</h4>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.quote"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.quote"></kramjax>
        </div>
      </div>

      <h3 class="ph-heading-light" toc-level="1" id="images">Images</h3>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.image"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.image"></kramjax>
        </div>
      </div>

      <h3 class="ph-heading-light" toc-level="1" id="code">Code</h3>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.code"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.code"></kramjax>
        </div>
      </div>

      <h3 class="ph-heading-light" toc-level="1" id="formulas">Formulas</h3>
      <div class="row ph-lg-margin-bottom">
        <div class="col-md-6">
          <textarea
            class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
            elastic
            style="width: 100%;"
            ng-model="$ctrl.formulas"
          ></textarea>
        </div>
        <div class="col-md-6">
          <kramjax body="$ctrl.formulas"></kramjax>
        </div>
      </div>

      <h3 class="ph-heading-light">More elements can be found here:
        <a href="http://kramdown.gettalong.org/syntax.html">kramdown Syntax</a>
      </h3>
    </div>
  </div>
</div>
