<div ng-style="{'margin-top': -navbarSize.height}"
    class="ph-bg-full ph-bg-full-fiber ph-bg-full-dark ph-attribution-container ph-undo-navbar-padding">
  <div class="ph-intro-content ph-bg-overlay" viewport-height>
    <div class="container text-center">
      <div class="jumbotron text-center">
        <h1>PaperHive, the coworking hub for researchers.</h1>
        <h2>
          Simplifying research communication and introducing
          new ways of collaboration through in-document discussions.
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="ph-lg-margin-bottom text-center">
            Sign up and be the first to get notified when we launch!
          </h4>
          <div class="panel panel-default ph-intro-panel ph-lg-margin-bottom">
            <div class="panel-body">
              <form novalidate name="subscribeForm" ng-controller="SubscribeCtrl">
                <div class="form-group has-feedback" ng-class="{
                        'has-error': hasError('email'),
                        'has-success': subscribeForm.email.$valid
                      }">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email"
                    ng-model="email"
                    placeholder="you@example.com"
                    required pattern=".*@.+\..+" ng-disabled="subscribing || subscribed">
                  <span class="fa form-control-feedback" ng-class="{
                        'fa-times': hasError('email'),
                        'fa-check': subscribeForm.email.$valid
                      }"></span>
                  <div class="help-block">
                    <span ng-if="hasError('email')">
                      <span ng-if="subscribeForm.email.$error.required">
                        Please enter your email address.
                      </span>
                      <span ng-if="subscribeForm.email.$error.email || subscribeForm.email.$error.pattern">
                        The email address you provided is not valid.
                      </span>
                    </span>
                    <span ng-if="subscribed">
                      <i class="fa fa-fw fa-check"></i>
                      Check your emails to confirm your subscription.
                    </span>
                    <span ng-if="error" class="text-danger">
                      <i class="fa fa-fw fa-times"></i>
                      {{error}}
                    </span>
                    &nbsp;
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block"
                    ng-click="!subscribing && !subscribed && !subscribeForm.$invalid && submit()"
                    ng-class="{disabled: subscribeForm.$invalid || subscribing || subscribed}"
                    >
                  <i ng-if="!subscribing" class="fa fa-fw fa-envelope"></i>
                  <i ng-if="subscribing" class="fa fa-fw fa-spinner fa-spin"></i>
                  Subscribe to launch updates
                </button>
              </form>
            </div>
          </div>
          <p class="text-center">
            <a href="https://twitter.com/paperhive">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>
            </a>
          </p>
        </div>
        <div class="col-md-6">
          <div class="row ph-lg-margin-bottom">
            <div class="col-md-12 text-center">
              <h4 class="ph-lg-margin-bottom">Get the browser extension!</h4>
              <div class="panel panel-default ph-intro-panel ph-lg-margin-bottom">
                <div class="panel-body">
                  <a class="btn btn-primary"
                     onclick="chrome.webstore.install();"
                     >
                    <img
                      alt="Chrome logo"
                      width="30px"
                      src="./static/img/chrome.svg"
                      >
                    Add to Chrome
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ph-intro-arrow ph-intro-arrow-bottom ph-intro-arrow-bright">
      <a href="#" scroll-to="description" duration="1000">
        <i class="fa fa-chevron-circle-down"></i>
      </a>
    </div>
  </div>
  <attribution
    work-name="Fiber Optics"
    attribution-name="blizzy78"
    attribution-url="https://www.flickr.com/photos/blizzy/14513340140/"
    license-name="CC-BY 2.0"
    license-url="http://creativecommons.org/licenses/by/2.0/"
    >
  </attribution>
</div>

<div class="ph-intro-content ph-bg-hexagons" id="description" viewport-height>
  <div class="container ph-home">
    <div class="row">
      <div class="col-md-4 panel ph-teaser">
        <div class="">
          <div class="panel-heading text-center">
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-comments-o fa-stack-1x"></i>
            </span>
          </div>
          <div class="panel-body text-center">
            <h3 class="ph-no-margin-top">Discuss and connect</h3>
            <p>
              Share your expert opinion with other researchers in real time.
              Increase the visibility of your work by adding helpful references
              on PaperHive. Get into contact with future collaborators.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 panel ph-teaser">
        <div class="">
          <div class="panel-heading text-center">
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-lightbulb-o fa-stack-1x"></i>
            </span>
          </div>
          <div class="panel-body text-center">
            <h3 class="ph-no-margin-top">Learn and help out</h3>
            <p>
              Unclear parts in documents essential for your  work? Have your
              questions answered quickly by other researchers. Need orientation
              for a paper? Save time by checking it on PaperHive.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 panel ph-teaser">
        <div class="">
          <div class="panel-heading text-center">
            <span class="fa-stack ph-icon">
              <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
              <i class="fa fa-paperclip fa-stack-1x"></i>
            </span>
          </div>
          <div class="panel-body text-center">
            <h3 class="ph-no-margin-top">Annotate and discover</h3>
            <p>
              Discussions often refer to a specific section of an document. Add
              your comments right where they belong. Get inspired by the
              contributions of others.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
