<div class="ph-intro ph-lg-margin-bottom">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-offset-6 col-md-6 col-xs-offset-3 col-xs-9">
          <div class="ph-md-padding-left ph-md-padding-right">
            <h1>Welcome to PaperHive</h1>
            <p>Test Text</p>
            <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container ph-home">
  <div class="row">
    <div class="col-md-12">
      <h2>
        This is PaperHive
        <small>Ain't gonna be awesome!</small>
      </h2>
    </div>
    <div class="col-sm-4 panel ph-teaser">
      <div class="">
        <div class="panel-heading text-center">
          <span class="fa-stack ph-icon">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-lightbulb-o fa-stack-1x"></i>
          </span>
        </div>
        <div class="panel-body text-center">
          <h3 class="ph-no-margin-top">Work!</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 panel ph-teaser">
      <div class="">
        <div class="panel-heading text-center">
          <span class="fa-stack ph-icon">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-glass fa-stack-1x"></i>
          </span>
        </div>
        <div class="panel-body text-center">
          <h3 class="ph-no-margin-top">Party!</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 panel ph-teaser">
      <div class="">
        <div class="panel-heading text-center">
          <span class="fa-stack ph-icon">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-leanpub fa-stack-1x"></i>
          </span>
        </div>
        <div class="panel-body text-center">
          <h3 class="ph-no-margin-top">Paperz!</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2>
        About PaperHive
        <small>PaperHive does all the nasty publishing for you!</small>
      </h2>
    </div>
    <div class="col-sm-6 ph-lg-margin-bottom">
      <h3>Subtitle</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      <a href="" class="btn btn-primary pull-right">Get started</a>
      <div class="clearfix"></div>

    </div>
    <div class="col-sm-6 ph-lg-margin-bottom">
      <h3>Subtitle</h3>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      <a href="" class="btn btn-primary pull-right">Get started</a>
      <div class="clearfix"></div>
    </div>
  </div>


  <div class="row ph-lg-margin-bottom">
    <div class="col-md-12">
      <h2 class="ph-sm-margin-bottom">
        About PaperHive
        <small>PaperHive does all the nasty publishing for you!</small>
      </h2>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default ph-no-border ph-highlight-border-bottom">
        <div class="panel-body">
          <img src="https://paperhive.org/dev/static/typewriter.jpg" class="img-responsive" alt="">
          <h3>Testheader</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>
          <a href="" class="btn btn-primary pull-right" title="">
            <span class="glyphicon glyphicon-search"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default ph-no-border ph-highlight-border-bottom">
        <div class="panel-body">
          <img src="https://paperhive.org/dev/static/typewriter.jpg" class="img-responsive" alt="">
          <h3>Testheader</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>
          <a href="" class="btn btn-primary pull-right" title="">
            <span class="glyphicon glyphicon-search"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default ph-no-border ph-highlight-border-bottom">
        <div class="panel-body">
          <img src="https://paperhive.org/dev/static/typewriter.jpg" class="img-responsive" alt="">
          <h3>Testheader</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>
          <a href="" class="btn btn-primary pull-right" title="">
            <span class="glyphicon glyphicon-search"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default ph-no-border ph-highlight-border-bottom">
        <div class="panel-body">
          <img src="https://paperhive.org/dev/static/typewriter.jpg" class="img-responsive" alt="">
          <h3>Testheader</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et.</p>
          <a href="" class="btn btn-primary pull-right" title="">
            <span class="glyphicon glyphicon-search"></span>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="row ph-lg-margin-bottom">
    <div class="col-md-12">
      <h2 class="ph-sm-margin-bottom">
        Opinions
        <small>What users say about PaperHive</small>
      </h2>
      <carousel class="ph-carousel-home" interval="myInterval">
        <slide>
          <div class="text-left">
            <img
              src="https://paperhive.org/dev/static/typewriter.jpg"
              class="img-circle pull-left ph-md-margin-right ph-carousel-image"
              alt=""
              >
            <h3>Super, easy, fast!</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et.</p>
            <div class="clearfix"></div>
          </div>
        </slide>
        <slide>
          <div class="text-left">
            <img
              src="https://paperhive.org/dev/static/typewriter.jpg"
              class="img-circle pull-left ph-md-margin-right ph-carousel-image"
              alt=""
              >
            <h3>Super, easy, fast!</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing
            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
            natoque penatibus et.</p>
            <div class="clearfix"></div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
