<div class="ph-intro ph-lg-margin-bottom ph-attribution-container">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-offset-4 col-md-8 col-xs-offset-3 col-xs-9">
          <div class="ph-md-padding-left ph-md-padding-right">
            <h1>Papers, alive.</h1>
            <h2>
              Review, discuss, and improve articles – together and on the
              spot. Gain insight from the findings of others.
            </h2>
            <!--p><a class="btn btn-primary" href="#" role="button">Learn more</a></p-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <attribution
    work-name="Image"
    attribution-name="André Gaul"
    attribution-url="http://andre.gaul.io"
    license-name="CC-BY 4.0"
    license-url="http://creativecommons.org/licenses/by/4.0/"
    >
  </attribution>
</div>

<div class="container ph-home">
  <div class="row">
    <div class="col-md-12">
      <h2>
        This is PaperHive
        <small>Research on a new level</small>
      </h2>
    </div>
    <div class="col-sm-4 panel ph-teaser">
      <div class="">
        <div class="panel-heading text-center">
          <span class="fa-stack ph-icon">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-lightbulb-o fa-stack-1x"></i>
          </span>
        </div>
        <div class="panel-body text-center">
          <h3 class="ph-no-margin-top">Review and improve</h3>
          <p>
            While reading an article, you can share your opinion on-the-fly.
            Your improvements to a paper can make all the difference – better
            wording, formulas, figures, data, or code will help yourself and
            others. You found or wrote an article that helps to understand a
            difficult part? Add a reference on PaperHive.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 panel ph-teaser">
      <div class="">
        <div class="panel-heading text-center">
          <span class="fa-stack ph-icon">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-comments-o fa-stack-1x"></i>
          </span>
        </div>
        <div class="panel-body text-center">
          <h3 class="ph-no-margin-top">Discuss and learn</h3>
          <p>
            Is something unclear in an article? Ask a question and have it
            answered by experts. Discuss interesting points with others and
            clarify the complex bits. You think you've found a mistake? Post it
            on PaperHive and let others profit from your insight – just as you
            profit from the insight of others. Papers are understood better
            together.
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 panel ph-teaser">
      <div class="">
        <div class="panel-heading text-center">
          <span class="fa-stack ph-icon">
            <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
            <i class="fa fa-paperclip fa-stack-1x"></i>
          </span>
        </div>
        <div class="panel-body text-center">
          <h3 class="ph-no-margin-top">Annotations where you need them</h3>
          <p>
            Comments and discussions often refer to a specific section of an
            article. PaperHive lets you add your comments right where they
            belong. This way, you'll immediately find what you're looking for.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 ph-md-margin-bottom">
      <h2>See PaperHive in action </h2>
    </div>
    <div class="col-sm-6 ph-lg-margin-bottom">
      <video controls width="100%">
        <source src="https://paperhive.org/dev/static/movie.mp4" type="video/mp4" />
        <p>Your browser does not support HTML5 videos.</p>
      </video>
    </div>
    <div class="col-sm-6 ph-lg-margin-bottom">
      <h3>Main features</h3>
      <ul class="lead">
        <li>profit from the insight of others while reading</li>
        <li>share your knowledge</li>
        <li>discuss interesting parts of an article</li>
        <li>attach formatted text, mathematics, and code right where they belong</li>
      </ul>
      <!--div class="clearfix">
        <a href="" class="btn btn-primary pull-right">Get started</a>
      </div-->
    </div>
  </div>


  <div class="row ph-lg-margin-bottom">
    <div class="col-md-12">
      <h2 class="ph-sm-margin-bottom">
        About PaperHive
      </h2>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default ph-no-border ph-highlight-border-bottom">
        <div class="panel-body">
          <div class="ph-attribution-container">
            <img src="https://paperhive.org/dev/static/img/paperpile.jpg" class="img-responsive" alt="">
            <attribution
              work-name="folder"
              work-url="https://www.flickr.com/photos/14498569@N05/2434418686"
              attribution-name="Niklas Bildhauer"
              attribution-url="https://www.flickr.com/photos/14498569@N05"
              license-name="CC-BY-SA 2.0"
              license-url="http://creativecommons.org/licenses/by-sa/2.0/"
              >
            </attribution>
          </div>
          <h3>Everything in one place</h3>
          <p>
            "Is this your homework, Larry?"
            No more messing around with comments across your desk. All your
            annotations in one place, accessible from everywhere. With infinite
            space in the margin.
          </p>
          <!--div class="clearfix">
            <a href="" class="btn btn-primary pull-right" title="">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </div-->
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default ph-no-border ph-highlight-border-bottom">
        <div class="panel-body">
          <img src="https://paperhive.org/dev/static/typewriter.jpg" class="img-responsive" alt="">
          <h3>Comments with style</h3>
          <p>
            Use mathematics, source code, markup, and more to structure your
            annotations and discussions. No more need to squint your eyes:
            Everything is instantlyrendered in the browser. Beautiful!
          </p>
          <!--div class="clearfix">
            <a href="" class="btn btn-primary pull-right" title="">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </div-->
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default ph-no-border ph-highlight-border-bottom">
        <div class="panel-body">
          <img src="https://paperhive.org/dev/static/typewriter.jpg" class="img-responsive" alt="">
          <h3>Discussion threads</h3>
          <p>
            If a question spins off to be a larger discussion, margins might be
            a little tight for fitting all replies. A separate thread view
            gives you all the space you need. Cozy!
          </p>
          <!--div class="clearfix">
            <a href="" class="btn btn-primary pull-right" title="">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </div-->
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="panel panel-default ph-no-border ph-highlight-border-bottom">
        <div class="panel-body">
          <img src="https://paperhive.org/dev/static/typewriter.jpg" class="img-responsive" alt="">
          <h3>Open &amp; citable</h3>
          <p>
            All public annotations are under the
            <a href="https://creativecommons.org/licenses/by/4.0/"> CC-BY
              license</a>,
            meaning that they can be cited everywhere while giving proper
            credit to the author. Impact and attribution maximized!
          </p>
          <!--div class="clearfix">
            <a href="" class="btn btn-primary pull-right" title="">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </div-->
        </div>
      </div>
    </div>

  </div>

  <div class="row ph-lg-margin-bottom">
    <div class="col-md-12">
      <h2 class="ph-sm-margin-bottom">
        Opinions
        <small>What users say about PaperHive</small>
      </h2>
      <carousel class="ph-carousel-home" interval="myInterval">
        <slide>
          <div class="media text-left">
            <div class="media-left">
              <div class="ph-attribution-container">
                <img
                  src="https://paperhive.org/dev/static/img/fermat.jpg"
                  class="img-circle ph-md-margin-right ph-carousel-image"
                  alt="">
                <attribution
                  work-name="Image"
                  work-url="https://commons.wikimedia.org/wiki/File:Pierre_de_Fermat.jpg"
                  license-name="public domain"
                  license-url="https://en.wikipedia.org/wiki/Public_domain"
                  >
                </attribution>
              </div>
            </div>
            <div class="media-body">
              <h3 class="clearfix">
                "I have discovered a truly marvellous proof of this, which this
                margin is too narrow to contain."
                <small class="pull-right"> –
                  <a href="https://en.wikipedia.org/wiki/Fermat%27s_Last_Theorem#Fermat.27s_conjecture">
                    Pierre de Fermat
                  </a>
                </small>
              </h3>
              <p class="lead">
                I wish PaperHive had existed in my time. No problem fitting even
                <a href="https://en.wikipedia.org/wiki/Wiles%27_proof_of_Fermat%27s_Last_Theorem">the largest proof </a>
                in the margins; I'm sure that would have saved you lots of
                trouble.
              </p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="media text-left">
            <div class="media-left">
              <img
                src="https://paperhive.org/dev/static/img/fermat.jpg"
                class="img-circle ph-md-margin-right ph-carousel-image"
                alt="">
            </div>
            <div class="media-body">
              <h3 class="clearfix">
                "Are you aware that Einstein disproved this in 1923?"
                <small class="pull-right">
                  – random guy in the audience of one of your talks
                </small>
              </h3>
              <p>
                After months of research, I found out that the articles upon which
                I had based my assumptions are actually quite outdated. I added an
                appropriate comment at it on PaperHive so you don't make the same
                mistake. Godspeed!
              </p>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
