<div class="ph-intro">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 ph-lg-padding-left ph-lg-padding-right">
          <video controls width="100%">
            <source src="img/video/sample.mp4" type="video/mp4" />
            <p>Dieser Browser unterstützt HTML5 Video nicht</p>
          </video>
        </div>
        <div class="col-md-6">
          <h2>Welcome to PaperHub</h2>
          <p>Test Text</p>
          <p><a class="btn btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ph-teaser box">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-cog"></span>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      </div>

      <div class="col-md-4">
        <span class="glyphicon glyphicon-print"></span>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
      </div>
    </div>
  </div>
</div>
