<!-- Content Start -->
<div class="container">
  <h2>Get in touch</h2>
  <div class="row">

    <!-- Left Row -->
    <div class="col-md-6 ph-xl-margin-bottom">
      <h3 class="ph-heading-light">Connect with PaperHive</h3>
      <div class="row text-center">

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="mailto:info@paperhive.org" title="Write us."
              class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </span><br/>
            info@paperhive.org
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="https://twitter.com/paper_hive" title="Tweet us."
              class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span><br/>
            paper_hive
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="https://plus.google.com/u/0/b/114787682678537396870/114787682678537396870" title="Visit us at Google plus."
              class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span><br/>
            PaperHive
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="https://github.com/paperhive"
              title="Check out our code on GitHub."
              class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span><br/>
            PaperHive
          </a>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 ph-lg-margin-bottom ph-lg-margin-top">
          <a href="tel:+493031478924" title="Call us." class="ph-link-icon">
            <span class="fa-stack fa-3x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
            </span><br/>
            +49 30 31478924
          </a>
        </div>
      </div>
      <p>
        If you are looking for contact details of a PaperHive team member,
        check out the <a href="about">about PaperHive page</a>.
        Information about the website operators can be found in the
        <a href="legalnotice">legal notice</a>.
      </p>
    </div>

    <!-- Right Row -->
    <div class="col-md-6 col-xs-11 ph-xl-margin-bottom" ng-controller="ContactMapCtrl">
      <h3 class="ph-heading-light">PaperHive office</h3>
      <address class="sr-only">
        PaperHive,<br/>
        Room ACK390, Entrance H<br />
        Ackerstr. 76,<br />
        13355 Berlin,<br />
        Germany
      </address>
      <leaflet center="center" markers="markers" class="ph-contact-map"></leaflet>
    </div>

    <!-- Right Row -->
    <!--div class="col-md-8 ph-xl-margin-bottom">
      <h3 class="ph-sm-margin-bottom">Write us!</h3>
      <p>If you have a question, do not hesitate to write us a message. We are
      happy to take care of your request and we'll respond to it as soon as
      possible.</p>
      <p class="ph-lg-margin-bottom">To edit your concerns quickly, please fill
      out all the fields that are marked with a <b><span
          class="text-danger">*</span></b>.</p>
      <form class="form-horizontal ph-form-contact" >
        <div class="form-group">
          <label class="col-sm-2 control-label" for="name">Name <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input
               type="text"
               class="form-control"
               id="name"
               placeholder="Your full name"
               value="{{auth.user.displayName}}"
            >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="email">E-Mail <span class="text-danger">*</span></label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Your e-mail address (myname@example.net) "
              value="{{auth.user.email}}"
              >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="subject">Subject</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="subject" placeholder="What can we do for you?">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="message"></label>
          <div class="col-sm-10">
            <textarea class="form-control" id="message" rows="5" placeholder=""></textarea>
          </div>
        </div>
        <div
          class="form-group"
          ng-if="!auth.user"
          >
          <div class="col-sm-5 col-sm-offset-2">
            <div class="captcha">
              <img class="img-responsive" src="img/captcha.gif" />
            </div>
          </div>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="captcha" placeholder="Are you a robot?">
          </div>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary pull-right">Send</button>
      </form>
    </div-->
  </div>
</div>
<!-- Content End -->
