<!-- Use row + col-12 here to get spacing for pull-right correct. -->
<div class="row">
  <div class="col-md-12">
    <span class="pull-right">
      <!--input type="text" class="form-control" placeholder="Filter
        annotations"-->
      <a href="#{{'article.annotations-new' | routeSegmentUrl}}"
        class="btn btn-primary"
        ng-disabled="!auth.user"
        >
        New discussion
      </a>
    </span>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">
        <ul class="list-inline">
          <li>
          <a href="#">
            <strong>
              <i class="fa fa-comment"></i> {{article.discussions.length}} open
            </strong>
          </a>
          </li>
          <li>
          <a href="#">
            <i class="fa fa-close"></i> 0 closed
          </a>
          </li>
        </ul>
        <!--span class="pull-right">Sort</span-->
      </div>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="discussion in article.discussions">
        <span class="pull-right">
          <span ng-if="discussion.replies.length > 0" style="margin-left:15px;">
            <i class="fa-comments"></i> {{discussion.replies.length}}
          </span>
        </span>
        <h4>
          <a
            href="#{{'article.discussion' | routeSegmentUrl: {num: discussion.number} }}"
            style="margin-right:15px;"
            >
            {{discussion.title}}</a>
          <ul class="ph-tags list-inline" style="display: inline-block;">
            <li ng-repeat="label in discussion.originalAnnotation.labels">
            <a href="#" class="btn btn-default {{label}}">{{label}}</a>
            </li>
          </ul>
        </h4>
        #{{discussion.number}} opened
        <span am-time-ago="{{discussion.originalAnnotation.time}}"></span>
        by
        <a href="#/users/{{discussion.originalAnnotation.author.userName}}">
          {{discussion.originalAnnotation.author.displayName}}
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
