<div ng-controller="SearchResultsCtrl">
  <div class="container ph-xl-margin-bottom">
    <div class="row">
      <div class="col-md-8">
        <div class="ph-lg-margin-bottom">
          <h3>
            All results for "{{input}}"
          </h3>
        </div>

        <div class="ph-lg-margin-top media" ng-repeat="document in documents">
          <h4>
            <a href="" title="{{document.title}}">
              {{document.title}}
            </a>
          </h4>
          <span ng-repeat="author in document.authors">
            {{author.name}}{{$last ? '' : ', '}}
          </span>
          <div class="ph-sm-margin-top">
            <small>
              {{document.abstract | limitTo: 220}}{{document.abstract.length > 220 ? '...' : ''}}
            </small>
          </div>
        </div>

      </div>
    </div>
    <!--uib-pagination
      boundary-links="true"
      total-items="totalItems"
      ng-model="currentPage"
      class="pagination-sm"
      previous-text="&lsaquo;"
      next-text="&rsaquo;"
      first-text="&laquo;"
      last-text="&raquo;"
    ></uib-pagination-->

  </div>
</div>
