<div ng-controller="SearchResultsCtrl">
  <div class="container">

    <h2>All results for "{{input}}"</h2>

    <div class="row ph-lg-margin-bottom row ph-lg-margin-top">
      <div class="col-md-8">

        <div class="ph-lg-margin-top media" ng-repeat="document in documents">
          <h4>
            <a href="" title="{{document.title}}" ng-click="goToDocument(document.id)">
              {{document.title}}
            </a>
          </h4>
          <span ng-repeat="author in document.authors">
            {{author.name}}{{$last ? '' : ', '}}
          </span>
          <div class="ph-sm-margin-top">
            <small>
              {{document.abstract | limitTo: 220}}{{document.abstract.length > 220 ? '...' : ''}}
            </small>
          </div>
        </div>

      </div>
    </div>

    <div class="row ph-lg-margin-bottom">
      <div class="col-md-8">
        <uib-pagination
          boundary-links="true"
          total-items="totalItems"
          ng-model="currentPage"
          class="pagination-sm"
          previous-text="&lsaquo;"
          next-text="&rsaquo;"
          first-text="&laquo;"
          last-text="&raquo;"
        ></uib-pagination>
      </div>
    </div>

  </div>
</div>
