<!-- Content Start -->
<div ng-controller="SignupCtrl" class="container ph-xl-margin-bottom">
  <h2 id="signup">Sign up</h2>

  <h4 class="ph-heading-light ph-md-margin-bottom">Already have an account at PaperHive? <a href="./login">Log in</a></h4>

  <div class="ph-flex-container">

    <div class="ph-flex-item-1">
    </div>

    <div class="ph-flex-item">
      <a href="" class="btn btn-default btn-block ph-md-margin-bottom"
        title="Sign in with your Google account">
        <img class="ph-login-icon" src="./static/img/google.svg"> Sign up with Google
      </a>
      <a href="{{auth.orcidUrl}}" class="btn btn-default btn-block"
        title="Sign up with your ORCID iD">
        <img class="ph-login-icon" src="./static/img/orcid.svg"> Sign up with ORCID
      </a>
    </div>

    <div class="ph-flex-item-1">
      <div class="ph-inner-flex-container">
        <div class="ph-inner-flex-item ph-login-line-separator"></div>
        <small class="ph-inner-flex-item ph-login-separator">OR</small>
        <div class="ph-inner-flex-item ph-login-line-separator"></div>
      </div>
    </div>

    <div class="ph-flex-item">
      <form name="signupForm">
        <div class="form-group" ng-class="{ 'has-error' : signupForm.email.$invalid && !signupForm.email.$pristine }">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" ng-model="signup.email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" ng-model="signup.password" required>
        </div>
        <div class="ph-lg-padding-top">
          <button class="btn btn-primary btn-block" ng-click="submit()">
            Sign up
          </button>
        </div>
      </form>
    </div>

    <div class="ph-flex-item-1">
    </div>

  </div>

</div>
<!-- Content End -->