<div class="container">
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <label for="handle" class="control-label col-sm-2">
        <i class="fa fa-fw fa-header"></i> Title
      </label>
      <div class="col-sm-10">
        {{article.title}}
      </div>
    </div>
    <div class="row" ng-if="article.authors.length == 1">
      <label for="handle" class="control-label col-sm-2">
        <i class="fa fa-fw fa-user"></i> Author
      </label>
      <div class="col-sm-10">
        <span ng-repeat="author in article.authors">
          {{author}}{{$last ? '' :', '}}
        </span>
      </div>
    </div>
    <div class="row" ng-if="article.authors.length > 1">
      <label for="handle" class="control-label col-sm-2">
        <i class="fa fa-fw fa-users"></i> Authors
      </label>
      <div class="col-sm-10">
        <span ng-repeat="author in article.authors">
          {{author}}{{$last ? '' :', '}}
        </span>
      </div>
    </div>
    <div class="row">
      <label for="handle" class="control-label col-sm-2">
        <i class="fa fa-fw fa-tags"></i> Tags
      </label>
      <div class="col-sm-10">
        <span ng-repeat="tag in article.tags">
          {{tag}}{{$last ? '' :', '}}
        </span>
      </div>
    </div>
    <div class="row">
      <label for="handle" class="control-label col-sm-2">
        <i class="fa fa-fw fa-clock-o"></i> published on
      </label>
      <div class="col-sm-10">
        {{article.publishedAt | date:'longDate'}}
      </div>
    </div>
    <div class="row">
      <label for="handle" class="control-label col-sm-2">
        <i class="fa fa-fw fa-cloud-download"></i> imported from
      </label>
      <div class="col-sm-10">
        <a href="{{article.source.url}}">
          {{article.source.url}}</a>
        on {{article.createdAt | date:'longDate'}}
      </div>
    </div>
  </div>
</div>
</div>
