<div ng-controller="ArticleCtrl">
  <div class="ph-header ph-header-large ph-lg-margin-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="ph-lg-margin-top">{{article.title}}</h2>
          <h4 class="ph-lg-margin-bottom">
            <span ng-repeat="author in article.authors">
              {{author}}{{$last ? '' :', '}}
            </span>
          </h4>
        </div>
      </div>
      <!--div class="row">
        <div class="col-md-12 text-right">
          <a ng-if="pdfSource"
             type="button"
             target="_blank"
             class="btn btn-default"
             ng-href="{{pdfSource}}">
            <i class="fa fa-fw fa-download"></i> Download
          </a>
          <a href="./{{'articles.discussions.new' | routeSegmentUrl}}"
             class="btn btn-default" ng-disabled="!auth.user">
            <i class="fa fa-fw fa-plus"></i> Add general comment
          </a>
        </div>
      </div-->
    </div>
    <div class="ph-affix-container">
      <div class="ph-affix ph-header-submenu-affix" ng-class="{'ph-affixed': affixed}"
          affix affix-use-parent-height="false"
          affix-offset-top="$root.navbarSize.height"
          affixed="affixed"
          >
        <div class="ph-header-submenu-container">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <subnav>
                  <ul class="nav nav-tabs ph-header-submenu">
                    <li subnav-target="articles.text">
                      <a><i class="fa fa-fw fa-file-pdf-o"></i> Article</a>
                    </li>
                    <li subnav-target="articles.discussions">
                      <a><i class="fa fa-fw fa-comments"></i> Discussions
                        <span class="badge" ng-if="discussions.stored.length > 0">
                          {{discussions.stored.length}}
                        </span></a>
                    </li>
                    <li subnav-target="articles.about">
                      <a><i class="fa fa-fw fa-info"></i> About</a>
                    </li>
                  </ul>
                </subnav>
              </div>
            </div>
          </div>
        </div>
        <div class="ph-header-shadow"></div>
      </div>
    </div>
  </div> <!-- ph-header -->
  <div class="container-fluid">
    <div app-view-segment="1"></div>
  </div>
</div>
