<div ng-controller="ArticleCtrl">
  <div class="ph-header ph-header-large ph-md-margin-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <ng-include src="'templates/articles/header.html'"></ng-include>
        </div>
      </div>
    </div>
    <div class="ph-header-submenu-container">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <subnav>
              <ul class="nav nav-tabs ph-header-submenu">
                <li subnav-target="articles.text">
                  <a><i class="fa fa-fw fa-file-pdf-o"></i> Text</a>
                </li>
                <li subnav-target="articles.discussions">
                  <a><i class="fa fa-fw fa-comments"></i> Discussions</a>
                </li>
                <li subnav-target="articles.activity">
                  <a><i class="fa fa-fw fa-clock-o"></i> Activity</a>
                </li>
                <li subnav-target="articles.settings">
                  <a><i class="fa fa-fw fa-cog"></i> Settings</a>
                </li>
              </ul>
            </subnav>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ph-header -->
  <div class="container">
    <div app-view-segment="1"></div>
  </div>
</div>
