<div ng-controller="ArticleNewCtrl">
  <div class="ph-header ph-lg-margin-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- title -->
          <div class="media">
            <div class="media-left">
              <span class="fa-stack ph-icon">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-file-text-o fa-stack-1x"></i>
              </span>
            </div>
            <div class="media-body ph-vertical-middle">
              <!--heading-->
              <h2 class="media-heading">Add an article</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <form name="articleNewForm" role="form" novalidate>

      <!-- article source -->
      <div class="row">

        <!-- approved source -->
        <div class="col-sm-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Add from approved source</h4>
            </div>
            <div class="panel-body">
              <div class="form-horizontal">
                <div class="form-group has-feedback" ng-class="{
                    'has-success': articleNewForm.handle.$valid,
                    'has-error': articleNewForm.handle.$invalid &&
                      articleNewForm.handle.$dirty
                  }">
                  <label for="handle" class="control-label col-sm-3">
                    Article URL
                  </label>
                  <div class="col-sm-9">
                    <input ng-model="handle" ng-disabled="submitting"
                      name="handle" type="text"
                      class="form-control" id="handle"
                      placeholder="Provide article URL or identifier"
                      validate-article-source="check.article"
                      required>
                    <i ng-if="articleNewForm.handle.$valid"
                      class="fa fa-fw fa-check form-control-feedback"
                      aria-hidden="true"></i>
                    <i ng-if="articleNewForm.handle.$pending"
                      class="fa fa-fw fa-spinner fa-spin form-control-feedback"
                      aria-hidden="true"></i>
                    <i ng-if="articleNewForm.handle.$invalid &&
                      articleNewForm.handle.$dirty"
                      class="fa fa-fw fa-times form-control-feedback"
                      aria-hidden="true"></i>
                  </div>
                </div>
                <div ng-show="check.article._id">
                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-9">
                      <p>
                        This article has already been added to PaperHive.
                      </p>
                      <p class="text-right">
                        <a href="./articles/{{check.article._id}}" class="btn btn-primary">
                          <i class="fa fa-fw fa-file-pdf-o"></i>
                          Show article
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
                <div ng-show="!check.article._id">
                  <div class="row">
                    <div class="col-sm-offset-3 col-sm-9">
                      <p class="text-right">
                        <button type="submit" ng-disabled="!articleNewForm.$valid || submitting"
                            ng-click="submitApproved()"
                            class="btn btn-primary">
                          <i class="fa fa-fw fa-plus" ng-show="!submitting"></i>
                          <i class="fa fa-fw fa-spinner fa-spin" ng-show="submitting"></i>
                          Add to PaperHive
                        </button>
                      </p>
                    </div>
                  </div>
                  <div uib-collapse="!check.article || check.article._id">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <div class="form-group">
                          <label class="control-label col-sm-3">
                            Title
                          </label>
                          <div class="col-sm-9">
                            <p class="form-control-static">
                              {{check.article.title}}
                            </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3">
                            Authors
                          </label>
                          <div class="col-sm-9">
                            <p class="form-control-static">
                              <span ng-repeat="author in check.article.authors">
                                {{author}}{{$last ? '' : ', '}}
                              </span>
                            </p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-3">
                            Published
                          </label>
                          <div class="col-sm-9">
                            <p class="form-control-static">
                              {{check.article.publishedAt | date:'longDate'}}
                            </p>
                          </div>
                        </div>
                        <div class="form-group" ng-if="check.article.tags.length">
                          <label class="control-label col-sm-3">
                            Tags
                          </label>
                          <div class="col-sm-9">
                            <p class="form-control-static">
                              <span ng-repeat="tag in check.article.tags">
                                {{tag}}{{$last ? '' : ', '}}
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="alert alert-info">
                <h5><strong>
                    <i class="fa fa-fw fa-info-circle"></i>
                    What are approved sources?
                </strong></h5>
                <p>
                  Currently approved article sources are:
                  <ul>
                    <li><a href="http://arxiv.org/">arXiv</a></li>
                  </ul>
                  Please <a href="./contact">contact us</a> to suggest further
                  article sources.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- private PDF -->
        <!--div class="col-sm-offset-1 col-sm-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">Upload PDF (disabled!)</h4>
            </div>
            <div class="panel-body">
              <button type="button" class="btn btn-default" disabled>
                Upload PDF
              </button>
            </div>
          </div>
        </div-->

      </div>
    </form>

  </div>
</div>
