<div ng-controller="ArticleTextCtrl">
  <div class="row ph-md-margin-bottom">
    <div class="col-md-12">
      <a href="#{{'articles.discussions.new' | routeSegmentUrl}}"
        class="btn btn-primary pull-right" ng-disabled="!auth.user">
        <i class="fa fa-fw fa-plus"></i> Add general comment
      </a>
      <div class="clearfix"></div>
    </div>
  </div>
    {{discussions}}
  <div class="row" ng-if="article.file.url">
    <div highlight-container class="col-md-9">
      <pdf
        pdf-url="article.file.url"
        pdf-text-overlay="true"
        pdf-progress="article.pdfProgress"
        on-text-select="$target && (originalComment.draft.target = $target)"
        highlight-root
        ></pdf>
      <div class="ph-highlight-layer" ng-if="article.pdfProgress.finished">
        <div
          highlight-target="originalComment.draft.target"
          highlight-info="text.highlightInfos.draft"></div>
        <div ng-repeat="discussion in discussions.stored"
          highlight-target="discussion.originalAnnotation.target"
          highlight-info="text.highlightInfos[discussion._id]"
          highlight-border="text.highlightBorder[discussion._id]"
          ></div>
      </div>
    </div>
    <!--column for margin notes-->
    <div class="col-md-3">
      <div ng-if="article.pdfProgress.downloading">
        <progressbar class="progress-striped active" value="100">
          Downloading...
        </progressbar>
      </div>
      <div ng-if="article.pdfProgress.numPages && !article.pdfProgress.finished">
        <progressbar class="progress-striped active"
          value="article.pdfProgress.renderedPages.length"
          max="article.pdfProgress.numPages">
          {{article.pdfProgress.renderedPages.length}} /
          {{article.pdfProgress.numPages}} pages
        </progressbar>
      </div>
      <margin-discussion
        ng-repeat="discussion in discussions.stored"
        ng-if="text.highlightInfos[discussion._id].top"
        ng-style="{'top': text.highlightInfos[discussion._id].top + 'px'}"
        discussion="discussion"
        ng-mouseenter="text.highlightBorder[discussion._id] = true"
        ng-mouseleave="text.highlightBorder[discussion._id] = false"
        >
      </margin-discussion>
      <margin-discussion-draft
        ng-if="originalComment.draft.target && text.highlightInfos.draft.top"
        ng-style="{'top': text.highlightInfos.draft.top + 'px'}"
        on-submit="addDiscussion($comment)"
        on-outside-mousedown="!originalComment.draft.body && purgeDraft()"
        comment="originalComment.draft"
        >
      </margin-discussion-draft>
    </div>
  </div>
</div>
