<div ng-controller="ArticleTextCtrl">
  <div class="row" ng-if="pdfSource">
    <div highlight-container class="col-md-9">
      <pdf
        pdf-url="pdfSource"
        pdf-text-overlay="true"
        pdf-progress="article.pdfProgress"
        on-text-select="$target && (originalComment.draft.target = $target)"
        highlight-root
        ></pdf>
      <div class="ph-highlight-layer" ng-if="article.pdfProgress.finished">
        <div
          highlight-target="originalComment.draft.target"
          highlight-info="text.highlightInfos.draft"></div>
        <div ng-repeat="discussion in discussions.stored"
          highlight-target="discussion.originalAnnotation.target"
          highlight-info="text.highlightInfos[discussion._id]"
          highlight-border="text.highlightBorder[discussion._id]"
          ></div>
      </div>
    </div>
    <!--column for margin notes-->
    <div class="col-md-3">
      <div ng-if="article.pdfProgress.downloading">
        <uib-progressbar class="progress-striped active" value="100">
          Downloading...
        </uib-progressbar>
      </div>
      <div ng-if="article.pdfProgress.numPages && !article.pdfProgress.finished">
        <uib-progressbar class="progress-striped active"
          value="article.pdfProgress.renderedPages.length"
          max="article.pdfProgress.numPages">
          {{article.pdfProgress.renderedPages.length}} /
          {{article.pdfProgress.numPages}} pages
        </uib-progressbar>
      </div>
      <margin-discussion
        ng-repeat="discussion in discussions.stored"
        ng-if="text.highlightInfos[discussion._id].top !== undefined"
        ng-show="text.marginOffsets[discussion._id] !== undefined"
        ng-style="{'top': text.marginOffsets[discussion._id] + 'px'}"
        discussion="discussion"
        on-original-update="originalUpdate(discussion, $comment)"
        on-discussion-delete="discussionDelete(discussion)"
        on-reply-submit="replyAdd(discussion, $reply)"
        on-reply-update="replyUpdate(discussion, $replyOld, $replyNew)"
        on-reply-delete="replyDelete(discussion, $reply._id)"
        ng-mouseenter="text.highlightBorder[discussion._id] = true"
        ng-mouseleave="text.highlightBorder[discussion._id] = false"
        element-size="text.marginDiscussionSizes[discussion._id]"
        >
      </margin-discussion>
      <margin-discussion-draft
        ng-if="originalComment.draft.target && text.highlightInfos.draft.top !== undefined"
        ng-style="{'top': text.highlightInfos.draft.top + 'px'}"
        on-submit="addDiscussion($comment)"
        on-outside-mousedown="!originalComment.draft.title &&
          !originalComment.draft.body && purgeDraft()"
        comment="originalComment.draft"
        element-size="text.marginDiscussionSizes.draft"
        >
      </margin-discussion-draft>
    </div>
  </div>
</div>
