<div class="row">
  <div class="col-sm-6">
    <h4>Hived documents</h4>
    <hived-docs person-id="$ctrl.user.id"></hived-docs>
  </div>
  <div class="col-sm-6">
    <h4>Discussions</h4>
    <span ng-if="$ctrl.discussions.length == 0">No discussions started yet.</span>
    <ul class="list-group" ng-if="$ctrl.discussions.length > 0">
      <li class="list-group-item" ng-repeat="discussion in $ctrl.discussions">
      <a href="./{{'documents.discussions.thread' | routeSegmentUrl: {discussionId: discussion.id} }}">
        <span
          ng-if="discussion.replies.length > 0"
          class="pull-right ph-discussion-replies-counter"
          >
          <i class="fa fa-comments"></i> {{discussion.replies.length}}
      </span></a>
        <h4>
          <a href="./documents/{{discussion.target.document}}/discussions/{{discussion.id}}">
            <kramjax body="discussion.title"></kramjax>
          </a>
          <ul
            ng-if="discussion.tags.length > 0"
            class="ph-tags list-inline"
            >
            <li ng-repeat="tag in discussion.tags">
              <a href="#" class="btn btn-default">{{tag}}</a>
            </li>
          </ul>
        </h4>
        <span class="ph-discussion-subtitle">
          opened <span am-time-ago="discussion.createdAt"></span>
          on document
          <a href="./documents/{{discussion.target.document}}">
            <kramjax
              body="discussion.target.documentRevision.title"
            ></kramjax>
          </a>
        </span>
      </li>
    </ul>
  </div>
</div>
