<ul class="nav navbar-nav" ng-controller="NavbarUserCtrl">
  <li ng-if="!auth.user && !auth.inProgress">
    <p class="navbar-btn ph-md-margin-left ph-md-margin-right">
    <a href="{{auth.orcidUrl}}" target="_self" class="btn btn-default"
      title="Sign in with your ORCID iD">
      <img class="ph-orcid-icon" src="./static/img/orcid.svg"> Sign in
    </a>
    </p>
  </li>
  <li ng-if="!auth.user && auth.inProgress">
    <p class="navbar-text">
      <uib-progressbar class="progress-striped active ph-no-margin" value="100">
        <span class="ph-lg-padding-left ph-lg-padding-right">Signing in...</span>
      </uib-progressbar>
    </p>
  </li>
  <li ng-if="auth.user" class="dropdown" is-open="dropdown_open" uib-dropdown>
    <a href="" class="dropdown-toggle" uib-dropdown-toggle>
      <gravatar user="auth.user" size="38" class="ph-avatar img-circle"/>
      {{auth.user.displayName}}
      <i class="fa fa-fw fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="./users/{{auth.user.user.username}}">
          <i class="fa fa-fw fa-user"></i> Profile
        </a>
      </li>
      <li>
        <a href="./articles/new">
          <i class="fa fa-fw fa-plus"></i> Add article
        </a>
      </li>
      <li>
        <a href="./settings">
          <i class="fa fa-fw fa-cog"></i> Settings
        </a>
      </li>
      <li>
        <a href ng-click="auth.signout()">
          <i class="fa fa-fw fa-sign-out"></i> Sign out
        </a>
      </li>
    </ul>
  </li>
</ul>
