<div class="container" ng-controller="DiscussionCtrl">
  <h3 class="ph-no-margin-top">
    <inline-editable
      original-content="discussion.title"
      on-save="discussion.title = $content; updateTitle($content);"
      >
    </inline-editable>
  </h3>
  <a href="./users/{{discussion.author.account.username}}">
    {{discussion.author.displayName}}</a>
  opened this discussion
  <span am-time-ago="discussion.createdAt"></span>
  <span ng-if="discussion.replies.length == 1">
    &middot; {{discussion.replies.length}} reply
  </span>
  <span ng-if="discussion.replies.length > 1">
    &middot; {{discussion.replies.length}} replies
  </span>

  <div ng-if="discussion.target.text">
    <hr>
    <h4>Referenced text</h4>
    <div class="well well-lg ph-reference">
      <blockquote>
        {{discussion.target.text}}
      </blockquote>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-10">
      <ul class="media-list">
        <li class="media">
          <comment
            content="discussion"
            on-update="updateDiscussion($comment)"
            requires-body="false"
            deletable="false"
            >
          </comment>
        </li>

        <li ng-repeat="reply in discussion.replies"
            class="media" id="reply.id">
          <comment
            content="reply"
            on-delete="deleteReply($comment, $index)"
            on-update="updateReply($comment, $index)"
            requires-body="true"
            deletable="true"
            >
          </comment>
        </li>

        <li class="media">
          <div ng-if="auth.user">
            <a class="media-left" href="./users/{{auth.user.account.username}}">
              <avatar user="auth.user" size="80" classes="img-circle">
              </avatar>
            </a>
            <div class="media-body">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form
                    name="commentForm"
                    ng-controller="CommentCtrl"
                    ng-submit="commentForm.$valid
                    && addReply(comment.body); comment.body=undefined;"
                    novalidate
                    >
                    <span class="ph-comment-help pull-right">
                      You can use
                      <a href="http://kramdown.gettalong.org/syntax.html" target="_blank">Markdown</a>,
                      $$<a href="http://en.wikibooks.org/wiki/LaTeX/Mathematics#Symbols"
                        target="_blank">LaTeX</a>$$,
                      ```<a href="https://highlightjs.org/" target="_blank">code blocks</a>```
                    </span>

                    <textarea
                      id="textbody"
                      class="form-control ph-comment-body ph-textarea-elastic ph-textarea-large"
                      ng-model="comment.body"
                      elastic
                      placeholder="Reply..."
                      required
                      ></textarea>
                    <hr>
                    <label for="preview">Preview</label>
                    <div class="well well-lg" id="preview">
                      <kramjax body="comment.body"></kramjax>
                    </div>
                    <span class="pull-right">
                      <!--
                      <button type="submit" class="btn btn-default">
                        Close discussion
                      </button>
                      &nbsp;
                      -->
                      <button
                        type="submit"
                        class="btn btn-primary"
                        ng-disabled="commentForm.$invalid"
                        >
                        Submit
                      </button>
                    </span>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div
            ng-if="!auth.user"
            class="media-body ph-login-info-block"
            >
            <div class="panel panel-default">
              <div class="panel-body">
                <a href="./signup?returnPath={{auth.returnPath}}">Sign up</a>
                or
                <a href="./login?returnPath={{auth.returnPath}}">log in</a>
                to join this discussion on PaperHive.
              </div>
            </div>
          </div>

        </li>
      </ul>
    </div>

    <div class="col-md-2">
      <!--a href="#">
        <h5>
          Labels <span class="pull-right"><i class="fa fa-gear"></i></span>
        </h5>
      </a-->
      <!--ul class="ph-tags">
        <li ng-repeat="label in discussion.tags">
        <a href="#" class="btn btn-default {{label}}">{{label}}</a>
        </li>
      </ul>
      <hr-->
      <!--h5>Notifications</h5>
      <button type="button" class="btn btn-default ph-subscription-button"
        ng-disabled="!auth.user" ng-click="toggleSubscribe()">
        <span ng-show="isSubscribed">
          <i class="fa fa-bell-slash"></i> Unsubscribe
        </span>
        <span ng-show="!isSubscribed">
          <i class="fa fa-bell"></i> Subscribe
        </span>
      </button>
      <span ng-show="isSubscribed" class="ph-subscription-text">
        You're receiving notifications because you're subscribed to this thread.
      </span>
      <span ng-show="!isSubscribed" class="ph-subscription-text">
        You're ignoring this thread.
      </span>
      <hr-->
      <h5>Participants</h5>
      <avatar-list discussion="discussion"></avatar-list>
    </div>

  </div>
</div>
