<span ng-if="!c.isEditMode">
  {{ngModel}}
  <button
    class="btn btn-link"
    ng-click="c.isEditMode = true"
    >
    <i class="fa fa-pencil"></i>
  </button>
</span>
<form
  ng-if="c.isEditMode"
  name="inlineEditForm"
  ng-submit="inlineEditForm.$valid && update(ngModel)"
  novalidate
  >
  <input
  type="text"
  class="form-control ph-discussion-title"
  size="{{ngModel.length + 5}}"
  ng-model="ngModel"
  required
  >
  <button
    class="btn btn-default"
    ng-disabled="!inlineEditForm.$valid"
    type="submit"
    >
    <i class="fa fa-check"></i>
  </button>
  <button
    class="btn btn-default"
    ng-click="reset()"
    >
    <i class="fa fa-remove"></i>
  </button>
</form>
