<!doctype html>

<html lang="en" ng-app="paperHub" ng-strict-di>
  <head ng-controller="MetaCtrl">
    <title data-ng-bind="metaService.title"></title>
    <meta charset="utf-8">
    <meta
      ng-if="metaService.author"
      name="author"
      content="{{metaService.author}}"
      >
    <meta
      ng-if="metaService.description"
      name="description"
      content="{{metaService.description}}"
      >
    <meta
      ng-if="metaService.keywords"
      name="keywords"
      content="{{metaService.keywords}}"
      >
    <meta name="language" content="en">
    <meta name="application-name" content="PaperHub">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- TODO: bundle mathjax in index.js -->
    <script src="assets/mathjax/MathJax.js?config=TeX-AMS_HTML-full,Safe">
    </script>

    <link href="index.css" rel="stylesheet">
    <script src="index.js"></script>
  </head>
  <body>
    <header>
      <ng-include src="'templates/shared/navbar.html'"></ng-include>
    </header>
    <main class="ph-lg-padding-bottom">
      <div app-view-segment="0"></div>
    </main>
    <footer class="container-fluid">
      <ng-include src="'templates/shared/footer.html'"></ng-include>
    </footer>
    <ng-include src="'templates/shared/notifications.html'"></ng-include>
  </body>
</html>
