<!doctype html>

<html lang="en" ng-app="paperHive" ng-strict-di>
  <head ng-controller="MetaCtrl">
    <!-- base href is the entry point of the deployed app -->
    <base href="<%= config.baseHref %>">
    <title data-ng-bind="metaService.data.title"></title>
    <meta charset="utf-8">
    <meta name="language" content="en">
    <meta name="application-name" content="PaperHive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta
      ng-repeat="(name, content) in metaService.data.meta"
      name="{{name}}" content="{{content}}"
      >
    <!-- TODO: bundle mathjax in index.js -->
    <script src="assets/mathjax/MathJax.js?config=TeX-AMS_HTML-full,Safe">
    </script>

    <link href="index.css" rel="stylesheet">
    <script src="index.js"></script>
  </head>
  <body>
    <header>
      <ng-include src="'templates/shared/navbar.html'"></ng-include>
    </header>
    <main class="ph-lg-padding-bottom">
      <div app-view-segment="0"></div>
    </main>
    <footer class="container-fluid">
      <ng-include src="'templates/shared/footer.html'"></ng-include>
    </footer>
    <ng-include src="'templates/shared/notifications.html'"></ng-include>

    <a href="./alpha-warning"
        class="ph-badge-left ph-warning hidden-xs hidden-sm">
      <i class="fa fa-exclamation-circle ph-icon-margin"></i> alpha
    </a>
    <a href="./contact"
        class="ph-badge-left ph-feedback hidden-xs hidden-sm">
      <i class="fa fa-envelope ph-icon-margin"></i> feedback
    </a>
  </body>
</html>
