<div class="container" ng-controller="">
  <div class="row ph-md-margin-bottom" >
    <div class="col-md-10">
      <ul class="list-group">

        <li class="list-group-item">
          <div class="media">
            <div class="media-left media-middle ph-sm-padding-left">
              <i style="color: #10b2de" class="fa fa-comment fa-2x" aria-hidden="true"></i>
            </div>
            <div class="media-body ph-md-padding-left">
              <div class="text-muted small">
                9 hours ago
              </div>
              <div>
                <a>jengeb</a> started a <a>discussion</a> on <a>document</a>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="media">
            <div class="media-left media-middle ph-sm-padding-left">
              <i style="color: #10b2de" class="fa fa-reply fa-2x" aria-hidden="true"></i>
            </div>
            <div class="media-body ph-md-padding-left">
              <div class="text-muted small">
                10 hours ago
              </div>
              <div>
                <a>jengeb</a> added a reply to <a>discussion</a> on <a>document</a>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="media">
            <div class="media-left media-middle ph-sm-padding-left">
              <i style="color: #10b2de" class="fa fa-reply fa-2x" aria-hidden="true"></i>
            </div>
            <div class="media-body ph-md-padding-left">
              <div class="text-muted small">
                11 hours ago
              </div>
              <div>
                <a>andre</a> updated a reply to <a>discussion</a> on <a>document</a>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="media">
            <div class="media-left media-middle ph-sm-padding-left">
              <i style="color: #10b2de" class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
            </div>
            <div class="media-body ph-md-padding-left">
              <div class="text-muted small">
                12 hours ago
              </div>
              <div>
                <a><img width="19" height="19" class="img-circle" src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=136"> andre</a> updated a <a>discussion</a> on <a>document</a>
              </div>
              <span class="label label-info">Math</span> <span class="label label-info">Math</span> <span class="label label-info">Math</span> 
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>