<ul class="ph-timeline">

  <li class="ph-timeline-inverted">
    <div class="ph-timeline-badge">
      <i class="fa fa-heartbeat" aria-hidden="true"></i>
    </div>
    <div class="panel panel-default ph-timeline-panel ph-activity-container">
      <div class="ph-timeline-arrow-container">
        <div class="ph-arrow ph-arrow-outward-left"></div>
      </div>

      <div ng-if="$ctrl.document" class="text-muted">
        You can discuss, reply and hive documents to start up your activity now.
      </div>

      <div ng-if="$ctrl.person" class="text-muted">
        <span ng-if="$ctrl.auth.user.id === $ctrl.person.id">
          You can improve your activity by discussing, replying and hiving documents.
        </span>
        <span ng-if="$ctrl.auth.user.id !== $ctrl.person.id">
          Here you can find recently discussed, replied and hived documents by {{$ctrl.person.displayName}}.
        </span>
      </div>
    </div>
  </li>

  <li ng-repeat="activity in $ctrl.activities" class="ph-timeline-inverted">

    <div class="ph-timeline-badge"
      ng-if="activity.activityType === 'updateReply' || activity.activityType === 'createReply'"
    >
      <i class="fa fa-reply" aria-hidden="true"></i>
    </div>
    <div class="ph-timeline-badge"
      ng-if="activity.activityType === 'updateDiscussion' || activity.activityType === 'createDiscussion'"
    >
      <i class="fa fa-comment" aria-hidden="true"></i>
    </div>
    <div ng-if="activity.activityType === 'documentHived'" class="ph-timeline-badge">
      <img alt="logo white" height="30" src="./static/img/logo-hexagon-white.svg" />
    </div>

    <div class="panel panel-default ph-timeline-panel ph-activity-container">
      <div class="ph-timeline-arrow-container">
        <div class="ph-arrow ph-arrow-outward-left"></div>
      </div>
      <div class="ph-activity">

        <div class="ph-timeline-date">
          <small class="text-muted">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span am-time-ago="activity.updatedAt"></span>
          </small>
        </div>

        <a ng-if="!$ctrl.person" class="ph-link-icon" ng-href="./users/{{activity.person.account.username}}">
          <avatar user="activity.person" size="25" classes="img-circle"></avatar>
        </a>
        <a ng-href="./users/{{activity.person.account.username}}">{{activity.person.displayName}}</a>

        <span ng-switch="activity.activityType">
          <span ng-switch-when="documentHived">
            <span ng-if="$ctrl.document">hived this document</span>
            <span ng-if="$ctrl.person">
              hived
              <small>
                <a ng-href="./documents/{{activity.document.id}}">{{activity.documentRevision.title}}</a>
                <span class="text-muted" ng-repeat="author in activity.documentRevision.authors">
                  {{author.name}}{{$last ? '' :', '}}
                </span>
              </small>
            </span>
          </span>
          <span ng-switch-when="createDiscussion">started</span>
          <span ng-switch-when="createReply">replied to</span>
          <span ng-switch-when="updateReply">updated a reply to</span>
          <span ng-switch-when="updateDiscussion">updated</span>
        </span>

        <span ng-if="activity.activityType !== 'documentHived'">
          <a ng-href="./documents/{{activity.document.id}}/discussions/{{activity.discussion.id}}">{{activity.discussion.title}}</a>
          <div ng-if="$ctrl.person">
            <small>
              on
              <a ng-href="./documents/{{activity.document.id}}">{{activity.documentRevision.title}}</a>
              <span class="text-muted" ng-repeat="author in activity.documentRevision.authors">
                {{author.name}}{{$last ? '' :', '}}
              </span>
            </small>
          </div>
        </span>

      </div>
    </div>
  </li>
</ul>

