<ul class="ph-timeline" ng-if="$ctrl.activities.length">
  <li ng-repeat="activity in $ctrl.activities" class="ph-timeline-inverted">
    <div ng-if="activity.activityType === 'updateReply' || activity.activityType === 'createReply'" class="ph-timeline-badge">
      <i class="fa fa-reply" aria-hidden="true"></i>
    </div>
    <div ng-if="activity.activityType === 'updateDiscussion' || activity.activityType === 'createDiscussion'" class="ph-timeline-badge">
      <i class="fa fa-comment" aria-hidden="true"></i>
    </div>
    <div ng-if="activity.activityType === 'documentHived'" class="ph-timeline-badge">
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
    <div class="ph-timeline-panel">
      <div class="ph-sm-margin-bottom">
        <small class="text-muted">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span am-time-ago="activity.updatedAt"></span>
        </small>
      </div>
      <div>
        <span ng-if="activity.person.account.avatar.type === 'google'">
          <img width="23" height="23" class="img-circle" src="{{activity.person.account.avatar.value}}">
        </span>
        <a ng-if="activity.person.account.avatar.type === 'gravatar'">
          <img width="23" height="23" class="img-circle" src="http://www.gravatar.com/avatar/{{activity.person.account.avatar.value}}">
        </a>
        <a href="http://localhost:8080/users/{{activity.person.account.username}}"><strong>{{activity.person.displayName}}</strong></a>
        <span ng-if="activity.activityType === 'documentHived'">
          hived this document
        </span>
        <span ng-if="activity.activityType === 'createDiscussion'">
          started a
        </span>
        <span ng-if="activity.activityType === 'createReply'">
          added a reply to
        </span>
        <span ng-if="activity.activityType === 'updateReply'">
          updated a reply to
        </span>
        <span ng-if="activity.activityType === 'updateDiscussion'">
          updated a
        </span>
        <span ng-if="activity.activityType !== 'documentHived'">
          <a ng-href="http://localhost:8080/documents/{{activity.document.id}}/discussions/{{activity.discussion.id}}">discussion</a>
        </span>
      </div>
    </div>
  </li>
</ul>
