<ul class="nav navbar-nav">
  <li ng-if="!auth.user && !auth.inProgress">
    <p class="navbar-btn ph-md-margin-left ph-md-margin-right">
      <a
        href="./signup?returnPath={{auth.returnPath}}"
        class="btn btn-primary"
        popover-placement="bottom"
        popover-is-open="true"
        uib-popover-template="'html/shared/popover.html'"
      >Sign up</a>
      <a href="./login?returnPath={{auth.returnPath}}" class="btn btn-default"
        >Log in</a>
    </p>
  </li>
  <li ng-if="!auth.user && auth.inProgress">
    <p class="navbar-text">
      <uib-progressbar class="progress-striped active ph-no-margin" value="100">
        <span class="ph-lg-padding-left ph-lg-padding-right">Logging in...</span>
      </uib-progressbar>
    </p>
  </li>
  <li ng-if="auth.user" class="dropdown" is-open="dropdown_open" uib-dropdown>
    <a href="" class="dropdown-toggle" uib-dropdown-toggle>
      <avatar user="auth.user" size="38" classes="ph-avatar img-circle">
      </avatar>
      {{auth.user.displayName}}
      <i ng-if="!dropdown_open" class="fa fa-fw fa-caret-down"></i>
      <i ng-if="dropdown_open" class="fa fa-fw fa-caret-up"></i>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="./users/{{auth.user.account.username}}">
          <i class="fa fa-fw fa-user"></i> Profile
        </a>
      </li>
      <li>
        <a href="./documents/new">
          <i class="fa fa-fw fa-plus"></i> Add arXiv article
        </a>
      </li>
      <li>
        <a href="./settings">
          <i class="fa fa-fw fa-cog"></i> Settings
        </a>
      </li>
      <li>
        <a href ng-click="auth.logout()">
          <i class="fa fa-fw fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </li>
</ul>
