<style>
  .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }
  .flex-item {
    /*display: -webkit-flex;
    display: flex;*/
    margin-right: 4em;
    margin-bottom: 1em;
    flex: 0 0 300px;
  }
</style>

<div class="container ph-md-margin-top ph-lg-margin-bottom">

  <h2>
    Anthropology
  </h2>

  <div class="row ph-sm-margin-bottom">

    <div class="col-md-12">

      <div class="flex-container">

        <document-item class="flex-item"></document-item>
        <document-item class="flex-item"></document-item>
        <document-item class="flex-item"></document-item>
        <document-item class="flex-item"></document-item>


        <document-item class="flex-item"></document-item>

      </div>

    </div>
  </div>
</div>
