<div class="container ph-md-margin-top">
  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Basic example
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>

      <div class="col-md-1"></div>

      <div class="panel panel-default col-md-3">
        <div class="panel-body">
          Basic panel example
        </div>
      </div>

    </div>
  </div>
</div>