<style>
  .flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }
  .flex-item {
    /*display: -webkit-flex;
    display: flex;*/
    margin-right: 4em;
    margin-bottom: 1em;
    flex: 0 0 300px;
  }
</style>

<div class="container ph-md-margin-top ph-lg-margin-bottom">

  <div ng-repeat="category in $ctrl.categories">
    <h2>
      {{category.category}}
    </h2>

    <div class="row ph-sm-margin-bottom">

      <div class="col-md-12">

        <div class="flex-container">

          <document-item document="document" class="flex-item" ng-repeat="document in category.documents"></document-item>

        </div>

      </div>
    </div>
  </div>
</div>
